﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ReportsViewer.aspx.cs" Inherits="mLender.Reports.ReportsViewer" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" Namespace="CrystalDecisions.Web" TagPrefix="CR" %>
<CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true" />
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>View Report</title>
      <script lang="javaScript" type="text/javascript" src="~/crystalreportviewers13/js/crviewer/crv.js">
      </script> 
</head>
<body>
    <iframe src="../Views/Report/cashbook.cshtml"></iframe>
    <%--<form id="form1" runat="server">
        <div>
                <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
   <td>
        <CR:CrystalReportViewer ID="rptviewer" 
    runat="server" AutoDataBind="true" />
   </td>
    </tr>
                </table>
        </div>
    </form>--%>
</body>
</html>
