﻿@model mLender.Models.Receipt

@{
    ViewBag.Title = "Member Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("_LeftMenu")
}

<style type="text/css">
    #receipt_details_body {
        white-space: nowrap;
        font-size: 90%;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/Scripts/bootstrap.js"></script>

<!--sel<!--select 2 dropdown search-->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>

<script src="~/Scripts/MyCustomScripts.js"></script>


@using (Html.BeginForm("combinedreceipt", "receipt",
       new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
        new
        {
            @id = "combinedreceipt",
            @class = "bootstrap-admin-medium-form "


        }))
{
    @Html.AntiForgeryToken()

    <h4 style="        text-align: center;
        color: darkcyan
">Member Receipt</h4>
    <hr />
    <fieldset>


        @*show success/error message here*@
        <div id="msg" style="text-align:center;color:darkcyan"></div>
        <div class="floatleft" style="height:230px">

            <div class="form-group">

                <div class="editor-label">
                    @Html.Label("Member")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.member_number, (SelectList)ViewBag.members, "---select Member--",
                                           htmlAttributes: new
                                                {
                                                    required = "required",
                                                                    @class = "form-control search receipt",
                                                                    @id = "member",

                                           })
                    @Html.ValidationMessageFor(model => model.member_number)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    @Html.Label("Receipt Date")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.receipt_date, "{0:dd/MMM/yyyy}", htmlAttributes: new
               {
                   @class = "form-control dtPicker receipt",
                   required = "required",
                   placeholder = "Enter Receipt Date",
                   id = "receipt_date"
               })
                    @Html.ValidationMessageFor(model => model.receipt_date)
                </div>
            </div>
            <div class="editor-label">
                @Html.Label("Bank Account")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.debit_account,
                                    (SelectList)ViewBag.ledgers, "--Select Bank Account--",
                                       htmlAttributes: new
                                            {
                                                required = "required",
                                                @class = "form-control receipt",
                                                                @id = "bank",

                                                            })
                @Html.ValidationMessageFor(model => model.debit_account)
            </div>

        </div>
        <div class="floatright" style="height:230px">
            <div class="form-group">

                <div class="editor-label">
                    @Html.Label("Reference Number")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.reference_number, htmlAttributes: new
               {
                   @class = "form-control  receipt",
                   required = "required"
               })
                    @Html.ValidationMessageFor(model => model.reference_number)
                </div>
            </div>
            <div class="editor-label">
                @Html.Label("Amount")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.amount, htmlAttributes: new
           {
               @class = "form-control  receipt total",
               required = "required",
               @Value = 0,
               @min = 1,
               @type = "number",
               @id = "amount"
           })
                @Html.ValidationMessageFor(model => model.amount)
            </div>
            <div style="margin-top:3.5em">
                <span>
                    <input id="generate_expectation" class="btn btn-deep-orange glyphicon glyphicon-arrow-left" value="Generate" type="button" />
                </span>
            </div>
        </div>
        <hr />
        <div id="receipt_table">
            <div class="bootstrap-admin-panel-content">

                <table class="table table-striped" id="receipt_details">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Loan No</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Balance</th>
                            <th> Amount Expected</th>
                            <th> Amount Paid</th>


                        </tr>
                    </thead>
                    <tbody id="receipt_details_body">
                        @*<tr>
                            <td id="type"></td>
                            <td id="loan_no"></td>
                            <td id="name"></td>
                            <td id="amount_issued"></td>
                            <td id="amount_expected"></td>
                            <td><input type="number"  min="0"  size="6" /></td>

                        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
        <div class="floatright">
            <div style="display:inline-flex">

                <label class="label" style="margin-right:3em">
                    Total
                </label>
                <span style="margin-right:2em">
                    <input type="number" class="form-control total" id="actual_amount_total" readonly="readonly" value="0" />
                </span>

                <input id="process_receipt" class="btn btn-deep-orange glyphicon glyphicon-arrow-left" value="Save" type="button" />

            </div>

        </div>
    </fieldset>
}

@*restrict max date to be today max date is zero by putting max date 0*@
<script type="text/javascript">
    $(".dtPicker").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });
</script>

@*search the dropdown using select 2*@
<script type="text/javascript">
    $('#member').select2();
    $('#bank').select2();

</script>

<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".receipt").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>
<!--process payment on click>-->
<script type="text/javascript">

            $("#process_receipt").click(function (e) {
                if (checkEmptyFields() & $('#amount').val() > 0 & checkAmountReceived_And_Amount_Distributed()) {

                    e.preventDefault();

                    var tableRowcount = $('#receipt_details_body tr').length;//we use this to loop each row and save
                    console.log(tableRowcount);

                    var i= 1;
                    while (i <= tableRowcount) {

                        saveCombinedReceipt(i);

                        i += 1;

                    }



                }
            })

</script>



<!-- get expectations-->
<script type="text/javascript">
    //var i = 1;

    function getExpectations() {
        var i = 1;

        const url = '/receipt/get_Member_expectations';
        var params = { member_number: $("#member").val(), from_date: $("#receipt_date").val() }

        $.getJSON(url, params, function (data) {
            var body = "<tr>";

            $.each(data, function (key, entry) {
                //console.log(data);
                if (entry[3].Value > 0) {

                    let type = entry[0].Value;
                    let loan_no = entry[1].Value;
                    let name = entry[2].Value;
                    let amount_issued = parseFloat(entry[3].Value).toLocaleString();
                    let balance=parseFloat(entry[4].Value).toLocaleString();
                    let amount_expected = parseFloat(entry[5].Value);
                    let priority=parseInt( entry[6].Value);

                    $('#receipt_details_body').append('<tr><td id="type_' + i + '">' + type + '</td><td id="loan_' + i + '">' + loan_no + '</td><td>' + name + '</td>' +
                        '<td> ' + amount_issued + '</td><td>' + balance + '</td><td id="amount_expected_' + i + '"> ' + amount_expected + '</td>'+
                        '<td class= "hidden" id = "priority_' + i + '" > ' + priority + '</td>'+
                        '<td> <input type="number" onkeyup="valid(this)" readonly="readonly" class="form-control type_total actual_amount_'+i+'" data-id="' + i + '" min=0 id = "actual_amount_' + i + '" value = ' + amount_expected + ' /></td ></tr > ');

                    //$('#receipt_details').append(body);
                    var actual_amount = parseFloat($('#actual_amount_total').val())

                    var tot = parseFloat(actual_amount + amount_expected)
                    $('#actual_amount_total').val(tot)
                }
                else {
                         $('#receipt_details_body').append("<tr><td style='text-align:center;color:red' colspan='5'>" + "No expectation Found for this client!." + "</td></tr>")
                    }

                i += 1;
            })
        })

    }



</script>

<!-- Get expectation when button generate is clicked changes-->
<script type="text/javascript">

    $("#generate_expectation").click(function (e) {

        var actual_amount = parseFloat($('#actual_amount_total').val(0)) // init the total figure

        $('#receipt_details_body tr td').detach();//clear content of the table before reloading the content
        if (checkEmptyFields()) {
            getExpectations();
        }
    })


</script>


<script type="text/javascript">

    function valid(obj) {
        var id = $(obj).attr('data-id');
        console.log(id);

        $(".actual_amount").each(function (i, obj) {


            $('#receipt_details').on('change keypress keydown input paste drop', '.actual_amount', function (evt) {
                try {
                    var charCode = (evt.which) ? evt.which : evt.keyCode;
                    if (charCode != 46 && charCode > 31
                        && (charCode < 48 || charCode > 57)) {

                        return false;
                    }
                    else {
                        return true;

                    }

                }
                catch (err) {
                    alert(err.Description);
                }
            });
        });
    }

</script>

<!--Check for numbers only-->
<script type="text/javascript">

    $("#amount").each(function (i, obj) {

        $(this).onlyNumb();

    });



</script>

<!--sumit the form values-->
<script type="text/javascript">


    function saveCombinedReceipt(r) {


       

            console.log(r)
            $.ajax({
                type: "POST",
                url: "/receipt/CombinedReceipt",
                data:
                {
                    member_number: $('#member').val(),
                    type: document.getElementById('type_' + r).innerText,
                    loan_no: document.getElementById('loan_' + r).innerText,
                    amount: $("#actual_amount_" + r).val(),
                    receipt_date: $('#receipt_date').val(),
                    debit_account: $('#bank').val(),
                    reference_number: $('#reference_number').val()


                },

                success: function (data) {

                    swal("", data, "info").then(() => { window.location = "/receipt/index"});

                },
                error: function (request, status, error) {
                      swal("Receipt", error, "error");


                }

            })
            
        
        //location.reload(true)


    }

</script>
<script type="text/javascript">
    //datepickers
    $(".dtPicker ").each(function () {
        $(this).DisablePastingAndEdit();
    })
    ////comma separator
    //$(".total").each(function () {
    //    //var num = $(this).val();
    //   $(this).numberWithCommas(num);

    //})
</script>

<script type="text/javascript">

    function valid(obj) {
        var id = $(obj).attr('data-id');
        //console.log(id);

        $(".actual_amount").each(function (i, obj) {


            $('#receipt_details').on('input change', '.actual_amount', function (evt) {
                try {


                    //loop through each row
                    var row_count = $('#receipt_details_body tr').length;


                    $('.actual_amount').on('input change', function () {
                        var actual_amount = parseFloat($('#actual_amount_total').val(0))
                        for (var d = 1; d <= row_count; d++) {

                            var amount = parseFloat($('#receipt_details_body  tr').parent().parent().find('#actual_amount_' + d).val());

                            //console.log(d)

                            var actual_amount = parseFloat($('#actual_amount_total').val())

                            var total_amount = parseFloat(amount + actual_amount);
                            var total_actual_amount = total_amount;
                            parseFloat($('#actual_amount_total').val(total_actual_amount))


                        }
                    })
                }
                catch (err) {
                    alert(err.Description);
                }

            })
        })
    }



</script>

<!--separate with comma-->
<script type="text/javascript">

    //comma separator
    $(".total").each(function () {
        //var num = $(this).val();
        var num = $(this).val();
        $(this).numberWithCommas(num);

    })

</script>

@*check if amount received vs distributed is equal*@
<script type="text/javascript">
    function checkAmountReceived_And_Amount_Distributed() {
        var amount_received = $('#amount').val();
        var amount_distributed = $('#actual_amount_total').val();
        if (amount_received != amount_distributed) {
            swal("",'Amount received should be equal to amount distributed!',"warning")
            return false
        } else {
            return true
        }
    }
</script>

<!--check priorities in amount distribution-->
<script type="text/javascript">

    function receipt_Total_Change() {

        var row_count = $('#receipt_details_body tr').length;

        var i = 1;


        var total_receipt = parseFloat($('#amount').val());
        var balance = total_receipt;
        var amount_distributed=0

        while (i <= row_count) {

            var priority = parseInt(document.getElementById("priority_" + i + "").innerText);
            var amount_type = parseFloat(document.getElementById("amount_expected_" + i + "").innerText);



            console.log("total balance= " + balance);

            if (priority === 1) {

                if (amount_type < total_receipt) {
                    $(".actual_amount_" + i + "").val(amount_type);

                    amount_distributed += amount_type;

                    balance -=parseFloat( $(".actual_amount_" + i + "").val());
                }
                
                else {
                    $(".actual_amount_" + i + "").val(balance);
                    //balance =parseFloat( $(".actual_amount_" + i + "").val());
                    amount_distributed += balance;
                    balance = 0;


                }

            }
            if (priority === 2) {

                console.log("priority 2= "+balance);

                if (amount_type < balance) {
                    $(".actual_amount_" + i + "").val(amount_type);
                    amount_distributed += amount_type;

                    balance -=parseFloat($(".actual_amount_" + i + "").val());

                }
               
                else {
                    $(".actual_amount_" + i + "").val(balance);
                    amount_distributed += balance;

                    balance = 0;

                }
            }
            if (priority === 3) {


                if (amount_type < balance) {
                    $(".actual_amount_" + i + "").val(amount_type);
                    amount_distributed += amount_type;

                    balance -=parseFloat( $(".actual_amount_" + i + "").val());

                }
                
                else {
                    $(".actual_amount_" + i + "").val(balance);
                    amount_distributed += balance;

                    balance = 0;

                }
            }
            if (priority === 4) {


                if (amount_type < balance) {
                    $(".actual_amount_" + i + "").val(amount_type);
                    amount_distributed += amount_type;

                    balance -=parseFloat( $(".actual_amount_" + i + "").val());

                }
                
                else {
                    $(".actual_amount_" + i + "").val(balance);
                    amount_distributed += balance;

                    balance = 0;

                }
            }
            if (priority === 5) {


                if (amount_type < balance) {
                    $(".actual_amount_" + i + "").val(amount_type);
                    amount_distributed += amount_type;

                    balance -=parseFloat( $(".actual_amount_" + i + "").val());

                }
                
                else {
                    $(".actual_amount_" + i + "").val(balance);
                    amount_distributed += balance;

                    balance = 0;

                }
            }
            if (priority === 6) {


                if (amount_type < balance) {
                    $(".actual_amount_" + i + "").val(amount_type);
                    amount_distributed += amount_type;

                    balance -=parseFloat( $(".actual_amount_" + i + "").val());

                }
                
                else {
                    $(".actual_amount_" + i + "").val(balance);
                    amount_distributed += balance;

                    balance = 0;

                }
            }


                //balance -= parseFloat($(".actual_amount_" + i + "").val());

                console.log("End= " + balance);
                $('#actual_amount_total').val(amount_distributed)
            i += 1; 
        }

        }
        



</script>

<script  type="text/javascript">
    $('#amount').on('input change',function () {
        receipt_Total_Change();
    })
</script>