﻿@model IEnumerable<mLender.Models.Receipt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}
<style type="text/css">
    #receipts td {
        white-space: nowrap;
        font-size: 95%;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

<h4 style="text-align:center">Receipt List</h4>

<p>
    @Html.ActionLink("Create New", "combinedreceipt", new { }, new { @class = "btn btn-sm btn-success glyphicon  glyphicon-plus new_receipt", @style = "color:white" })
</p>
<div class="panel panel-default  col-md-10">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped table-responsive" id="receipts">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayName("Receipt No")
                    </th>
                    <th>
                        @Html.DisplayName("Member")
                    </th>
                    <th>
                        @Html.DisplayName("Type")
                    </th>
                    <th>
                        @Html.DisplayName("Description")
                    </th>

                    <th>
                        @Html.DisplayName("Receipt Date")
                    </th>
                    <th>
                        @Html.DisplayName("Ref No")
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.receipt_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.member_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>

                    <td>
                        @item.receipt_date.ToShortDateString()
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.reference_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amount)
                    </td>
                    <td class="hidden">
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<!--data tables-->
<script type="text/javascript">

    $('#receipts').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null, null, null]
        });

</script>