﻿@model mLender.Models.NonMemberWalletReceipt

@{
    ViewBag.Title = "NonMemberReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}
<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


@using (Html.BeginForm("nonmemberreceipt", "Receipt", new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
            new { @class = "bootstrap-admin-small-form col-md-6", @id = "nonMember" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>WalletReceipt</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.IDNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IDNo, new { htmlAttributes = new { @class = "form-control",
              required = "required"
       
       } })
            @Html.ValidationMessageFor(model => model.IDNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control",
              required = "required"
       
       } })
            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Bank Account", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.debit_account,
                                (SelectList)ViewBag.ledgers, "--Select Bank Account--",
                                   htmlAttributes: new
                                        {
                                            required = "required",
                                            @class = "form-control receipt",
                                                            @id = "bank",

                                                        })
            @Html.ValidationMessageFor(model => model.debit_account)
        </div>
    </div>
        <div class="form-group">
            @Html.Label("Receipt date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.receipt_date, "{0:dd/MMM/yyyy}", htmlAttributes: new
          {
              @class = "form-control dtPicker receipt",
              required = "required",
              placeholder = "Enter Receipt Date",
              id = "receipt_date"
          })
                @Html.ValidationMessageFor(model => model.receipt_date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Reference No", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.reference_number, new { htmlAttributes = new { @class = "form-control" ,
              required = "required"
           
           } })
                @Html.ValidationMessageFor(model => model.reference_number, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Credit, new { htmlAttributes = new { @class = "form-control" ,
              required = "required"
           
           } })
                @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    //datepickers
     $(".dtPicker").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });
    $(".dtPicker ").each(function () {
        $(this).DisablePastingAndEdit();
    })
    
</script>