﻿@model mLender.Models.OtherReceipts

@{
    ViewBag.Title = "OtherReceipts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
    var sql = "EXEC get_ledgers";
    var data = Database.Open("JIOKOe").Query(sql);
}

<style type="text/css">
    .input-field {
        width: 50%;
    }

    textfield {
        width: 50%;
    }
</style>

<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>




@using (Html.BeginForm("otherreceipts", "receipt", new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
            new { @class = "bootstrap-admin-large-form", @id = "nonMember" }))
{
    @Html.AntiForgeryToken()

    <h4>Other Receipts</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger warning" })

    <div class="form-group">
        @Html.Label("Receipt From", htmlAttributes: new { @class = "control-label" })
        <div class="editor-field">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-field receipt",@id="member_number" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Reference No", htmlAttributes: new { @class = "control-label " })
        <div class="editor-field">
            @Html.EditorFor(model => model.reference_number, new { htmlAttributes = new { @class = "form-control input-field receipt",@id="reference_number" } })
            @Html.ValidationMessageFor(model => model.reference_number, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Receipt Date", htmlAttributes: new { @class = "control-label" })
        <div class="editor-field">
            @Html.EditorFor(model => model.receipt_date, new { htmlAttributes = new { @class = "form-control dtPicker input-field receipt",@id="receipt_date", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.receipt_date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Bank Account", htmlAttributes: new { @class = "control-label " })

        <div class="editor-field">
            @Html.DropDownListFor(model => model.debit_account,
                                (SelectList)ViewBag.ledgers, "--Select Bank Account--",
                                   htmlAttributes: new
                                        {
                                            required = "required",
                                            @class = "form-control receipt bank input-field",
                                                            @id = "bank",

                                                        })
            @Html.ValidationMessageFor(model => model.debit_account)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label " })
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control number input-field receipt", @id = "total_amount_received" , @autocomplete = "off"} })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div id="receipt_table">
        <div class="bootstrap-admin-panel-content">
            <div class="field_wrapper">

                <table class="table table-striped" id="receipt_details">

                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>Description</th>
                            <th>Amount</th>


                        </tr>
                    </thead>
                    <tbody id="receipt_details_body">
                        <tr>
                            <td>
                                <select class="form-control credit_1 bank receipt " name="credit_account">

                                    @foreach (var row in data)
                                    {
                                        <option value="@row.code">@row.name</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input size="50" type="text" name="description" class="description_1 textfield receipt" value="" />

                            </td>
                            <td>
                                <input type="number" name="amount" class="amount_1 received_amount receipt number" value=0 />
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="add_button" title="Add field"><span class="glyphicon glyphicon-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="floatright">
        <div style="display:inline-flex">

            <label class="label" style="margin-right:3em">
                Total
            </label>
            <span style="margin-right: 2em">
                <input type="number" class="form-control total" id="actual_amount_total" readonly="readonly" value="0" />
            </span>

            <input id="process_receipt" class="btn btn-deep-orange glyphicon glyphicon-arrow-left" value="Save" type="button" />

        </div>


        <div style="text-align:right;margin-top:20%">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>


}



<script type="text/javascript">

        //datepickers
        $(".dtPicker").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });
        $(".dtPicker ").each(function () {
            $(this).DisablePastingAndEdit();
        })

        $(".number").each(function () {
            $(this).onlyNumb();
        })

</script>



<!--create dynamic fileds-->
<script type="text/javascript">

        var maxField = 10; //Input fields increment limitation
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var wrapper = $('#receipt_details_body'); //Input field wrapper
        var x = 1; //Initial field counter is 1


        //Once add button is clicked
        $(addButton).click(function () {

            //Check maximum number of input fields
            if (x < maxField) {
                x++; //Increment field counter
                var fieldHTML ='<tr><td><select  name="credit_account" class="form-control receipt bank credit_'+x+'">@foreach(var row in data){<option  value="@row.code">@row.name</option>}</select></td><td><input size="50" class="description_'+x+'" type="text" name="description" value=""/></td><td><input class="amount_'+x+' receipt received_amount number" type="number" name="Amount" value="0"  autocomplete = "off" /></td><td><a href="javascript:void(0);" class="remove_button"><span class="glyphicon glyphicon-minus"></span></a></td></tr>'; //New input field html
                $(wrapper).append(fieldHTML); //Add field html

            }
        });


        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            $(this).closest("tr").remove();
            receipt_Total_Change(); //recalculated the distributed amount
            x--; //Decrement field counter
    });
</script>-a
<!--Search dropdown-->
<script type="text/javascript">

    $(".bank").trigger("chosen:updated");
    $('#member').chosen();
    $('.bank').chosen();

</script>
<script type="text/javascript">
    function receipt_Total_Change() {

        var row_count = $('#receipt_details_body tr').length
        var i = 1;
        var indiviadual_amount = 0;
        while (i <= row_count) {

            indiviadual_amount += parseFloat($('.amount_' + i + '').val());


            $('#actual_amount_total').val(indiviadual_amount);

            i += 1;
        }

    }
</script>

<script type="text/javascript">
    $('.received_amount').each(function () {

        $('#receipt_details_body').on('input change', '.received_amount', function (evt) {

            receipt_Total_Change();
        })
    })

</script>


<!--sumit the form values-->
<script type="text/javascript">


    function saveCombinedReceipt(r) {




        console.log(r)
        $.ajax({
            type: "POST",
            url: "/receipt/otherreceipts",
            data:
            {
                Name: $('#member_number').val(),
                loan_no:'',
                type:"Other Receipts",
                amount: $(".amount_" + r).val(),
                receipt_date: $('#receipt_date').val(),
                debit_account: $('#bank').val(),
                reference_number: $('#reference_number').val(),
                description: $('.description_'+r).val(),
                credit_account: $('.credit_'+r).val()


            },

            success: function (data) {

                swal("", data, "info").then(() => { window.location = "/receipt/index" });

            },
            error: function (request, status, error) {
                swal("Receipt", error, "error");


            }

        })


        //location.reload(true)


    }

</script>

<!--process payment on click>-->
<script type="text/javascript">

    $("#process_receipt").click(function (e) {
        if (checkEmptyFields() & $('#total_amount_received').val() > 0 & checkAmountReceived_And_Amount_Distributed()) {

            e.preventDefault();

            var tableRowcount = $('#receipt_details_body tr').length;//we use this to loop each row and save

            var i = 1;
            while (i <= tableRowcount) {

                saveCombinedReceipt(i);

                i += 1;

            }



        }
    })

</script>

@*check if amount received vs distributed is equal*@
<script type="text/javascript">
    function checkAmountReceived_And_Amount_Distributed() {
        var amount_received = $('#total_amount_received').val();
        var amount_distributed = $('#actual_amount_total').val();
        if (amount_received != amount_distributed) {
            swal("", 'Amount received should be equal to amount distributed!', "warning")
            return false
        } else {
            return true
        }
    }
</script>

<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".receipt").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            swal("","Fill all the necessary fields","warning");
            return false;
        } else {
            return true;
        }


    }
</script>