﻿@model IEnumerable<mLender.Models.UserWithRole>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}


@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome, @ViewBag.Name</h1>
    @*<table class="col-md-10" style=" background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;" cellpadding="6" cellspacing="6">*@
    <table class="col-md-10" style=" background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;table-layout:fixed;" cellpadding="6" cellspacing="6">
        <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
            <td align="center" colspan="2">
                <h2>Existing Users</h2>
            </td>

        </tr>

        <tr>
            <td>
                <table class="col-md-10" id="tbrole" style="width:100%; border:dotted 1px; background-color:gainsboro; padding-left:10px;">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:50%; border:dotted 1px;">
                                @item.UserName
                            </td>
                            <td style="width:50%; border:dotted 1px;">
                                @item.Role

                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td align="right" style="color:#FFFFFF;padding-right:10px;">


                <h3>   @Html.ActionLink("Add New User", "register", "account") </h3>
                <h3>   @Html.ActionLink("Manage Role", "index", "Roles") </h3>


            </td>


        </tr>
    </table>



}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) Admin only! </h2>
}
