﻿@model mLender.Models.Shareproject

@{

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>



<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>


<div class="wrap">
    <div class="row">

        @using (Html.BeginForm("create", "shareprojects", new { ReturnUrl = ViewBag.Returnurl },
            FormMethod.Post, new { @class = "bootstrap-admin-small-form col-md-10",@id="project_form" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div style="clear: both;">
                <div style="text-align:center">
                    <h3>Add Share Project</h3>
                </div>


                <div class="editor-label">
                    <label>Name</label>
                </div>
                <div class="form-group">
                    <input class="form-control project" type="text" minlength="4" maxlength="30" name="name" placeholder=" Name" required>
                    @Html.ValidationMessageFor(model => Model.name, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    <label>Allow Check Off</label>
                    @Html.CheckBoxFor(model => model.allow_check_off, false)

                </div>

                <div class="editor-label">
                    @Html.Label("Control account")
                </div>
                <div class="form-group">
                    <div>
                        @Html.DropDownList("ledger", (SelectList)@ViewBag.project_ledger, "--Select Ledger A/C--",
                       htmlAttributes: new { @class = "form-control search project", @id = "ledger" })
                    </div>
                    @Html.ValidationMessageFor(model => Model.ledger, "", new { @class = "text-danger" })


                </div>
                <div class="editor-label">
                    @Html.Label("Minimum Contribution")
                </div>
                <div class="form-group">
                    <input class="form-control project" type="number" min="0.00" step="any"
                           name="minimum_amount" placeholder="minimum contribution" required>
                    @Html.ValidationMessageFor(model => Model.minimum_amount, "", new { @class = "text-danger" })

                </div>
                <div class="editor-label">
                    @Html.Label("Maximum contribution")
                </div>
                <div class="form-group">
                    <input class="form-control project" type="number" min="0.00" step="any" name="maximum_amount" placeholder="maximum amount" required>
                    @Html.ValidationMessageFor(model => Model.maximum_amount, "", new { @class = "text-danger" })

                </div>

                <div class="editor-label">
                    @Html.Label("Is Refundable")
                    @Html.CheckBoxFor(model => Model.refundable)

                </div>

                <div class="editor-label">
                    @Html.Label("Share Type")
                </div>
                <div class="form-group">
                    <select class="form-control search project" type="text" name="project_type" required>
                        <option disabled selected="selected">Select Type...</option>
                        <option value="Share Capital">Share Capital</option>
                        <option value="Deposit">Deposit</option>
                        <option value="Savings">Savings</option>
                        <option value="Welfare">Welfare</option>
                    </select>
                    @Html.ValidationMessageFor(model => Model.project_type, "", new { @class = "text-danger" })


                </div>
                <div class="editor-label">
                    <p>
                        <button class="btn btn-lg btn-sm btn-primary"id="btn_Submit" type="submit">Save</button>
                    </p>
                </div>
            </div>

        }

    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $('.search').select2()
</script>

<script type="text/javascript">
    function editProject() {
        var myForm = $('#project_form')[0];

        var myData = new FormData(myForm);

        $.ajax({
            type: 'Post',
            url: '/shareprojects/create',
            data: myData,
            processData: false,
            contentType: false,
            success: function (succes_message) {
                swal("", succes_message, "info");

            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }
        })
    }
</script>

<!--submit button-->
<script type="text/javascript">
    $("#btn_Submit").on('click', function (e) {
        e.preventDefault();

        if (checkEmptyFields()) {
            editProject();

        }
    })


</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {
        var anyFieldIsEmpty = $(".project").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>