﻿@model mLender.Models.Shareproject

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("delete", "Shareprojects", new { ReturnUrl = ViewBag.Returnurl },
    FormMethod.Post, new { @class = "bootstrap-admin-small-form " }))
{
    @Html.AntiForgeryToken()
  
    <fieldset>

        <legend style="text-align:center">Delete Shareproject</legend>

        <div class="display-label">
            @Html.DisplayName("Code")
        </div>
        <div class="form-group">
            <input class="form-control" name="code" value="@Model.code" />
        </div>

        <div class="display-label">
            @Html.DisplayName("Name")
        </div>
        <div class="form-group">
            <input class="form-control" name="name" value="@Model.name" />
        </div>
        <div class="display-label">
            @Html.DisplayName("Project Type")
        </div>
        <div class="form-group">
            <input class="form-control" name="project_type" value="@Model.project_type" />
        </div>


    </fieldset>

    <p>
        <button class="btn btn-lg btn-primary"  type="submit" 
                value="Delete" onclick = "return confirm('Are you sure you wish to delete this Project?');">Delete</button>

        @Html.ActionLink("Back to List", "Index")
    </p>
}
