﻿@model mLender.Models.Shareproject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<h4>
    Share Projects
</h4>
<div class="panel panel-default">
    <div class="bootstrap-admin-panel-content col-md-10">
        <table class="table table-bordered">


            <tr>
                <th>Code#</th>
                <th>Name</th>
                <th>Min Amount</th>
                <th>Max Amount</th>
                <th>Ledger</th>
                <th>Refundable</th>
                <th>Allow Check Off</th>
                <th>Type</th>



            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.code)
                </td>

                <td> @Html.DisplayFor(model => model.name)</td>

                <td> @Html.DisplayFor(model => model.minimum_amount)</td>

                <td> @Html.DisplayFor(model => model.maximum_amount)</td>

                <td> @ViewBag.ledger</td>
                <td> @ViewBag.isrefundable</td>
                <td> @ViewBag.check_off</td>
                <td> @Html.DisplayFor(model => model.project_type)</td>
            </tr>

        </table>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "edit", new { Model.code }) |
    @Html.ActionLink("Back to List", "Index")
</p>

