﻿@model mLender.Models.Insurer

@{
    ViewBag.Title = "BlockInsurer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BlockInsurer</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Insurer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.formula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.formula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telephone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
