﻿@model mLender.Models.Insurer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Edit Insurer's details</h2>


@using (Html.BeginForm("edit","insurer",
   new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
        new
        {
            @class = "bootstrap-admin-small-form"
        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Insurer</legend>

    <div class="editor-label">
        @Html.Label("Name")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.name, htmlAttributes: new
            {
               @class = "form-control",
               required = "required",
               type = "text",
               autocomplete="off"
            })
        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
    </div>

    <div class="editor-label">
        @Html.Label("Formula")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.formula, htmlAttributes: new
   {
       @class = "form-control",
       required = "required",
       type = "number",
       min="0.00"
   })
        @Html.ValidationMessageFor(model => model.formula, "", new { @class = "text-danger" })
    </div>

    <div class="editor-label">
        @Html.Label("Email")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.email, htmlAttributes: new
   {
       @class = "form-control",
       required = "required",
       type = "email",
       autocomplete = "off"

   })
        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
    </div>

    <div class="editor-label">
        @Html.Label("Telephone")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.telephone, htmlAttributes: new
       {
           @class = "form-control",
           required = "required",
           type = "tel",
           placeholder="Like 07123456",
           autocomplete = "off"

       })
        @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
    </div>

    <p>
        <button class="btn btn-lg btn-primary" type="submit"
                value="Create">
            Save
        </button>
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
