﻿@model IEnumerable<mLender.Models.Insurer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <div class="panel-heading"><h3 style="text-align:center">Insurers' List</h3></div>

</p>
<p>
    @Html.ActionLink("New", "create", new { },
    new { @class = "btn btn-lg btn-success glyphicon  glyphicon-plus", @style = "color:white" })
</p>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        <p>@TempData["Success"]</p>
    </div>
}
else if (@TempData["Error"] != null)
{
    <div class="alert alert-danger bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error</h4>
        <p>@TempData["Error"]</p>
    </div>
}
<div class="panel panel-default">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.formula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telephone)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.formula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telephone)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.code }) |
                        @Html.ActionLink("Details", "Details", new { id = item.code }) |*@
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.code }, new { onclick = "return blockinsurer(this)", @id = "delete" })*@
                        @Html.ActionLink("Edit", "Edit", new { id = item.code }, new { @class = "btn btn-primary glyphicon glyphicon-pencil glyphicon-white", @style = "color:white" })
                        @*@Html.ActionLink("Details", "Details", new { id = item.code }, new { @class = "btn btn-default glyphicon glyphicon glyphicon-eye-open", @style = "color:black" })*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.code }, new { @class = "btn btn-danger glyphicon  glyphicon-remove glyphicon-white", @style = "color:white", 
                        onclick = "return blockinsurer(this)", @id = "delete" })

                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script type="text/javascript">
    function blockinsurer(code)
    {
        if (confirm('Are you sure you want to delete in database?')) {
            //alert("clicked")
            //alert($(code).closest("tr").find("td").first().text());

            var id = $(code).closest("tr").find("td").first().text();

            id = id.replace(/\s+/g, '');

            //alert(member_number);
            $.ajax({
                type: "GET",
                url: "http://localhost:1079/insurer/blockinsurer/?id=" + id,
                dataType: "JSON",
                data: {},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert("success!")
                    window.location.href = "http://localhost:1079/insurer";

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("error!")

                    //alert(textStatus);
                }
            }
            );
            return false;
        }
        else {
            return false;

        }

        
    }
        
</script>