﻿@model mLender.Models.Guarantors

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
<!--validation script-->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


<h2 style="text-align:center">Add Guarantors</h2>

@using (Html.BeginForm("add", "Guarantor",
       new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
        new
        { @class = "bootstrap-admin-large-form ", @id = "add_guarantor" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @*<ul>
            @Html.Partial("_MemberProfile", Model)
        </ul>*@


    <fieldset>
        <legend>Guarantors</legend>

        <div style="text-align:center" class="text-success" id="msg"> </div>

        <div class="form-group">
            @Html.Label("Loan Number")

            @Html.TextBoxFor(model => model.loan_number, htmlAttributes: new
       {
           @class = "form-control mandatory",
           @id = "loan_number",
           required = "required"
       })
            @Html.ValidationMessageFor(model => model.loan_number)
        </div>


        <div class="form-group">
            @Html.Label("Guarantor")

            @Html.DropDownListFor(m=>m.guarantor_number,
           (SelectList)ViewBag.members_list, "--Select Guarantor--",
           htmlAttributes:new { @class= "chosen form-control mandatory ",
               @id = "guarantor_number",
               required="required"})

            @Html.ValidationMessageFor(model => model.guarantor_number, "", new { @class = "text-danger" })

        </div>


        <div class="form-group">
            @Html.Label("Amount")

            @Html.TextBoxFor(model => model.amount_guaranteed, htmlAttributes: new
       {
           @class = "form-control mandatory",
           @id = "amount_guaranteed",
           required = "required"
       })
            @Html.ValidationMessageFor(model => model.amount_guaranteed, "", new { @class = "text-danger" })

        </div>

        <p>
            <button class="btn btn-lg btn-sm btn-primary" id="add_another" type="submit" value="Create">Add</button>
        </p>
        <div class="panel panel-default">
            <div class="bootstrap-admin-panel-content">
                <table class="table table-striped tbl">
                    <tr>
                        <th>
                            @Html.DisplayName("#Guarantor Number")
                        </th>
                        <th>
                            @Html.DisplayName("Guarantor Name")
                        </th>
                        <th>
                            @Html.DisplayName("Amount Guaranteed")

                        </th>


                        <th></th>
                    </tr>

                    <tr>
                        <td class="guarantor_number"></td>
                        <td class="guarantor_name"></td>
                        <td class="guarantor_amount"></td>

                    </tr>


                </table>
            </div>
        </div>
    </fieldset>
}
<script type="text/javascript">
    $(".chosen").chosen({ no_results_text: "oops no record found matching the name:  " });
</script>
@* restrict max date to be today *@
<script type="text/javascript">
    $(".dtPicker").datepicker({ maxDate: '0', dateFormat: 'dd/MM/yy' });
</script>
<script type="text/javascript">
    $(".text").each(function (i, obj) {
        $(this).onlyAlphabets();
    });
</script>
<script type="text/javascript">

    $(function () {
        $('#add_guarantor').submit(function (e) {
            e.preventDefault();
            $(".mandatory").each(function () {
                if ($.trim(this.value) == "") {
                    alert('you did not fill out one of the fields');
                } else {
                    // Submit
                    return true
                }
            })
        })


    })





</script>
@*click button to add to the table*@
<script type="text/javascript">

        $('#add_another').click(function () {           
           

            var member_number = $('.chosen').val();
            var member_name = $('.chosen option:selected').text();
            var amount = $("#amount_guaranteed").val();

            console.log(member_number);
            console.log(member_name);
            console.log(amount);


            let guarantor_number = member_number;
            let guarantor_name = member_name;
            let guaranteed_amount = amount;

            //get cells to be populated.
            var guarantorNumberCell = document.getElementById("guarantor_number");
            var guarantorNameCell = document.getElementById("guarantor_name");
            var guaranteedAmountCell = document.getElementById("guarantor_amount");




            if ((member_number == "") || (guaranteed_amount == "") || member_number == null || guaranteed_amount==null)
            {

                alert("Plesae fill in all guarantor details");
                return false
            }
            $('tbl tr td').each(function () {
                $(this).find('td').each(function () {
                    console.log($(this).text());
                });
            });

            $("#tbl").append('<tr><td>' + guarantor_number + ' </td><td>' + guarantor_name + '</td > <td>' + guaranteed_amount + '</td></tr > ');
           
    })
</script>
<!--Post the data to DB-->
<script type="text/javascript">
    $(function(){

        $("#add_another").click(function (e) {

                e.preventDefault();
                $(".mandatory").each(function () {
                    if ($.trim(this.value) == "") {
                        alert('you did not fill out one of the fields');
                    } else {
                        // Submit


            $.ajax({
                type: "POST",
                url: "/guarantor/add",
                data: {
                    loan_number: $("#loan_number").val(),
                    guarantor_number: $("#guarantor_number").val(),
                    amount_guaranteed: $("#amount_guaranteed").val()

                },
                success: function (data) {
                    $('#msg').html("data insert successfully").fadeIn('slow');
                    //$('#msg').html("data insert successfully").fadeIn('slow') //also show a success message
                    $('#msg').delay(4000).fadeOut('slow');
                }


            })

                    }
                    return false
                })

        })



    })
</script>




<!--Validation-->
<script type="text/javascript">
    $('#contributionreceipt').validate({
        ignore: ".ignore",
        invalidHandler: function (e, validator) {
            if (validator.errorList.length)
                $('#tabs a[href="#' + jQuery(validator.errorList[0].element).closest(".tab-pane").attr('id') + '"]').tab('show')
        }


    });
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

