﻿@model mLender.Models.CompanyBranches

@{


    ViewBag.Title = "Create Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<style type="text/css">
    #branch_form {
        width: 90%;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>



<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


<div class="wrap">
    <div class="row">

        @using (Html.BeginForm("create", "companybranches", new { ReturnUrl = ViewBag.Returnurl },
                FormMethod.Post, new { @class = "bootstrap-admin-small-form col-md-10", @id = "branch_form" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div style="clear: both;">
                <div style="text-align: center">
                    <h4>Add Branch</h4>
                </div>

                <div class="editor-label">
                    @Html.Label("Name")
                </div>
                <div class="form-group">
                    <input class="form-control company" type="text" minlength="4" maxlength="30" name="branch_name" id="branch_name" placeholder="Name" required>
                    @Html.ValidationMessageFor(model => Model.branch_name, "", new { @class = "text-danger" })
                </div>
                <div class="editor-label">
                    @Html.Label("Officer")
                </div>
                <div class="form-group">
                    <div>
                        @Html.DropDownList("officer_name", (SelectList)@ViewBag.officer, "--Select Officer--",
                       htmlAttributes: new { @class = "form-control search company", @id = "officer_name" })
                    </div>
                    @Html.ValidationMessageFor(model => Model.officer_name, "", new { @class = "text-danger" })


                </div>
                <div class="editor-label">
                    @Html.Label("Location")
                </div>
                <div class="form-group">
                    <input class="form-control company" type="text" minlength="4" maxlength="30" name="location" id="location" placeholder="location" required>
                    @Html.ValidationMessageFor(model => Model.location, "", new { @class = "text-danger" })

                </div>
                <div class="editor-label">
                    @Html.Label("Telephone")
                </div>
                <div class="form-group">
                    <input class="form-control company onlyPhoneNumber" type="tel" name="telephone" id="telephone" placeholder="telephone" required>
                    @Html.ValidationMessageFor(model => Model.telephone, "", new { @class = "text-danger" })

                </div>
                <div class="editor-label">
                    @Html.Label("Email Address")
                </div>
                <div class="form-group">
                    <input class="form-control company emailAddress" type="email" minlength="4" maxlength="30" name="email_address" id="email_address" placeholder="email address">
                    @Html.ValidationMessageFor(model => Model.email_address, "", new { @class = "text-danger" })

                </div>

                <div class="form-group hidden">
                    <label>Allow Check Off</label>
                    @*<input type="checkbox" name="allow_check_off">*@
                    @Html.CheckBox("allow_check_off", new { @id = "allow_check_off", @class = "company" })
                    @Html.ValidationMessageFor(model => Model.allow_check_off)

                </div>

                <div class="form-group hidden">
                    @Html.Label("Control account")

                    <div>
                        @Html.DropDownList("control_account", (SelectList)@ViewBag.Employer_Ledger, "--Select Account--",
                       htmlAttributes: new { @class = "form-control search company ", @value = "", @id = "control_account" })
                    </div>
                    @Html.ValidationMessageFor(model => Model.control_account, "", new { @class = "text-danger" })

                </div>
                <div class="form-group hidden">
                    <div class="editor-label">
                        @Html.Label("Minimum Contribution")
                        <input class="form-control company" value="0" type="number" min="0.00" step="any"
                               name="minimum_contribution" id="minimum_contribution" placeholder="minimum contribution" required>
                        @Html.ValidationMessageFor(model => Model.minimum_contribution, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group hidden">
                    <div class="editor-label">
                        @Html.Label("Minimum Shares")
                        <input class="form-control company" type="number" value="0" min="0.00" step="any" id="minimum_shares" name="minimum_shares" placeholder="minimum shares capital" required>
                        @Html.ValidationMessageFor(model => Model.minimum_shares, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group hidden">
                    <div class="editor-label">
                        @Html.Label("Registration Fee")
                        <input class="form-control company" type="number" value="0" min="0.00" step="any" id="registration_fee" name="registration_fee" placeholder="Registration fee" required>
                        @Html.ValidationMessageFor(model => Model.registration_fee, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group hidden">
                    <div class="editor-label">
                        @Html.Label("Rejoining Fee")
                        <input class="form-control company" type="number" min="0.00" step="any" name="rejoining_fee" value="0" id="rejoining_fee" placeholder="Rejoining fee" required>
                        @Html.ValidationMessageFor(model => Model.rejoining_fee, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group hidden">
                    <div class="editor-label">
                        @Html.Label("Check Off Date")

                        <input class="form-control company" type="number" min="10" max="30" step="any"
                               name="check_off_date" id="check_off_date" placeholder="Check off date" value="1900-01-01" required>
                        @Html.ValidationMessageFor(model => Model.check_off_date, "", new { @class = "text-danger" })

                    </div>
                </div>
                <p>
                    <button class="btn btn-lg btn-lg btn-primary" id="btn_Submit">Save</button>
                </p>
                <div style="margin-top:20%">
                    @Html.ActionLink("Back to List", "Index")
                </div>


            </div>
        }

    </div>
</div>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<script type="text/javascript">

    $(".search").select2();
</script>

<!--save branhc data -->
<script type="text/javascript">
    function addCompany() {
        var myForm = $('#branch_form')[0];

        var myData = new FormData(myForm);

        $.ajax({
            type: 'Post',
            url: '/companybranches/create',
            data: myData,
            processData: false,
            contentType: false,
            success: function (succes_message) {
                swal("", succes_message, "info");

            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }
        })
    }
</script>

<!--submit button-->
<script type="text/javascript">
    $("#btn_Submit").on('click', function (e) {
        e.preventDefault();

        if (checkEmptyFields()) {
            addCompany();

        }
    })


</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {
        //var anyFieldIsEmpty = $(".company").filter(function () {
        //    return $.trim(this.value).length === 0;
        //}).length > 0;

        var anyFieldIsEmpty = $.trim($('.company').val()) == "";




        if (anyFieldIsEmpty) {
            swal("", "Fill all the necessary fields", "info");

            return false;
        } else {
            return true;
        }


    }
</script>
<script type="text/javascript">
    //only phone numbers
    $(".onlyPhoneNumber").each(function (i, obj) {
        $(this).onlyPhoneNumber();
    });
    //only numbers
    $(".onlyPhoneNumber").each(function (i, obj) {
        $(this).onlyNumb();
    });
</script>
<script type="text/javascript">
    //validate email
    $(".emailAddress").each(function (i, obj) {
        $(this).onlyValidEmail();
    })
</script>


