﻿@model mLender.Models.CompanyBranches

@{
    /**/

    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("delete", "companybranches",
                new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post, new { @class = "bootstrap-admin-small-form " }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Company Branches</legend>
        <h4>Are you sure you want to delete this?</h4>
        <div class="display-label">
            @Html.DisplayName("Name")
        </div>
        <div class="form-group">
            <input class="form-control" name="branch_name" value="@Model.branch_name" />
        </div>

        <div class="display-label">
            @Html.DisplayName("Officer Name")
        </div>
        <div class="form-group">
            <input class="form-control" name="officer_name" value="@Model.officer_name" />
        </div>

        <div class="display-label">
            @Html.DisplayName("Location")
        </div>
        <div class="form-group">
            <input class="form-control" name="location" value="@Model.location" />
        </div>

    </fieldset>
    <p>
        <button class="btn btn-lg btn-primary" type="submit" value="Delete">Delete</button>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
