﻿@model mLender.Models.CompanyBranches

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>
    Company/Branches Details
</h4>
<div class="panel panel-default">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-bordered">


            <tr>
                <th>ID#</th>
                <th>Name</th>
                <th>Officer</th>
                <th>Location</th>
                <th>Telephone</th>
                <th>Email Address</th>
                @*<th>Allow Check Off</th>*@
                <th>Control account</th>
                @*<th>Contribution</th>
                <th>Shares</th>
                <th>Registration Fee</th>
                <th>Rejoining Fee</th>
                <th>Check Off Date</th>*@

            </tr>
            <tr>
                <td> @Html.DisplayFor(model => model.branch_id)</td>

                <td> @Html.DisplayFor(model => model.branch_name)</td>

                <td> @Html.DisplayFor(model => model.officer_name)</td>

                <td> @Html.DisplayFor(model => model.location)</td>

                <td> @Html.DisplayFor(model => model.telephone)</td>
                <td> @Html.DisplayFor(model => model.email_address)</td>
                @*<td> @ViewBag.check_off</td>*@
                <td> @Html.DisplayFor(model => model.control_account)</td>
                @*<td> @Html.DisplayFor(model => model.minimum_contribution)</td>
                <td> @Html.DisplayFor(model => model.minimum_shares)</td>
                <td> @Html.DisplayFor(model => model.registration_fee)</td>
                <td>
                    @Html.DisplayFor(model => model.rejoining_fee)
                </td>
                <td> @Html.DisplayFor(model => model.check_off_date)</td>*@

            </tr>

        </table>
    </div>
</div>

<p>
    @*@Html.ActionLink("Edit","edit", new { Model.branch_id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

