﻿@model mLender.Models.CompanyBranches

@{
    ViewBag.Title = "Edit Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<style type="text/css">
    #branch_form {
        width: 90%;
    }
</style>

<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

<head>
    <meta name="viewport" content="width=device-width" />
    <title> </title>
</head>
<div class="wrap">

    <div class="row">
        @using (Html.BeginForm("edit", "companybranches",
new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post, new { @class = "bootstrap-admin-small-form col-md-2 ", @id = "branch_form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div style="text-align:center">
                <h4>Edit Company/Employer Details</h4>
            </div>

            <div class="editor-label">
                @Html.Hidden("branch_id", Model.branch_id, new { @id = "officer_id" })
            </div>
            <hr />
            <div style="clear: both;">
                <div class="floatleft">
                    <div class="form-group">



                        <div class="editor-label">
                            @Html.Label("Name")
                        </div>
                        <div class="form-group">
                            <input class="form-control company" id="branch_name" type="text" name="branch_name" value="@Model.branch_name" required />
                            <div class="form-Validation">
                                @Html.ValidationMessageFor(model => model.branch_name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="editor-label">
                        @Html.Label("Officer")
                    </div>
                    <div class="form-group">

                        @Html.DropDownList("officer_name", (SelectList)@ViewBag.officer, "--Select Officer--",
                       htmlAttributes: new { @class = "form-control search company", @id = "officer_name" })

                        @Html.ValidationMessageFor(model => model.officer_name, "", new { @class = "text-danger" })
                    </div>

                    <div class="editor-label">
                        @Html.Label("Location")
                    </div>
                    <div class="form-group">
                        <input class="form-control company" id="location" type="text" name="location" value="@Model.location" required />

                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </div>

                    <div class="editor-label">
                        @Html.Label("Telephone")
                    </div>
                    <div class="form-group">
                        <input class="form-control company PhoneNumber" id="telephone" type="text" name="telephone" value="@Model.telephone" required />
                        @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                    </div>

                    <div class="editor-label">
                        @Html.Label("Email Address")
                    </div>
                    <div class="form-group">
                        <input class="form-control company emailAddress" id="email_address" type="email" name="email_address" value="@Model.email_address" required />
                        @Html.ValidationMessageFor(model => model.email_address, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group hidden">
                        <label>Allow Check Off</label>
                        @*<input type="checkbox" name="allow_check_off">*@
                        @Html.CheckBox("allow_check_off", new { @id = "allow_check_off", @class = "company" })
                        @Html.ValidationMessageFor(model => Model.allow_check_off)

                    </div>
                    <div style="margin-top:20%">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
                <div class="floatright">
                    <div class="editor-label">
                        @Html.Label("Employer Control Account")
                    </div>
                    <div class="form-group">

                        @Html.DropDownList("control_account", (SelectList)@ViewBag.Employer_Ledger, "--Select Account--",
                       htmlAttributes: new { @class = "form-control search company", @id = "control_account" })


                        @Html.ValidationMessageFor(model => model.control_account, "", new { @class = "text-danger" })

                    </div>


                    <div class="form-group hidden">
                        <div class="editor-label">
                            @Html.Label("Minimum Contribution")
                        </div>
                        <input class="form-control company" type="number" min="0.00" step="any" name="minimum_contribution" id="minimum_contribution" value=@Model.minimum_contribution required />

                        @Html.ValidationMessageFor(model => model.minimum_contribution, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group hidden">
                        <div class="editor-label">
                            @Html.Label("Shares")
                        </div>
                        <input class="form-control company" type="number" min="0.00" step="any" name="minimum_shares" id="minimum_shares" value=@Model.minimum_shares required />

                        @Html.ValidationMessageFor(model => model.minimum_shares, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group hidden">
                        <div class="editor-label">
                            @Html.Label("Registration Fee")
                        </div>
                        <input class="form-control company" type="number" min="0.00" step="any" name="registration_fee" id="registration_fee" value=@Model.registration_fee required />

                        @Html.ValidationMessageFor(model => model.registration_fee, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group hidden">
                        <div class="editor-label">
                            @Html.Label("Rejoining Fee")
                        </div>
                        <input class="form-control company" type="number" min="0.00" step="any" name="rejoining_fee" id="rejoining_fee" value=@Model.rejoining_fee required />

                        @Html.ValidationMessageFor(model => model.rejoining_fee, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group hidden">
                        <div class="editor-label">
                            @Html.Label("Check off date")

                            <input class="form-control" type="number" min="10" max="30" name="check_off_date" id="check_off_date" value=@Model.check_off_date required />

                            @Html.ValidationMessageFor(model => model.check_off_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <p>
                        <button class="btn btn-sm btn-primary" id="btn_Submit" type="submit">Save Changes</button>

                    </p>

                </div>
            </div>

        }

    </div>

</div>



@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<script type="text/javascript">

    $(".search").select2();
</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {
        var anyFieldIsEmpty = $(".company").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            swal("", "Fill all the necessary fields", "info");

            return false;
        } else {
            return true;
        }


    }
</script>

<!--save branhc data -->
<script type="text/javascript">
    function editCompany() {
        var myForm = $('#branch_form')[0];

        var myData = new FormData(myForm);

        $.ajax({
            type: 'Post',
            url: '/companybranches/edit',
            data: myData,
            processData: false,
            contentType: false,
            success: function (succes_message) {
                swal("", succes_message, "info").then(function () {
                    window.location = "/companybranches/index";
                });

            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }
        })
    }
</script>

<!--submit button-->
<script type="text/javascript">
    $("#btn_Submit").on('click', function (e) {
        e.preventDefault();

        if (checkEmptyFields()) {
            editCompany();

        }
    })


</script>
<script type="text/javascript">
    //validate email
    $(".emailAddress").each(function (i, obj) {
        $(this).onlyValidEmail();
    })
</script>


<script type="text/javascript">
    //only phone numbers
    $(".PhoneNumber").each(function (i, obj) {
        $(this).onlyPhoneNumber();
    });
    //only numbers
    $(".PhoneNumber").each(function (i, obj) {
        $(this).onlyNumb();
    });
</script>