﻿@model IEnumerable<mLender.Models.CompanyBranches>

@{
    ViewBag.Title = "Companies/Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

    var i = 1;

}



<style type="text/css">
    #tbl_company {
        width: 90%;
        white-space:nowrap;

    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!--Message Toast scripts-->
<link href="~/Content/Theme/css/bootoast.css" rel="stylesheet" />
<script src="~/Scripts/bootoast.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/datepicker.css" />
<script type="text/javascript" src="~/Scripts/datepicker.js"></script>


<div class="panel-heading"><h3 style="text-align:center">Company List </h3></div>
   
 @Html.ActionLink("New Company", "Create", new { }, new { @class = "btn btn-sm btn-success glyphicon  glyphicon-plus", @style = "color:white" })



<div class="panel panel-default col-md-10">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped" id="tbl_company">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("#Branch ID")
                    </th>
                    <th>
                        @Html.DisplayName("Branch name")
                    </th>
                    <th>
                        @Html.DisplayName("officer name")
                    </th>
                    <th>
                        @Html.DisplayName("Location")
                    </th>
                    <th>
                        @Html.DisplayName("Telephone")
                    </th>
                    <th>
                        @Html.DisplayName("Email address")
                    </th>

                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                    <tr>

                        <td class="branch_id">
                            @Html.DisplayFor(modelItem => item.branch_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.branch_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.officer_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telephone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email_address)
                        </td>
                        <!------conapny id-->

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.branch_id }, new { @class = "btn btn-sm btn-primary glyphicon glyphicon-pencil glyphicon-white", @style = "color:white" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.branch_id }, new { @class = "btn btn-sm btn-default glyphicon glyphicon glyphicon-eye-open", @style = "color:black" }) |
                            @Html.ActionLink("Delete", "#", new { }, new { @class = "btn btn-sm btn-danger btn_delete glyphicon glyphicon-remove glyphicon-white", @style = "color:white", @type = "button", @id = "btn_delete" })

                        </td>
                    </tr>
                i += 1;

            }
        </table>
    </div>
</div>

<!--delete action-->
<script type="text/javascript">

    function deleteCompany() {
        $.ajax({
            type: 'post',
            url: 'company/delete',
            data: {
                id: $('.branch_id' + i).val()
            }


        })
    }
</script>
<!--click button delete-->
<script type="text/javascript">
    var rowCount = $('#tbl_company tbody').length;


    $('.btn_delete').on('click', function (e) {
        e.preventDefault();
        var branch_ID = $.trim($(this).closest("tr")   // Finds the closest row <tr>
            .find(".branch_id")     // Gets a descendent with class="branch_id"
            .text());

        $.ajax({
            type: 'post',
            url: '/companybranches/delete',
            data: { id: branch_ID },
            success: function (succes_message) {
                bootoast.toast({
                    message: succes_message,
                    position: 'top',
                    animationDuration: 100,

                });
                reloadPage();

            },
            error: function (error) {
                alert("Error: " + error);

            }
        })
    })

</script>

<script type="text/javascript">

    function reloadPage() {
        setTimeout(function () {

            location.reload(true);

        }, 1700)
    }



</script>

<!--data tables-->
<script type="text/javascript">

    $('#tbl_company').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null, null]
        });

</script>
