﻿@model mLender.Models.NextOfKin

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">

</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<link rel="stylesheet" type="text/css" href="~/Content/css/datepicker.css" />
<script type="text/javascript" src="~/Scripts/datepicker.js"></script>


@using (Html.BeginForm("edit", "nextofkin",
   new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
        new
        {
            @class = "bootstrap-admin-small-form",
            @onsubmit = "return getTotalPercentage()"
        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Next Of Kin</legend>

    <div class="editor-label">
        @Html.Label("#Kin No")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.kin_no,
       htmlAttributes: new
       {
           @class = "form-control",
           required = "required",
           disabled="disabled"
       })
        @Html.ValidationMessageFor(model => model.kin_no)
    </div>

    <div class="editor-label">
        @Html.Label("Member")
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m=>m.member_number,
         (SelectList)ViewBag.next_OfKin_Members,"--Select Member--",
         htmlAttributes:new { @class= "form-control chosen",
              @id ="member_number",required="required"})

        @Html.ValidationMessageFor(model => model.member_number, "", new { @class = "text-danger" })

    </div>

    <div class="editor-label">
        @Html.Label("Kin Name")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.kin_name,
   htmlAttributes: new
   {
       @class = "form-control",
       required = "required"
   })
        @Html.ValidationMessageFor(model => model.kin_name)
    </div>

    <div class="editor-label">
        @Html.Label("Relationship")
    </div>
    <div id="myModal" class="form-group">
        <select name="relationship" required class="form-control chosen" type="text">
            <option value="@Model.relationship">@Model.relationship</option>
            <option value="Mother">Mother</option>
            <option value="Father">Father</option>
            <option value="Sibling">Sibling</option>
            <option value="Spouse">Spouse</option>
            <option value="inlaw">Inlaw</option>
            <option value="Other">Other</option>
        </select>
        @Html.ValidationMessageFor(model => model.relationship, "", new { @class = "text-danger" })

    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.percentage)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.percentage,
        htmlAttributes: new { @class = "form-control",
            @type ="number",
            @id ="percentage",
            @onchange= "return getTotalPercentage()",
            @min =1,@max=100, required = "required" })
        @Html.ValidationMessageFor(model => model.percentage, "", new { @class = "text-danger" })
    </div>
    <div class="editor-label">
        @Html.Label("Document Number")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.document_number, htmlAttributes:
     new { @type = "text", @class=" form-control"})
        @Html.ValidationMessageFor(model => model.document_number, "", new { @class = "text-danger" })
    </div>

    <div class="editor-label">
        @Html.Label("Date Added")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.date_added, "{0:dd/MMM/yyyy}",  htmlAttributes:
       new { @type = "text", @id = "start_dt", @class=" form-control datepicker", @readonly="readonly"})

        @Html.ValidationMessageFor(model => model.date_added, "", new { @class = "text-danger" })
    </div>
    <p>
        <button class="btn btn-lg btn-primary" type="submit"
                value="save">
            Save
        </button>
    </p>
</fieldset>
}

<script type="text/javascript">
    $(".chosen").chosen({ no_results_text: "oops no record found matching the name:  " });
</script>
<script type="text/javascript">
    function onlyAlphabets(e, t) {

        try {
            var charCode = e.keyCode;

            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8 || charCode == 32)

                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }
</script>
<script type="text/javascript">

    function getTotalPercentage() {
        //check idf member is selected
        let member_number = $("#member_number").val();

        if (member_number.length <= 0) {
            alert("Please select the member!");

            $("#member_number").focus();
            return false;
        }
        else {
                let member_number = $("#member_number").val();
                //alert(member_number);
                $.ajax({
                type: "GET",
                url: 'http://localhost:1079/nextofkin/getTotalPercentage/?member_number=' + member_number,
                dataType: "JSON",
                data: {},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //alert("success")
                    let percentage_textbox = $("#percentage").val();
                    //alert(percentage_textbox);
                    var total_percentage = data;
                    //alert(total_percentage);
                    var remaining_percentage = 100 - total_percentage;


                    //should get the percentage for 
                    //the kin no you are editing so you can know how much to add.
                    if (remaining_percentage < percentage_textbox && remaining_percentage > 0) {
                        alert("Remaining allocation should be "
                            + remaining_percentage + " or less for this member! ");

                        document.getElementById("percentage").value = "";

                        document.getElementById("percentage").focus();
                        return false;
                    }
                    else if (remaining_percentage < 0) {
                        alert("Allocation cannot exceed 100 percent!");
                        document.getElementById("percentage").value = "";

                        document.getElementById("percentage").focus();
                        return false
                    }
                    else {
                        return true;

                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("error!")

                    //alert(textStatus);
                }
            });
        }
    };
</script>
<script type="text/javascript">
    $(".dtpicker").datepicker({ maxDate: '0', dateFormat: 'dd/MM/yy' });
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
