﻿@model IEnumerable<mLender.Models.NextOfKin>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">

</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />



<p>
    <div class="panel-heading"><h3 style="position:center">Next Of Kin List</h3></div>
</p>

<p>
    @Html.ActionLink("New", "add", new { },
    new { @class = "btn btn-lg btn-success glyphicon  glyphicon-plus", @style = "color:white" })
</p>

@Html.DropDownList("member_number",
(SelectList)ViewBag.next_OfKin_Members,"--Select Member--",
htmlAttributes:new { @class= "chosen",@onchange ="return get_nextofkin_per_member()",
    @id ="member_number"})

<strong>Member:@ViewBag.member</strong>


@if (TempData["Success"] != null)
{
    <div class="alert alert-success bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        <p>@TempData["Success"]</p>
    </div>
}
else if (@TempData["Error"] != null)
{
    <div class="alert alert-danger bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error</h4>
        <p>@TempData["Error"]</p>
    </div>
}
@if (@ViewBag.list_nextOfkins==0)
{
    <script>
        alert("No next of kin records found for this member! ")
    </script>
}
else
{

    <div class="panel panel-default">
        <div class="bootstrap-admin-panel-content">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayName("#Kin Number")
                    </th>

                    <th>
                        @Html.DisplayName("Kin Name")
                    </th>
                    <th>
                        @Html.DisplayName("Relationship")
                    </th>
                    <th>
                        @Html.DisplayName("Percentage")
                    </th>
                    <th>
                        @Html.DisplayName("Document Number")
                    </th>
                    <th>
                        @Html.DisplayName("Date Added")
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.kin_no)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.kin_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.relationship)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.percentage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.document_number)
                        </td>
                        <td>
                            @item.date_added.ToShortDateString()
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.kin_no }, new { @class = "btn btn-primary glyphicon glyphicon-pencil glyphicon-white", @style = "color:white" })

                            @Html.ActionLink("delete", "", new { id = item.kin_no },
                           new
                           {
                               @class = "btn btn-danger glyphicon  glyphicon-remove glyphicon-white",
                               @style = "color:white",

                           })
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>

}

<script type="text/javascript">
    $(".chosen").chosen({ no_results_text: "oops no record found matching the name:  " });
</script>
@* when member number changes *@
<script type="text/javascript">
    function get_nextofkin_per_member() {

        //alert("member changed")
        let member_number = $("#member_number").val();
        //alert(member_number)
        var url = "http://localhost:1079/nextofkin/index/?memberno=" + member_number




        if (url) {

            window.location = url;

        }



        return false;
    }

</script>