﻿@using ReportViewerForMvc
@{
    ViewBag.Title = "Members Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="margin:0px auto;">
    <div class="container">
        <h4>Members Details</h4>
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
    </div>
</body>
