﻿@model mLender.Models.MemberStatementReport
@using ReportViewerForMvc

@{
    /**/

    ViewBag.Title = "summary_statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

    @Html.AntiForgeryToken()

    <h2 style="position:center">Member summary statement</h2>

    <form class="form-inline" action="summary_statement" method="post">


        <label for="member_number">Member:</label>
        @Html.DropDownListFor(model=>model.member_number,  (SelectList)ViewBag.member_statement, "---select Member--",
                                  htmlAttributes:new {     required = "required",
                                      @class = "search statement",
                                      @id = "member",

                                  })
        <label for="date">From Date:</label>
        @*<input type="date" id="startDate" placeholder="Start date" name="startDate">*@
        @Html.TextBox("startDate","","{0:dd/MMM/yyyy}", htmlAttributes: new
    {
        @class = "dtPicker statement",
        required = "required",
        placeholder="Enter start Date",
        id = "start_date",
        autocomplete = "off"

    })
        <label for="endDate">End Date:</label>
        @Html.TextBox("endDate","","{0:dd/MMM/yyyy}", htmlAttributes: new
                  {
                      @class = "dtPicker statement",
                      required = "required",
                      placeholder="Enter end Date",
                      id = "end_date",
                      autocomplete="off"
                  })
        <label>
        </label>
        <button type="submit">Generate</button>
    </form>
    <hr />
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

    
    <script type="text/javascript">
        $('.search').select2();
        $(".dtPicker").datepicker({ dateFormat: 'dd/mm/yy' });
        function checkEmptyFields() {

            var anyFieldIsEmpty = $(".statement").filter(function () {
                return $.trim(this.value).length === 0;
            }).length > 0;

            if (anyFieldIsEmpty) {
                alert("Fill all the necessary fields");
                return false;
            } else {
                return true;
            }


        }
    </script>