﻿@using ReportViewerForMvc

@{
    /**/

    ViewBag.Title = "TrialBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.AntiForgeryToken()

<h4 style="text-align:center">TrialBalance </h4>
<h5 style="text-align:center">For the period between @TempData["startDate"].ToString() and @TempData["endDate"].ToString()</h5>

@*@Html.ActionLink("Re-generate", "trialbalance", "finance")*@

<a href="@Url.Action("trialbalance", "finance")" class="btn btn-default">
    Re-generate
    @*<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>*@
</a>

<hr style="border-top: 1px solid black;" />

<div style="text-align:center">
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
</div>



