﻿@model mLender.Models.MembersDetails

@{
    ViewBag.Title = "Add New Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}



<style type="text/css">
    #member_add_form {
        width: 40%;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


@*<div class="wrap">
    <div class="row">*@

        @using (Html.BeginForm("add", "Member", new { ReturnUrl = ViewBag.Returnurl },
            FormMethod.Post, new
            {
                @class = "bootstrap-admin-large-form  col-md-2",//col-md-2 bootstrap-admin-col-left  enable it to fit
                                                                //fit screen with left menu...
                enctype = "multipart/form-data",
                @id = "member_add_form",

            }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        <div style="clear: both;">

            <h4 style="text-align:center">Add Client</h4>


            @*<div class="floatleft">*@
            <fieldset>
                <legend>Personal Info:</legend>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                

                <div class="form-group">

                    @Html.Label("First Name")
                    <div class="editor-field">
                        @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control member" } })
                        @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Other Name")
                    <div class="editor-field">
                        @Html.EditorFor(model => model.other_name, new { htmlAttributes = new { @class = "form-control member" } })
                        @Html.ValidationMessageFor(model => model.other_name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("ID No")
                    <div class="editor-field">
                        @Html.EditorFor(model => model.idno, new { htmlAttributes = new { @class = "form-control member number" } })
                        @Html.ValidationMessageFor(model => model.idno, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Gender")
                    <div class="editor-field">

                        <select class="form-control search member"
                                type="text"
                                name="gender"
                                placeholder="Gender"
                                required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("DOB")
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.date_of_birth, "{0:dd/MMM/yyyy }", htmlAttributes:
               new
               {
                   @autocomplete = "off",
                   @placeholder = "Enter Date Of Birth",
                   @class = " form-control dtpicker member",
                   @required = "required"
               })
                        @Html.ValidationMessageFor(model => model.date_of_birth, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Marital Status")
                    <div class="editor-field">

                        <select class="form-control search member"
                                type="text"
                                name="marital_status"
                                placeholder="Marital Status"
                                required>
                            <option value="0">Select Marital Status</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Other">Other</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.marital_status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Contact Info:</legend>
                <div class="form-group">
                    @Html.Label("Residence")
                    <div class="editor-field">
                        @Html.EditorFor(model => model.residence, new { htmlAttributes = new { @class = "form-control member" } })
                        @Html.ValidationMessageFor(model => model.residence, "", new { @class = "text-danger" })
                    </div>
                </div>





                <div class="form-group">
                    @Html.Label("Telephone")
                    <div class="editor-field">
                        @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control member number PhoneNumber" } })
                        @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Email Address")
                    <div class="editor-field">
                        @Html.EditorFor(model => model.email_address, new { htmlAttributes = new { @class = "form-control emailAddress" } })
                        @Html.ValidationMessageFor(model => model.email_address, "", new { @class = "text-danger" })
                    </div>
                </div>



            </fieldset>

            @*</div>
        <div class="floatright">*@
            <fieldset>
                <legend>Employment Info:</legend>
                <div class="form-group hidden">
                    @Html.Label("Payroll No")
                    <div class="editor-field">
                        @Html.EditorFor(model => model.payroll_no, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.payroll_no, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group hidden">
                    @Html.Label("Company")
                    <div class="editor-field">

                        @Html.DropDownListFor(model => Model.branch_id,
                  (SelectList)ViewBag.companies,
                  "--Select Company--", htmlAttributes: new { @class = "form-control", @id = "branch_id", required = "required" })
                        @Html.ValidationMessageFor(model => model.branch_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group hidden">
                    @Html.Label("Officer")
                    <div class="editor-field">
                        @Html.DropDownListFor(model => Model.officer_id,
                  (SelectList)ViewBag.officer,
                  "--Select Officer--", htmlAttributes: new
                  {
                      required = "required",
                      @class = "form-control search ",
                      @id = "officer_id"
                  })
                        @Html.ValidationMessageFor(model => model.officer_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Occupation")
                    <div class="editor-field">
                        @Html.EditorFor(model => model.occupation, new { htmlAttributes = new { @class = "form-control member" } })
                        @Html.ValidationMessageFor(model => model.occupation, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group hidden">
                    @Html.Label("Is Staff")
                    <div class="editor-field">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsStaff)
                            @Html.ValidationMessageFor(model => model.IsStaff, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <legend>Miscellaneous:</legend>
                <div class="form-group">
                    @Html.Label("Registration Date")
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.date_of_registration, "{0:dd/MMM/yyyy }", htmlAttributes:
                 new
                 {
                     @type = "text",
                     @autocomplete = "off",
                     @placeholder = "Enter Date Of Registration",
                     @class = " form-control regDate member",
                     @required = "required"
                 })
                        @Html.ValidationMessageFor(model => model.date_of_registration, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group hidden">
                    @Html.Label("Referee ID")
                    <div class="editor-field">

                        @Html.EditorFor(model => model.Referee, new { htmlAttributes = new { @class = "form-control", @id = "Referee" } })

                        @Html.ValidationMessageFor(model => model.Referee, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Photo")
                    <div class="editor-field">
                        @Html.HiddenFor(model => model.photo)

                        <input type="file" name="photo" />

                        @Html.ValidationMessageFor(model => model.photo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group hidden">
                    @Html.LabelFor(model => model.Classification)
                    <div class="editor-field">
                        <select class="form-control search "
                                type="text"
                                name="Classification"
                                placeholder="Classification"
                                required>
                            <option value="Class A">Class A</option>

                            <option value="Class B">Class B</option>

                            <option value="Class C">Class C</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Classification, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group hidden">
                    @Html.Label("Is Active")
                    <div class="editor-field">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => @model.is_active, new { htmlAttributes = new { } })
                            @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


            </fieldset>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-lg btn-primary" id="btn_submit" />
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
            @*</div>*@

        </div>

        }
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {
        var anyFieldIsEmpty = jQuery(".member").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            var empty = jQuery(".member").filter(function () {
                return jQuery.trim(this.value).length === 0;
            })
            empty.css("border", "1px solid red");
            return false;
        } else {
            return true;
        }


    }

    jQuery('.member').keyup(function () {
        jQuery(this).css("border", "1px solid grey");
    })
</script>

<!--submit button-->
<script type="text/javascript">
    jQuery("#btn_submit").on('click', function (e) {
        e.preventDefault();
        console.log('Here')

        if (checkEmptyFields()) {
            addMember();

        }
    })


</script>
<!--save branhc data -->
<script type="text/javascript">
    function addMember() {

        // Get form
        var form = $('#member_add_form')[0];
        // Create an FormData object
        var data = new FormData(form);

        //var formdata = new FormData()
        //var photo= $("#photo").get(0).files;
        //formdata.append('photo',photo);

        jQuery.ajax({
            type: 'Post',
            url: '/member/add',
            data: data,
            processData: false,
            contentType: false,
            success: function (succes_message) {
                swal("", succes_message, "info").then(() => { window.location = "/member/index/" });


            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }
        })
    }
</script>

<!--validate numerics-->
<script type="text/javascript">
    

    (function($) {
       $(".number").each(function (i, obj) {
        $(this).onlyNumb();

       });
      
          $(".emailAddress").each(function (i, obj) {
        $(this).onlyValidEmail();
    });
        })(jQuery);
</script>
     <script type="text/javascript">
            jQuery(".dtpicker").datepicker({ maxDate: '-18y', dateFormat: 'dd/mm/yy', changeYear: true, changeMonth: true });

      </script>
<script type="text/javascript">
      jQuery(".regDate").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy', changeYear: true, changeMonth: true });


 </script>
<script type="text/javascript">
    (function ($) {

      $(".PhoneNumber").each(function (i, obj) {
        $(this).onlyPhoneNumber();
      });
    })(jQuery)

</script>