﻿@model mLender.Models.MembersDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}


<style type="text/css">
    #members_details {
        /*white-space: nowrap;*/
    }
</style>


<h2>Client Details:<strong>@ViewBag.member</strong></h2>
<div class="panel panel-default col-md-10 ">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-bordered" id="members_details">
            <tr style="font-weight:bold">

                <td>
                    Client No.
                </td>
                <td>
                    @Html.DisplayName("First Name")
                </td>
                <td>
                    @Html.DisplayName("Other Name")
                </td>
                <td>
                    @Html.DisplayName("Gender")
                </td>
                <td>
                    D.O.B
                </td>
                <td>
                    @Html.DisplayName("Registration Date")
                </td>
                <td>
                    Residence
                </td>
                <td>
                    Occupation
                </td>
                <td>
                    @Html.DisplayName("Branch/Company")
                </td>

                <td>
                    Payroll No.
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.member_number)
                </td>
                <td>
                    @Html.DisplayFor(model => model.first_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.other_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.gender)
                </td>
                <td>
                    @Html.DisplayFor(model => model.date_of_birth)
                </td>
                <td>
                    @Html.DisplayFor(model => model.date_of_registration)
                </td>
                <td>
                    @Html.DisplayFor(model => model.residence)
                </td>
                <td>
                    @Html.DisplayFor(model => model.occupation)
                </td>
                <td>
                    @Html.DisplayFor(model => model.branch_id)
                </td>

                <td>
                    @Html.DisplayFor(model => model.payroll_no)
                </td>

            </tr>
            <tr><td></td></tr>

            <tr style="font-weight:bold">

                <td>
                    @Html.DisplayName("Classification")
                </td>
                <td>
                    @Html.DisplayName("Is A Staff")
                </td>
                <td>
                    ID No.
                </td>


                <td>
                    Telephone
                </td>
                <td>
                    @Html.DisplayName("Email Address")
                </td>
                <td>
                    @Html.DisplayName("Marital Status")
                </td>
                <td>
                    @Html.DisplayName("Photo")
                </td>
                @*<td>
                    @Html.DisplayName("Monthly Contribution")
                </td>
                <td>
                    @Html.DisplayName("Monthly Savings")
                </td>
                <td>
                    @Html.DisplayName("Welfare")
                </td>*@

            </tr>
            <tr>

                <td>
                    @Html.DisplayFor(model => model.Classification)
                </td>
                <td>
                    @Html.YesNo(Model.IsStaff)
                </td>
                <td>
                    @Html.DisplayFor(model => model.idno)
                </td>
                <td>
                    @Html.DisplayFor(model => model.telephone)
                </td>
                <td>
                    @Html.DisplayFor(model => model.email_address)
                </td>
                <td>
                    @Html.DisplayFor(model => model.marital_status)
                </td>
                <td>
                    @*@Html.DisplayFor(model => model.photo)*@
                    @*<img src="@Url.Content(Model.photo)" alt="Image" />*@

                    <img src="~/ImageAndPdfFiles/@Model.photo" alt="Member's Image" style="height:60px;width:100px;" />
                </td>
                @*<td>
                    @Html.DisplayFor(model => model.Monthly_contribution)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Monthly_savings)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Monthly_welfare)
                </td>*@
            </tr>
        </table>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.member_number }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

