﻿@model IEnumerable<mLender.Models.MembersDetails>

@{
    ViewBag.Title = "Clients";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout ="~/Views/Shared/_LeftMenu.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}


<style type="text/css">
    #members_details td {
        white-space: nowrap;
        font-size: 90%;

    }

    #members_details td {
        padding-right: 0%; /*Or how much space you need*/
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src=" https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

@*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>*@




<div class="panel-heading" style="text-align:center"><h3><strong>Client Listing</strong></h3></div>


@if (User.IsInRole("Agent"))
{
    <p>
        @Html.ActionLink("New Client", "add", new { }, new { @class = "btn btn-sm btn-success glyphicon  glyphicon-plus", @style = "color:white" })
    </p>
}
else
{
    @Html.ActionLink("View Register", "membersdetails", "report", new { }, new { @class = "btn btn-sm btn-default glyphicon  glyphicon-print", @style = "color:black" })

}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        <p>@TempData["Success"]</p>
    </div>
}
else if (@TempData["Error"] != null)
{
    <div class="alert alert-error bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error</h4>
        <p>@TempData["Error"]</p>
    </div>
}
<div class="panel panel-default  col-md-10">
    <div class="bootstrap-admin-panel-content">
            <table class="table table-striped table-responsive" id="members_details">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Client No")
                        </th>

                        <th class="hidden">
                            @Html.DisplayName("Payroll No")
                        </th>
                        <th>
                            @Html.DisplayName("Name")

                        </th>

                        <th>
                            @Html.DisplayName("Registration Date")
                        </th>

                        <th>
                            @Html.DisplayName("Branch")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.member_number)
                        </td>

                        <td class="hidden">
                            @Html.DisplayFor(modelItem => item.payroll_no)
                        </td>
                        <td>
                            @item.first_name  @item.other_name
                        </td>

                        <td>
                            @item.date_of_registration.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.branch_id)
                        </td>
                        <td>

                            @Html.ActionLink("Edit", "Edit", new { id = item.member_number }, new { @class = "btn btn-primary btn-sm  glyphicon glyphicon-pencil glyphicon-white", @style = "color:white" })

                            @Html.ActionLink("Details", "Details", new { id = item.member_number }, new { @class = "btn btn-default btn-sm glyphicon glyphicon glyphicon-eye-open", @style = "color:black" })

                            @*@Html.ActionLink("Statement", "#",
                                new { id = item.member_number },
                                new
                                     {
                                         @class = "btn btn-info btn-sm glyphicon  glyphicon-file glyphicon-white",
                                    @style = "color:white",
                                         @id = "btnstatement",
                                         onclick = "return member_sacco_profile()"
                                })*@

                            @Html.ActionLink("Loans", "GetMemberLoans", "LoanApplication",
                           new { id = item.member_number },
                           new
                                {
                                    @class = "btn btn-warning btn-sm glyphicon  glyphicon-usd glyphicon-white",
                               @style = "color:white"
                                })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

<script type="text/javascript">

    function member_sacco_profile() {
        alert("Coming Soon")
        return false;
    }

</script>
<!--data tables-->
<script type="text/javascript">

    $('#members_details').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null]
            , responsive: true
            ,dom: 'Bfrtip',
          buttons: [
            'copyHtml5', 'excelHtml5', 'pdfHtml5', 'csvHtml5'
          ]
        }).draw();

</script>
