﻿@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<!-- content -->
<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>
                mLender -  Your Digital Lending Solution

            </h1>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Details</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <ul>
                        <li>Software Solution for SACCCos and Microfinance </li>
                        <li>Licensed for commercial use</li>
                        <li>Inspired by the need of an efficient software to run daily Financial institution activities </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Source</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <ul>

                        <li>
                            License: Cheruiyot (see below)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">License</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <p>The Cheruiyot License</p>
                    <p>Copyright © 2019 - Cheruiyot</p>
                    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
                    <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
                    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-6">
            <div class="bs-docs-home">
                <div class="bs-masthead">
                    <a href="amoskirui5@gmail.com" target="_blank">
                        <h1>Cheruiyot</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6  text-center">
            <div class="bs-docs-home">
                <div class="bs-masthead">
                    <h1>
                        <a href="https://plus.google.com/u/0/116884836680405711750" target="_blank">

                            <img src="/img/jrocket.png" alt="Cheruiyot Kirui">

                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-urls bootstrap-admin-no-edges-padding">
        <div class="col-md-6">
            <a href="amoskirui5@gmail.com" target="_blank">Email</a>
        </div>
        <div class="col-md-6">
            <a href="https://plus.google.com/u/0/116884836680405711750" target="_blank">
                Cheruiyot Kirui
            </a>
        </div>
    </div>
</div>