﻿@{
    ViewBag.Title = "Home";

}
@Html.Partial("_LeftMenu")
<h4 style="text-align:center">
    Data Analysis Page

</h4>
<hr />

<style type="text/css">
    #piechart {
        width: 35%;
        /*height: 250px;*/
        float: right;
        margin: 0 auto;
        /*margin-left: 17%;
        margin-top: 10%;*/
    }

    #columnchart_values {
        width: 35%;
        /*height: 100px;*/
        float: right;
        margin: 0 auto;
        /*margin-top: -10%;*/
    }

    #loanChart_analysis {
        width: auto;
        float: left;
        /*height: auto;*/
        margin-left: 17%;
        clear: both;
        margin-top: -24%;
    }

    .home {
        width: 100%;
    }
</style>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<body>
    <div class="home">
        <div id="piechart"></div>
        @*<div class="col-md-2" id="columnchart_values"></div>*@
        <div class="col-md-2" id="loanChart_analysis"></div>
    </div>
</body>


<!--begin Member Gender analysis graph-->
<script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var pieData;
        var gender;
        var count;
        const url = "/home/getMemberAnalysis"
        $.getJSON(url, function (data) {

            pieData = new google.visualization.DataTable();

            pieData.addColumn('string', 'gender');
            pieData.addColumn('number', 'count');


            for (var i = 0; i < data.length; i++) {
                count = parseInt(data[i].first_name)
                gender = data[i].gender

                pieData.addRow([gender, count]);
            }

            var options = {
                title: 'Gender Analysis',
                width: 400,
                height: 240

            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(pieData, options);
        })
    }

</script>
<!--end of Member Gender analysis-->
<!--Get share project analyis-->
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var barData;
        var project;
        var amount;
        const url = "/home/getShareProjectAnalysis"
        $.getJSON(url, function (data) {

            barData = new google.visualization.DataTable();

            barData.addColumn('string', 'name');
            barData.addColumn('number', 'Sum Amount');


            for (var i = 0; i < data.length; i++) {
                amount = parseInt(data[i].maximum_amount)
                project = data[i].name

                //console.log(data)

                barData.addRow([project, amount]);
            }


            var options = {
                title: "Share project Analysis",
                width: 400,
                height: 250,
                bar: { groupWidth: "50%" },
                legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(barData, options);
        })
    }
</script>
<!--End share project Analysis-->
<!--Begin Loan issued out Analysis-->
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var barData;
        var loantype;
        var amount;
        const url = "/loanapplication/LoanProductAnalysis"
        $.getJSON(url, function (data) {

            barData = new google.visualization.DataTable();

            barData.addColumn('string', 'loan_code');
            barData.addColumn('number', 'Total');


            for (var i = 0; i < data.length; i++) {
                amount = parseInt(data[i].applied_amount)
                loantype = data[i].loan_code

                //console.log(data)

                barData.addRow([loantype, amount]);
            }


            var options = {
                title: "Loan Issued  Analysis(General)",
                width: 400,
                height: 250,
                bar: { groupWidth: "50%" },
                legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("loanChart_analysis"));
            chart.draw(barData, options);
        })
    }
</script>
<!--End Loan issued out Analysis-->