﻿@model mLender.Models.MiscellaneousSettings

@{

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>



@using (Html.BeginForm("create", "MiscSettings",
           new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
            new
            {
                @id = "misc_setting",
                @class = "bootstrap-admin-small-form "
            }

        ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Miscellaneous Charges Settings</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, htmlAttributes: new
       {
           @class = "form-control text",
           required = "required",
           type = "text",
           autocomplete = "off",
           id = "name"
       })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="editor-label">
            @Html.Label("Ledger Account")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Account_No,
                                                    (SelectList)ViewBag.revenue_account, "--Select Account--",
                                                    htmlAttributes: new
                                                    {
                                                        required = "required",
                                                        @class = "form-control ",
                                                        @id = "revenue_account"

                                                    })
            @Html.ValidationMessageFor(model => model.Account_No, "", new { @class = "text-danger" })
        </div>

        <div class="editor-label">
            @Html.Label("Is Percantage?")
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Percentage)
            @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
        </div>

        <div class="editor-label">
            @Html.Label("Default Amount")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.default_amount, htmlAttributes: new
       {
           @class = "form-control money",
           required = "required",
           type = "number",
           autocomplete = "off",
           id = "default_amount",
           @min="0.00"
       })
            @Html.ValidationMessageFor(model => model.default_amount, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.Label("Charge Type")
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.type, (SelectList)ViewBag.charges, "--Select Charge Type--",
                        new { @class="form-control",  @required = "required" })

            @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })

        </div>

        <div></div><p></p>
        <p>
            <button class="btn btn-lg btn-primary"> Save</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">

    $(".money").each(function (i, obj) {
        $(this).onlyNumb();
    });
</script>

<!--Check for alphabet only-->
<script type="text/javascript">
    $(".text").each(function (i, obj) {
        $(this).onlyAlphabets();
    });
</script>