﻿@model IEnumerable<mLender.Models.MiscellaneousSettings>

@{
    ViewBag.Title = "Misc Charges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Charge", "Create", new { },
    new { @class = "btn btn-lg btn-success glyphicon  glyphicon-plus", @style = "color:white" })

    <div class="panel-heading label-default "><h5 style="text-align:center">Miscellaneous Charges</h5></div>

</p>



@if (TempData["Success"] != null)
{
    <div class="alert alert-success bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        <p>@TempData["Success"]</p>
    </div>
}
else if (@TempData["Error"] != null)
{
    <div class="alert alert-danger bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error</h4>
        <p>@TempData["Error"]</p>
    </div>
}
<div class="panel panel-default">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayName("Account")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Percentage)
                </th>
                <th>
                    @Html.DisplayName("Default Amount")
                </th>
                <th>
                    @Html.DisplayName("Charge Type")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account_No)
                    </td>
                    <td>
                        @Html.YesNo(item.Percentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.default_amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.type }) |
                        @Html.ActionLink("Delete", "#", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>