﻿@model mLender.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}
<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<!--sweet alert for message display-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>




<h4>@ViewBag.Title.</h4>

@using (Html.BeginForm("Register", "Account", FormMethod.Post,
    new { @class = "form-horizontal bootstrap-admin-small-form col-md-10", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new User account.</h4>
    <hr />
    @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })

    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })


    @Html.LabelFor(m => m.OtherName, new { @class = "control-label" })

    @Html.TextBoxFor(m => m.OtherName, new { @class = "form-control" })

    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control  emailAddress" })

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.LabelFor(m => m.IDNo, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.IDNo, new { @class = "form-control number" })

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.LabelFor(m => m.Telephone, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control number PhoneNumber" })


    @Html.Label("user Role", new { @class = "control-label" })
    @*@Html.DropDownList("Name")*@
    @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, "---select Role--",
                          htmlAttributes: new
                               {
                                   required = "required",
                              @class = " search form-control"

                          })


    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

    @Html.Label("Confirm Password", new { @class = "control-label" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align:right">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<script type="text/javascript">
    $('.search').select2();


</script>

<script type="text/javascript">
    //validate phone
    $(".number").each(function (i, obj) {
        $(this).onlyNumb();
    })
</script>
<script type="text/javascript">
    //validate phone
    $(".PhoneNumber").each(function (i, obj) {
        $(this).onlyPhoneNumber();
    })
    $(".emailAddress").each(function (i, obj) {
        $(this).onlyValidEmail();
    })
</script>
