﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - SmartBiz MIS</title>
    @Styles.Render("~/Content/Theme")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap Dropdown Hover CSS -->
    

</head>



<body class="bootstrap-admin-with-small-navbar">

    <!-- main / large navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light bg-light" role="navigation" id="main_navbar">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand glyphicon glyphicon-home" href="/"><strong>SmartBiz</strong></a>
                </div>
                <div class="collapse navbar-collapse main-navbar-collapse">
                    <ul class="nav navbar-nav">
                        @*<li class="active"><a href="#">Link</a></li>*@
                        @*<li><a href="#">Link</a></li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">Client's Funds <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li role="presentation" class="dropdown-header">Receipts</li>
                                <li><a href="~/receipt/index">Receipt List  </a></li>
                                <li><a href="~/receipt/combinedreceipt">Client Receipt</a></li>                                
                                @*<li><a href="~/receipt/create">Member Contribution</a></li>*@
                                @*<li><a href="#">Receipt Savings</a></li>
                                <li><a href="#">Receipt Share Capital</a></li>*@
                                <li role="presentation" class="dropdown-header">Clients Refunds</li>
                                <li><a href="~/payment/refunds">Refunds</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">Finance <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li role="presentation" class="dropdown-header">Finance</li>
                                <li><a href="~/ledger" target="_self">Chart of accounts</a></li>
                                <li><a href="#">Receipt</a></li>
                                @*<li><a href="~/payment/member">MPA Payments</a></li>*@
                                <li><a href="~/payment/GetPaymentsThroughMpesa">Client Payments</a></li>

                                <li><a href="#">Payments</a></li>
                                <li><a href="~/finance/cashbook">Cashbook</a></li>
                                <li role="presentation" class="divider"></li>
                                @*<li role="presentation" class="dropdown-header">Memeber Funds</li>*@


                            </ul>
                        </li>  
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">Activities <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li role="presentation" class="dropdown-header">Non-Client Receipts</li>
                                <li><a href="#">Receipt</a></li>
                                <li><a href="~/receipt/index">Receipt List  </a></li>
                                <li><a href="~/receipt/nonmemberreceipt">Wallet Receipt</a></li>
                                <li><a href="~/receipt/otherreceipts">Other Receipt</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header">Non-Client Payments</li>
                                <li><a href="~/payment/index">Payment List  </a></li>
                                <li><a href="~/payment/otherpayments">Pay Bills</a></li>



                            </ul>
                        </li>


                    </ul>

                    <div class="collapse navbar-collapse bootstrap-admin-navbar-sm">
                        <ul class="nav navbar-nav navbar-right mr-auto ">
                            @*<li><a href="#">Link</a></li>*@
                            @*<li><a href="#">Link</a></li>*@
                            <li>
                                @*<a href="#">Reminders <i class="glyphicon glyphicon-bell"></i></a>*@

                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-hover="dropdown">Settings <i class="glyphicon glyphicon-cog"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/institution/">Institution Setting</a></li>
                                    <li><a href="~/companybranches">Companies/Branches</a></li>
                                    @*<li><a href="~/shareprojects">Share Projects</a></li>*@
                                    <li><a href="~/loantype">Loan Products</a></li>
                                    @*<li><a href="~/miscsettings">Miscellaneous Settings</a></li>*@
                                    @*<li><a href="~/insurer">Loan Insurer</a></li>*@
                                    @*<li><a href="~/regfeepolicy">Registration Fee Policy</a></li>*@
                                    @*<li><a href="~/loaninsurancepolicy">Loan Insurance Policy</a></li>*@

                                    @*<li><a href="#">Others</a></li>*@

                                </ul>
                            </li>

                            <li>
                                @*<a href="#">Go to frontend <i class="glyphicon glyphicon-share-alt"></i></a>*@
                            </li>

                            @Html.Partial("_Multileveldropdown")

                            @Html.Partial("_LoginPartial")
                        </ul>

                    </div>
                    <!--multi drop down-->
                   
                    <!--end multi dropdown -->
                </div><!-- /.navbar-collapse -->

            </div>
        </div><!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">

            <div class="body_content">
                @RenderBody()
            </div>


        </div>
        <div class="row">
            <hr>
            <footer role="contentinfo">
                <p>&copy;  @DateTime.Now.Year -  <a href="https://amoskirui.com" target="_blank">Smartbiz</a></p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-45396411-1', 'azurewebsites.net');
        ga('send', 'pageview');

    </script>

  
</body>
</html >
