﻿<!-- style to create vertical line -->
<style>
    .vertical {
        /*background-color:black;*/
    }
    
</style>
<!-- left, vertical navbar -->
<div class="col-lg-2 col-md-2 col-sm-6 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side vertical">
        @Html.MenuItem("Home", "Index", "Home")
        @*@Html.MenuItem("Dashboard", "Index", "Dashboard")*@
        @*@Html.MenuItem("DatePickers", "Index", "Calendar")*@
        @*@Html.MenuItem("Statistics (Charts)", "Index", "Statistics")*@
        @*@Html.MenuItem("Forms", "Index", "Forms")*@
        @*@Html.MenuItem("Tables", "Index", "Tables")*@
        @*@Html.MenuItem("Buttons &amp; Icons", "Index", "Buttons")*@
        @*@Html.MenuItem(" WYSIWYG Editors", "Index", "Editors")*@
        @*@Html.MenuItem(" UI &amp; Interface", "Index", "Interface")*@

        @*<li>
                <a href="#"><span class="badge pull-right">731</span> Orders</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">812</span> Invoices</a>
            </li>*@
        <li>
            
            <a href="#" class="dropdown-toggle " data-hover="dropdown"><span>Clients</span><i class="glyphicon glyphicon-user"></i></a>
            <ul class="dropdown-menu pull-right">
                <li><a  href="~/member/"><span class="badge pull-right">@ViewBag.member_count</span>Clients</a></li>

                @*<li><a href="~/nextofkin/">Next Of Kin</a></li>*@
                <li><a href="~/memberbalances/membersummarybalances">Summary Balances</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-hover="dropdown">Loans <i class="glyphicon glyphicon-euro"></i></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="~/loanapplication"><span class="badge pull-right"></span>Loan Applications</a></li>
                <li><a href="~/LoanApplication/PendingLoans">Loan Pending</a></li>
                @*<li><a href="~/loanapplication/approve">Loan Appraisal & Endorsment</a></li>*@
                <li><a href="~/loanapplication/effectloan">Effect Loan</a></li>
                <li><a href="~/loanapplication/disbursedLoans">Disbursed Loans</a></li>
                <li><a href="~/LoanApplication/loanschedule">Loan Schedule</a></li>
                <li><a href="~/LoanApplication/LoanDefaulters">Loan Defaulters</a></li>
                <li><a href="~/LoanApplication/getdueloans">Loan Due</a></li>
                <li><a href="~/LoanApplication/Loananalysis">Loan Analysis</a></li>


            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-hover="dropdown">Company Officers/Agents Users <i class="glyphicon glyphicon-user"></i></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="~/CompanyOfficer/"><span class="badge pull-right">@ViewBag.companpany_officer</span>Officers/Agents</a></li>

            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-hover="dropdown">System Users <i class="glyphicon glyphicon-user"></i></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="~/users/"><span class="badge pull-right">@ViewBag.User_count</span>Users</a></li>

                <li><a href="~/Roles/">User Roles</a></li>
            </ul>
        </li>
        @*<li>
                <a href="#"><span class="badge pull-right">2,221</span> Messages</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">11</span> Reports</a>
            </li>
            <li>
                <a href="#"><span class="badge pull-right">83</span> Errors</a>
            </li>*@
        <li>
            <a href="#"><span class="badge pull-right">4,231</span> Logs</a>
        </li>

        @* hover on th menu item --testing *@
        @Html.MenuItem("About", "about", "Home")

    </ul>
</div>


