﻿<!DOCTYPE html>

<html>
<head>


</head>
<body>
    <table class="label-primary" style="width:100%">
        <tr>
            <td style="float:left">
                <div class="label" style="font-size:inherit">Member No:</div><span class="member_no">-</span>
            </td>
            <td>
                <div class="label" style="font-size:inherit">Name:</div><span class="member_name">-</span>
            </td>
            <td>
                <div class="label" style="font-size:inherit">Loan:</div><span class="loan_name">-</span>
            </td>
        </tr>
        <tr>
            <td style="float:left"><div class="label" style="font-size:inherit">Deposits:</div><span class="totaldeposit">-</span></td>
            <td><div class="label" style="font-size:inherit">Free Deposit:</div><span class="freedeposit">-</span></td>
            <td><div class="label" style="font-size:inherit">Applied Amount:</div><span class="appliedAmount">-</span></td>

        </tr>
        <tr>
            <td></td>

        </tr>
        <tr>
            <td style="float:left"><div class="label" style="font-size:inherit">Total Loan:</div><span class="outstandingloan">-</span></td>
            <td><div class="label" style="font-size:inherit">Guaranteed Amount:</div><span class="AmountGuaranteed">-</span></td>
            <td><div class="label" style="font-size:inherit">Loan No:</div><span class="loan_no">-</span></td>
        </tr>
        <tr>
            <td></td>

        </tr>
        <tr>
            <td style="float:left"><div class="label" style="font-size:inherit">Period:</div><span class="period">-</span></td>
            <td><div class="label" style="font-size:inherit">Max. Qualified:</div><span class="AmountQualified">-</span></td>
            <td><div class="label" style="font-size:inherit">Company:</div><span class="company">-</span></td>
        </tr>
    </table>
</body>
</html>

