﻿<!DOCTYPE html>

<html>
<head>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
        <script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>*@
</head>
<body>
    <table class="label-primary" style="width:110%" id="loan_type">
        <tr>
            <td>
                <div class="floatleft" style="height:50px">
                    <div class="label" style="font-size:inherit">Loan Name:</div>

                    <strong>
                        @Html.DropDownList("loan_code",
                                                        (SelectList)ViewBag.loanTypes, "--Select Loan Product--",
                                                        htmlAttributes: new
                                                        {
                                                            required = "required",
                                                            @class = "form-control chosen mandatory loan guarantor",
                                                            @id = "loan_code"
                                                        })
                        @Html.ValidationMessage("loan_code", "", new { @class = "text-danger" })
                    </strong>
                </div>
            </td>
            <td>
                <div class="label" style="font-size:inherit">*Loan No:</div>
                <span id="loan_no"></span>
            </td>

        </tr>

    </table>
</body>
</html>
<script type="text/javascript">
    $(".mandatory").each(function (i, obj) {
        $("#memberprofile").checkrequiredFields();
    });
    loan_no = $("#loan_code").val();


</script>
