﻿@*INCLUDE YOUR IDENTITY CHECK HERE!*@
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
        new { id = "logoutForm", @class = "nav navbar-nav navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-hover="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                @*@User.Identity.GetUserName()
        @ViewBag.userbranch*@
                @if (User.IsInRole("Agent"))
                {
                    @String.Format("{0}-{1}", @User.Identity.GetUserName(), @Session["userbranch"])

                }
                else
                {
                    @User.Identity.GetUserName()

                }
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    Log off
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </a>
                            </li>
                            <li>@Html.ActionLink("Manage my account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            <li><a href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                        </ul>
                    </li>


                }

            }
            else
            {

                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

            }
