﻿<!DOCTYPE html>

<html>
<head>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
        <script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>*@
</head>
<body>
    <table class="label-primary" style="width:100%" id="memberprofile">
        <tr>
            <td style="float:left"><div class="label" style="font-size:inherit">Name:</div><span id="name">-</span></td>

            <td>
                <div class="label" style="font-size:inherit">No. Of Loans:</div><span id="loancount">-</span>
            </td>
        </tr>
        <tr>
            <td style="float:left"><div class="label" style="font-size:inherit">Total Deposits:</div><span id="totaldeposit">-</span></td>
            <td><div class="label" style="font-size:inherit">Free Deposit:</div><span id="freedeposit">-</span></td>
        </tr>
        <tr>
            <td style="float:left"><div class="label" style="font-size:inherit">Loan Balance:</div><span id="outstandingloan">-</span></td>

            <td><div class="label" style="font-size:inherit">Company:</div><span id="company">HQ</span></td>
        </tr>
    </table>
</body>
</html>



