﻿<!DOCTYPE html>

<html>
<head>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
        <script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>*@
</head>
<body>
    <table class="label-primary" style="width:100%" id="memberprofile">
        <tr>
            <td>
                <div class="label" style="font-size:inherit">Client No:</div>
                <strong>
                @Html.TextBox("member_number","",
                  htmlAttributes: new
                  {
                      required = "required",
                      @class = "mandatory loan guarantor",
                      @id = "member_number",
                      @readonly="readonly"

                      //onchange = "return get_member_sacco_profile(this)"
                  })
                </strong>
            </td>
            <td>
                <div class="label" style="font-size:inherit">No. Of Loans:</div><span id="loancount">-</span>
            </td>
        </tr>
        <tr>
            <td><div class="label" style="font-size:inherit">Member Name:</div><span id="memberName">-</span></td>
            <td style="float:left"><div class="label" style="font-size:inherit">Total Deposits:</div><span id="totaldeposit">-</span></td>
        </tr>
        <tr>
            <td><div class="label" style="font-size:inherit">Outstanding Loan Balance:</div><span id="outstandingloan">-</span></td>
            <td><div class="label" style="font-size:inherit">Company:</div><span id="company">HQ</span></td>
        </tr>
    </table>
</body>
</html>


<script type="text/javascript">
   
    function get_member_sacco_profile(member_number) {
        //get selected member


        setTimeout(function () {
        const url = '/loanapplication/get_member_sacco_profile/?member_number=' + member_number;
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {

                //console.log(entry);
                //alert(JSON.stringify(entry[5].Value))
               
                let TotalDeposit = JSON.stringify(entry[0].Value)

                let LoanCount = JSON.stringify(entry[1].Value)

                let MemberName= (entry[5].Value)

                let company = JSON.stringify(entry[3].Value)

                let LoanBalance = JSON.stringify(entry[4].Value)

                //console.log(company.slice(1,company.length-1))

                //get table data cells
                var loancountcell = document.getElementById("loancount");
                var totaldepositcell = document.getElementById("totaldeposit");
                var loanbalancecell = document.getElementById("outstandingloan");
                var MemberNamecell = document.getElementById("memberName");
                var companycell = document.getElementById("company");




                //append the results to table
                loancountcell.innerHTML = LoanCount;
                totaldepositcell.innerHTML = TotalDeposit;
                loanbalancecell.innerHTML = LoanBalance;
                MemberNamecell.innerHTML = MemberName;
                //remove quotation marks
                company = company.slice(1, company.length - 1)
                companycell.innerHTML = company;



            });
        });
        return false;

         },200)        

        
    }
</script>
<script type="text/javascript">
    $(".mandatory").each(function (i, obj) {
        $("#memberprofile").checkrequiredFields();

    });   
</script>

<script type="text/javascript">
    $('#member_number').change( function () {
              var member_number = $('#member_number').val()
                 console.log('here is ' + member_number);
        get_member_sacco_profile(member_number);
        
    })
   
    
</script>

