﻿<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .dropdown-menu {
                top: 10px;
                /*left: 100%;*/
                left: 0;
                margin-top: -6px;
                /*margin-left: -1px;*/
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }
    </style>
</head>
<body>
    <li>
        <a href="#" class="dropdown-toggle" data-hover="dropdown">Reports <i class="glyphicon glyphicon-file"></i></a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Clients</a></li>
            <li><a tabindex="-1" href="#">Loans</a></li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#">Clients <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="~/report/membersdetails">Clients List</a></li>
                    <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">3rd level dropdown</a></li>
                            <li><a href="#">3rd level dropdown</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            @*FINANCIAL REPORT*@
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#">Financial <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="~/finance/trialbalance">Trial Balance</a></li>
                    <li><a tabindex="-1" href="~/finance/balancesheet">Balance Sheet</a></li>
                    <li><a tabindex="-1" href="~/finance/incomestatement">Income Statement</a></li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">3rd level dropdown</a></li>
                            <li><a href="#">3rd level dropdown</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            @* END OF FINANCIAL *@
        </ul>
    </li>


</body>

</html>
@*//<script>
      //$('.dropdown-submenu a.test').on("click", function(e){
      //  $(this).next('ul').toggle();
      //  e.stopPropagation();
      //  e.preventDefault();
      //});
//</script>*@