﻿
@{
    ViewBag.Title = "EmailLoanStatementPerLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmailLoanStatementPerLoan</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/Scripts/bootstrap.js"></script>

<!--sel<!--select 2 dropdown search-->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>

<script src="~/Scripts/MyCustomScripts.js"></script>

<input id="loan_statement" class="btn btn-deep-orange glyphicon glyphicon-arrow-left" value="View PDF" type="button" />



<!--generate loan number-->
<script type="text/javascript">
    function generateLoanStatement() {

        $.ajax({

            success: function (data) {
                //window.location = "/report/LoanStatementPerLoan?loan_no="+'BSL0000007'+'&fromDate='+$("#start_date").val()+'&toDate='+$("#end_date").val()
                window.location = "/report/EmailLoanStatementPerLoan?loan_no=" + 'BSL0000007' + '&fromDate=' + "2020-01-01" + '&toDate=' + "2020-04-04"

            }


        })

    }
</script>
<script type="text/javascript">
    $('#loan_statement').click(function (e) {
        generateLoanStatement();
        //e.preventDefault();

    })
</script>


