﻿@model IEnumerable<mLender.Models.Cashbook>

@{
    /**/

    ViewBag.Title = "Cashbook Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> Project </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
        .balance {
            font-weight: 700;
        }
    </style>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <!--Data table references-->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">


    <!--select 2 dropdown search-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
    </script>
</head>

<body>
    @Html.AntiForgeryToken()

    <h2 style="position:center">cashbook Transaction</h2>

    <form class="form-inline" action="cashbook" method="post">

        <label for="member_number">Member:</label>
        @Html.DropDownList("ledger", (SelectList)ViewBag.ledgers, "---select Ledger A/C--",
                                  htmlAttributes: new
                                       {
                                           required = "required",
                                      @class = "search cashbook",
                                      @id = "ledger",

                                  })
        <label for="date">From Date:</label>
        @*<input type="date" id="startDate" placeholder="Start date" name="startDate">*@
        @Html.TextBox("startDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
    {
        @class = "dtPicker cashbook",
        required = "required",
        placeholder = "Enter start Date",
        id = "start_date",
        autocomplete = "off"

    })
        <label for="endDate">End Date:</label>
        @Html.TextBox("endDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
                  {
                      @class = "dtPicker cashbook",
                      required = "required",
                      placeholder = "Enter end Date",
                      id = "end_date",
                      autocomplete = "off"
                  })
        <label for="branch_id">Branch:</label>
        @Html.DropDownList("branch_id", (SelectList)ViewBag.branch, "---select Branch A/C--",
                                  htmlAttributes: new
                                       {
                                      @class = "search",
                                      @id = "branch",

                                  })




        <label>
        </label>
        <button id="btn_cashbook" class="btn  btn-default" type="submit">Generate</button>
        @*<input id="btn_cashbook" class="btn btn-deep-orange glyphicon glyphicon-arrow-left" value="Generate" type="button" />*@

    </form>

    <hr />
    @*<a href="@Url.Action("cashbook", "report")" class="btn btn-default btn-sm" id="btn_cashbook_report">
        Show report
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>*@
    <input id="btn_cashbook_report" class="btn btn-default glyphicon glyphicon-print" value="Show PDF" type="button" />

    <div class="panel panel-default col-md-10">
        <div class="bootstrap-admin-panel-content">
            <table class="table table-striped table-condensed table-responsive table-bordered table-hover" id="cashbook_details">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Transaction Date")
                        </th>

                        <th>
                            @Html.DisplayName("Narration")
                        </th>

                        <th>
                            @Html.DisplayName("Debit")

                        </th>
                        <th>
                            @Html.DisplayName("Credit")
                        </th>
                        <th>
                            @Html.DisplayName("*Balance")
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr></tr>

                </tbody>
                @*<tr>
                        <td id="transaction_date"></td>
                        <td id="transaction_description"></td>
                        <td id="debit"></td>
                        <td id="credit"></td>

                    </tr>*@

            </table>
        </div>
    </div>



    <!--My custom scripts-->
    <script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

    <script type="text/javascript">

        $('.search').chosen();
        $(".dtPicker").datepicker({ dateFormat: 'dd/mm/yy' });


        function checkEmptyFields() {

            var anyFieldIsEmpty = $(".cashbook").filter(function () {
                return $.trim(this.value).length === 0;
            }).length > 0;

            if (anyFieldIsEmpty) {
                alert("Fill all the  fields");
                return false;
            } else {
                return true;
            }


        }


        $('#btn_cashbook').click(function (e) {
            e.preventDefault();

            if (checkEmptyFields()) {


                $('#cashbook_details >tbody>tr').detach();//clear content of the table before reloading the content
                const url = '/finance/cashbook_transaction';
                var params = {
                    ledger: $('#ledger').val(),
                    startDate: $('#start_date').val(),
                    endDate: $('#end_date').val(),
                    branch_id: $('#branch').val()
                }

                $.getJSON(url, params, function (data) {
                    var body = "<tr>";
                    //console.log(data)
                    if ($.trim(data) != '') {

                        $.each(data, function (key, entry) {
                            // console.log(entry)

                            let transaction_date = entry[0].Value;
                            var date = (Date.parse(transaction_date));
                            //transaction_date = new Date(parseInt(transaction_date.substr(6))).toLocaleDateString('en-GB');
                            let transaction_narration = entry[1].Value;
                            let debit = parseFloat(entry[2].Value).toLocaleString('en')
                            let credit = parseFloat(entry[3].Value).toLocaleString('en')
                            let balance = parseFloat(entry[4].Value).toLocaleString('en')//has coma

                            body += "<td>" + transaction_date + "</td>";
                            body += "<td>" + transaction_narration + "</td>";
                            body += "<td>" + debit + "</td>";
                            body += "<td>" + credit + "</td>";
                            body += "<td class='balance'>" + balance + "</td>";

                            body += "</tr>";

                        });
                    }
                    else {
                        body += "<td style='text-align:center;color:red' colspan='5'>" + "No entries Found! ,check date range selected or the account." + "</td>"
                    }

                    $("#cashbook_details").append(body);

                })

            }
        })


    </script>
    <script type="text/javascript">
        $('#btn_cashbook_report').click(function (e) {

            if (checkEmptyFields()) {
                generateLoanStatement();
            }

        })
    </script>


</body>
</html>
<!--prepopulate date fields-->
<script type="text/javascript">
    $(document).ready(function () {
        var now = new Date().toLocaleDateString('en-GB');
        $('.dtPicker').val(now);
    })

</script>
<script type="text/javascript">
    function generateLoanStatement() {

        $.ajax({
            
            success: function (data) {
              
                window.location = "/report/cashbook?ledger="+$('#ledger').val()+'&startDate='+$('#start_date').val()+'&endDate='+$('#end_date').val()+'&branch_id='+$('#branch').val()
                 

            }


        })

    }
</script>
