﻿@model mLender.Models.trialBalance

@{
    ViewBag.Title = "Trial Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<style type="text/css">
    table {
        table-layout: fixed;
        width: 300px;
    }

    .totals {
        font-weight: 800;
        color: gray;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />




<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

@Html.AntiForgeryToken()


<h4 style="text-align:center">Trial Balance</h4>


<div class="bootstrap-admin-panel-content col-md-10 col-lg-10 col-xs-10">
    <form class="form-inline col-md-10" action="trialbalance" method="post">



        <label for="date">From Date:</label>
        @*<input type="date" id="startDate" placeholder="Start date" name="startDate">*@
        @Html.TextBox("startDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
    {
        @class = "dtPicker trialbalance",
        required = "required",
        placeholder = "Enter start Date",
        id = "start_date",
        @value = DateTime.Now.ToShortDateString(),
        autocomplete = "off"

    })
        <label for="endDate">End Date:</label>
        @Html.TextBox("endDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
                  {
                      @class = "dtPicker trialbalance",
                      required = "required",
                      placeholder = "Enter end Date",
                      id = "end_date",
                      @value = DateTime.Now.ToShortDateString(),
                      autocomplete = "off"
                  })

        <label for="branch_id">Branch:</label>
        @Html.DropDownList("branch_id", (SelectList)ViewBag.branch, "---select Branch A/C--",
                                  htmlAttributes: new
                                       {
                                      @class = "search",
                                      @id = "branch",

                                  })

        <label>
        </label>
        <button id="btn_trialbalance" class="btn btn-sm btn-default" type="submit">Generate</button>

    </form>
</div>
<hr />


<input id="btn_generateTB" class="btn btn-default glyphicon glyphicon-print" value="Show PDF" type="button" />
<div class="panel panel-default col-md-10">
    <div class="bootstrap-admin-panel-content">
        <table data-toggle="table" class="table table-striped table-condensed table-responsive table-bordered table-hover" id="trialbalance_details">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Account Name")
                    </th>


                    <th>
                        @Html.DisplayName("Debit")

                    </th>
                    <th>
                        @Html.DisplayName("Credit")
                    </th>


                </tr>
            </thead>
            <tr></tr>
           
            <tfooter>
               
            </tfooter>
        </table>
        <table class="table table-striped table-condensed table-responsive table-bordered table-hover" id="summary_table">
            <thead>
                <tr>
                    <th>
                    </th>


                    <th>

                    </th>
                    <th>
                    </th>


                </tr>
            </thead>
            <tr></tr>
        </table>


    </div>
</div>



<script type="text/javascript">
    $('.search').chosen();
    $(".dtPicker").datepicker({ dateFormat: 'dd/mm/yy' });


    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".dtPicker").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }

    function generatetrialbalance() {
        $('#trialbalance_details >tbody>tr').detach();//clear content of the table before reloading the content
        $('#summary_table >tbody>tr').detach();//clear content of the table before reloading the content

        const url = '/finance/generatetrialbalance';
        var params = { startDate: $('#start_date').val(), endDate: $('#end_date').val(), branch_id: $('#branch').val() }



        var total_debit = 0;
        var total_credit = 0;

        $.getJSON(url, params, function (data) {

            var body = "<tr>";

            if ($.trim(data) != '') {


                $.each(data, function (key, entry) {
                    //console.log(entry)

                    let account_name = entry[0].Value;
                    let debit = parseFloat(entry[1].Value).toLocaleString('en')
                    let credit = parseFloat(entry[2].Value).toLocaleString('en')



                    body += "<td>" + account_name + "</td>";
                    body += "<td class='debit'>" + debit + "</td>";
                    body += "<td class='credit'>" + credit + "</td>";


                    body += "</tr>";


                    total_debit += parseFloat(entry[1].Value);
                    total_credit += parseFloat(entry[2].Value);



                });
            }
            else {
                body += "<td style='text-align:center;color:red' colspan='5'>" + "No entries Found! ,check date range." + "</td>"
            }
            $('#trialbalance_details').append(body);

            total_debit = total_debit.toLocaleString('en')
            total_credit = total_credit.toLocaleString('en')
            $('#summary_table').append('<tr><td class="totals">' + 'Total' + '</td><td class="totals">' + total_debit + '</td><td class="totals">' + total_credit + '</td></tr>');;

        })

    }
    //$('#trialbalance_details').DataTable();

    $('#btn_trialbalance').click(function (e) {

        e.preventDefault();

        if (checkEmptyFields()) {
            generatetrialbalance();

        }
    })

    $('#btn_generateTB').click(function (e) {

        if (checkEmptyFields()) {
            generateTrialBalanceReport();
        }

    })

</script>
<!--prepopulate date fields-->
<script type="text/javascript">
    $(document).ready(function () {
        var now = new Date().toLocaleDateString('en-GB');
        $('.dtPicker').val(now);
    })

</script>
<script type="text/javascript">
    function generateTrialBalanceReport() {

        $.ajax({

            success: function (data) {

                window.location = "/report/trialbalance?&startDate=" + $('#start_date').val() + '&endDate=' + $('#end_date').val() + '&branch_id=' + $('#branch').val()


            }


        })

    }
</script>

