﻿@model mLender.Models.Institution
@if (User.Identity.IsAuthenticated)
{
    {
        ViewBag.Title = "Create Institution";
        Layout = "~/Views/Shared/_Layout.cshtml";
        @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

    }
    <style type="text/css">
        #add_institution {
            width: 90%;
        }
    </style>



    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!--select 2 dropdown search-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


    <!--sweet alert for message display-->
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>

    <!--My custom scripts-->
    <script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

    <div class="row">

        @using (Html.BeginForm("create", "Institution", new { ReturnUrl = ViewBag.Returnurl },
            FormMethod.Post, new
            {
                @class = "bootstrap-admin-small-form col-md-10",
                enctype = "multipart/form-data",
                @id = "institution_form"
            }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <h4>Institution Details</h4>
            <div class="form-group">
                @Html.Label("Name")
                <input class="form-control institution" type="text" name="Name" placeholder="Name">
            </div>
            <div class="form-group">
                @Html.Label("Address")

                <input class="form-control institution" type="text" name="address" placeholder="Address">
            </div>
            <div class="form-group">
                @Html.Label("Telephone")
                <input class="form-control institution PhoneNumber" type="text" name="telephone" placeholder="0712345678">
            </div>
            <div class="form-group">
                @Html.Label("Email")

                <input class="form-control institution emailAddress" type="text" name="email_address" placeholder="Email Address">
            </div>
            <div class="form-group">
                @Html.Label("Tag Line")

                <input class="form-control institution" type="text" name="tag_line" placeholder="Motto">
            </div>
            <div class="form-group">
                <label>Is A Matatu Sacco?</label>
                @Html.CheckBoxFor(m => m.Is_Matatu_Sacco);
            </div>
            <div>
                <label>Logo</label>
                @Html.Label("Logo")

                <input type="file" name="Logo" id="Logo" style="width: 100%;" /> <br />
            </div>
            <p>
                <button class="btn btn-lg btn-lg btn-primary" id="btn_Submit" type="submit">Save</button>
            </p>

        }
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>



}
else
{
    Response.Redirect("~/account/login");

}

<script type="text/javascript">

    $(".search").select2();
</script>
<!--save branhc data -->
<script type="text/javascript">
    function addInstitution() {
        var myForm = $('#institution_form')[0];

        var myData = new FormData(myForm);

        $.ajax({
            type: 'Post',
            url: '/Institution/Create',
            data: myData,
            processData: false,
            contentType: false,
            success: function (succes_message) {
                swal("", succes_message, "info");

            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }
        })
    }
</script>

<!--submit button-->
<script type="text/javascript">
    $("#btn_Submit").on('click', function (e) {
        e.preventDefault();

        if (checkEmptyFields()) {
            addInstitution();

        }
    })


</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {
        var anyFieldIsEmpty = $(".institution").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>

<script type="text/javascript">
    //validate phone
    $(".PhoneNumber").each(function (i, obj) {
        $(this).onlyPhoneNumber();
    })
</script>
<script type="text/javascript">
    //validate email
    $(".emailAddress").each(function (i, obj) {
        $(this).onlyValidEmail();
    })
</script>
