﻿@model mLender.Models.Institution

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Landing.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Institution</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email_address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email_address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tag_line)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tag_line)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
