﻿@model mLender.Models.Institution

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<h4 style="text-align:center">Institution's Details</h4>
<div class="panel panel-default">
    <div class="bootstrap-admin-panel-content col-md-10">
        <table class="table table-bordered">
            <thead></thead>

            <tr style="font-weight:bold">

                <td>Name</td>
                <td>Address</td>
                <td>Telephone</td>
                <td>Email Adress</td>
                <td>Tag Line</td>
                <td>Logo</td>
            </tr>
            <tr>
                <td> @Html.DisplayFor(model => model.name)</td>

                <td> @Html.DisplayFor(model => model.address)</td>

                <td> @Html.DisplayFor(model => model.email_address)</td>

                <td> @Html.DisplayFor(model => model.telephone)</td>

                <td> @Html.DisplayFor(model => model.tag_line)</td>

                <td><img src="~/ImageAndPdfFiles/@Model.Logo" width="100" height="100" /></td>

            </tr>


            @*<p>
                    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>*@
        </table>
    </div>
</div>
