﻿@model IEnumerable<mLender.Models.Institution>

@{
    /**/

    ViewBag.Title = "Institution";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}


<style type="text/css">
    #tbl_institution {
        width: 90%;
    }
    #tbl_institution td {
            white-space:nowrap;

    }
</style>

<div class="panel-heading"><h4 style="text-align:center">Institution</h4></div>

    @Html.ActionLink("Add", "Create", new { },
    new { @class = "btn btn-sm btn-success glyphicon  glyphicon-plus", @style = "color:white" })

@if (TempData["Success"] != null)
{
    <div class="alert alert-success bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        <p>@TempData["Success"]</p>
    </div>
}
else if (@TempData["Error"] != null)
{
    <div class="alert alert-error bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error</h4>
        <p>@TempData["Error"]</p>
    </div>
}
<div class="panel panel-default col-md-10">
    <div class="bootstrap-admin-panel-content ">
        <table class="table table-striped" id="tbl_institution">
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Address")
                </th>
                <th>
                    @Html.DisplayName("Telephone")
                </th>
                <th>
                    @Html.DisplayName("Email Address")
                </th>
                <th>
                    @Html.DisplayName("Tag Line")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email_address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tag_line)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit", new { id = item.name }, new { @class = "btn btn-lg btn-sm btn-primary glyphicon glyphicon-pencil glyphicon-white", @style = "color:white" })

                        @Html.ActionLink("Details", "Details", new { id = item.name }, new { @class = "btn  btn-lg btn-sm btn-default glyphicon glyphicon glyphicon-eye-open", @style = "color:black" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.name }, new { @class = "btn  btn-lg btn-sm btn-danger glyphicon  glyphicon-remove glyphicon-white", @style = "color:white" })
                    </td>
                </tr>

            }

        </table>
    </div>
</div>