﻿@model mLender.Models.Ledger
@if (User.Identity.IsAuthenticated)
{
    {

        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
        @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    <!--Data table references-->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


    <!--select 2 dropdown search-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

    <!--sweet alert for message display-->
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>

    <!--My custom scripts-->
    <script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


    <div class="row">

        @using (Html.BeginForm("create", "Ledger", new { ReturnUrl = ViewBag.Returnurl },
            FormMethod.Post, new { @class = "bootstrap-admin-small-form col-lg-10 col-md-10 col-xs-10", @id = "ledger_form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)



        <fieldset>
            <legend style="text-align:center">Add ledger Account</legend>

            <div class="form-group">
                <label>Main Ledger Class</label>
                <div id="main_class">
                    @Html.DropDownList("Class", (SelectList)@ViewBag.main_classes, "--Select Main Ledger--",
                   htmlAttributes: new { @class = "form-control chosen ledger", @onchange = "dropdownChange(this.value)", @id = "#main_class", required = "required" })
                </div>
                @Html.ValidationMessageFor(Model => Model.Class, "", new
                    { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Ledger Group</label>

                @Html.DropDownList("Ledger_group", (SelectList)@ViewBag.Ledgers, "--Select Ledger Group--",
               htmlAttributes: new { @class = "form-control ledger", @disabled = "disabled", @id = "ledger_groups", required = "required" })

            </div>
            @Html.ValidationMessageFor(Model => Model.Ledger_group, "", new { @class = "text-danger" })

            <div class="form-group hidden">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Code)
                </div>
                @Html.TextBoxFor(model => model.Code, @Model.Code,
               htmlAttributes: new { @class = "form-control ledger", @disabled = "disabled", @value = "", @id = "ledger_code", required = "required" })

                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Name</label>

                <input class="form-control ledger" id="name" type="text" name="Name" placeholder="Equity Current Account" required>
            </div>
            @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })

            <div class="form-group">
                <label>Allow Overdraft</label>

                @Html.CheckBoxFor(model => model.Allow_Overdraft)
            </div>

            <div class="form-group">
                <label>Bank</label>

                @Html.CheckBoxFor(model => model.IsBank)
                @Html.ValidationMessageFor(model => model.IsBank)
            </div>

            <p>
                <button class="btn btn-lg btn-xs btn-sm btn-primary" id="btn_submit" type="submit">Save</button>
            </p>
        </fieldset>
        }
        @*call javascript for searching dropdown*@
        <script type="text/javascript">
            $(document).ready(
                $(".chosen").chosen({ no_results_text: "oops! No record found matching the name:  " })
            );
        </script>

        <script type="text/javascript">
            function dropdownChange(val) {
                //alert(val);
                var main_class = document.getElementById("#main_class").value;

                var ledger2 = document.getElementById("ledger_groups");
                ledger2.disabled = false;
                //ledger2.classList.add("chosen");
                getsubledgers(val);

            };

            function getsubledgers(id) {
                let dropdown = $('#ledger_groups');
                //dropdown.classList.add("chosen");
                dropdown.html("");


                dropdown.append('<option selected="true" disabled >Choose ledger group</option>');
                dropdown.prop('selectedIndex', 0);
                const url = '/ledger/getSubledgers/?id=' + id;

                // Populate dropdown with list of ledger group
                $.getJSON(url, function (data) {
                    $.each(data, function (key, entry) {
                        var ledger = [];
                        dropdown.append($('<option></option>').val(entry.Value).text(entry.Text));


                    })
                });

            }

        </script>

    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>



}
else
{
    Response.Redirect("~/account/login");

}

<!--Send to controller-->
<script type="text/javascript">
    function addLedger() {

        // Get form
        var form = $('#ledger_form')[0];
        // Create an FormData object
        var data = new FormData(form);

        jQuery.ajax({
            type: 'Post',
            url: '/ledger/Create',
            data: data,
            processData: false,
            contentType: false,
            success: function (succes_message) {
                swal("", succes_message, "info");


            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }
        })
    }
</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {


        var anyFieldIsEmpty = $.trim($('.ledger').val()) == "";


        if (anyFieldIsEmpty) {
            swal("", "Fill all the necessary fields", "warning");

            var empty = jQuery(".ledger").filter(function () {
                return jQuery.trim(this.value).length === 0 || jQuery('.loantype').val();
            })
            empty.css("border", "1px solid red");
            //empty.addClass("mandatory");

            return false;
        } else {
            return true;

        }


    }


</script>
<!--submit button-->
<script type="text/javascript">
    jQuery("#btn_submit").on('click', function (e) {
        e.preventDefault();

        if (checkEmptyFields()) {
            addLedger();

        }
    })


</script>