﻿@model mLender.Models.Ledger

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")


}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>

<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>



@using (Html.BeginForm("edit", "Ledger", new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
    new { @class = "bootstrap-admin-small-form col-lg-10 col-md-10 col-xs-10", @id = "ledger_form" }))


{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Ledger</legend>

        
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Class)
            </div>
            @Html.DropDownList("Class", (SelectList)@ViewBag.main_classes, 
                   htmlAttributes: new { @class = "form-control ledger search", @id = "main_class", @onchange = "dropdownChange(this.value)", required = "required" })
            @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <div class="editor-label">
                @Html.Label("Ledger Group")
            </div>
            @*@Html.DropDownList("Ledger_group", (SelectList)@ViewBag.ledgers, Model.Ledger_group,
                  htmlAttributes: new
                       {
                           @class = "form-control search ledger",
                           disabled = "disabled",
                      @id = "ledger_groups",
                           required = "required"
                       })*@

            @Html.DropDownList("Ledger_group", (SelectList)@ViewBag.sub_ledger_group,"--Select Ledger Group--",
                 htmlAttributes: new
                      {
                          @class = "form-control search ledger",
                          disabled = "disabled",
                     @id = "ledger_groups",
                          required = "required"
                      })


            @Html.ValidationMessageFor(model => model.Ledger_group, "", new { @class = "text-danger" })
        </div>


        <div class="form-group hidden">
            <div class="editor-label">
                @Html.LabelFor(model => model.Code)
            </div>
            @Html.TextBoxFor(model => model.Code,
           htmlAttributes: new { @class = "form-control ledger", @id = "ledger_code", required = "required" })

            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,
           htmlAttributes: new { @class = "form-control ledger", @id = "ledger_name", required = "required" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Allow_Overdraft)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Allow_Overdraft)
            @Html.ValidationMessageFor(model => model.Allow_Overdraft)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsBank)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsBank)
            @Html.ValidationMessageFor(model => model.IsBank)
        </div>

        <p>
            <button class="btn btn-lg btn-sm btn-xs btn-primary" id="btn_submit" type="submit">Save</button>

        </p>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>


    </fieldset>
}


<!--Send to controller-->
<script type="text/javascript">
    function updateLedger() {

        // Get form
        var form = $('#ledger_form')[0];
        // Create an FormData object
        var data = new FormData(form);


        jQuery.ajax({
            type: 'Post',
            url: '/ledger/edit',
            data: data,
            processData: false,
            contentType: false,
            success: function (succes_message) {
                swal("", succes_message, "info");


            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }
        })
    }
</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {


        var anyFieldIsEmpty = $.trim($('.ledger').val()) == "";


        if (anyFieldIsEmpty) {
            swal("", "Fill all the necessary fields", "warning");

            var empty = jQuery(".ledger").filter(function () {
                return jQuery.trim(this.value).length === 0 || jQuery('.loantype').val();
            })
            empty.css("border", "1px solid red");
            //empty.addClass("mandatory");

            return false;
        } else {
            return true;

        }


    }


</script>
<!--submit button-->
<script type="text/javascript">
    jQuery("#btn_submit").on('click', function (e) {
        e.preventDefault();

        if (checkEmptyFields()) {
            updateLedger();

        }
    })


</script>

<!--when main class change populate sub ledgers accordingly-->
@*<script type="text/javascript">
    function dropdownChange(val) {
        //alert(val);
        var main_class = document.getElementById("main_class").value;


        var ledger2 = document.getElementById("ledger_groups");
        ledger2.disabled = false;
        getsubledgers(val);
    }
    </script>*@

<script type="text/javascript">
    $('.search').select2();
</script>


<script type="text/javascript">
    function dropdownChange(val) {
        //alert(val);
        var main_class = document.getElementById("main_class").value;

        var ledger2 = document.getElementById("ledger_groups");
        ledger2.disabled = false;
        //ledger2.classList.add("chosen");
        getsubledgers(val);

    };

    function getsubledgers(id) {
        let dropdown = $('#ledger_groups');
        //dropdown.classList.add("chosen");
        dropdown.html("");


        dropdown.append('<option selected="true" disabled >Choose ledger group</option>');
        dropdown.prop('selectedIndex', 0);
        const url = '/ledger/getSubledgers/?id=' + id;

        // Populate dropdown with list of ledger group
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {
                var ledger = [];
                dropdown.append($('<option></option>').val(entry.Value).text(entry.Text));


            })
        });

    }

</script>