﻿@model IEnumerable<mLender.Models.Ledger>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}


<style type="text/css">
    table {
        /*table-layout: fixed;*/
        /*width: 300px;*/
    }

    #table_ledger {
        white-space: nowrap;
        width: 80%;

    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>

<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


<div class="panel-heading" style="text-align:center"><h4>Ledger List</h4></div>

<p>
    @Html.ActionLink("New", "Create", new { },
    new { @class = "btn btn-lg btn-sm btn-md btn-success glyphicon  glyphicon-plus", @style = "color:white" })
</p>

<div class="panel panel-default col-md-10 ">

    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped" id="table_ledger">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Code")
                    </th>
                    <th>
                        @Html.DisplayName("Class")
                    </th>
                    <th>
                        @Html.DisplayName("Group")
                    </th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>

                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ledger_group)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>


                        @Html.ActionLink("Edit", "Edit", new { id = item.Code }, new { @class = "btn btn-lg btn-sm  btn-primary glyphicon glyphicon-pencil glyphicon-white", @style = "color:white" })

                        @Html.ActionLink("delete", "", new { id = item.Code },
                       new
                       {
                           @class = "btn btn-lg btn-sm  btn-danger glyphicon  glyphicon-remove glyphicon-white",
                           @style = "color:white",
                           @id = "delete"
                           //@onclick = "deleteLedger("+item.Code+")"
                       })
                    </td>
                </tr>

            }

        </table>
    </div>
</div>

<!--data tables-->
<script type="text/javascript">

    $('#table_ledger').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null]
        });

</script>
