﻿
@{
    ViewBag.Title = "GetPaymentsThroughMpesa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<style type="text/css">
    #mpesa_table td, tr {
        white-space: nowrap;
        /*max-width:100%;*/
    }

    .totals {
        font-weight: 800;
        color: gray;
        /*width:1000px*/
    }

    .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }

    #selectedsummary_table td {
        width: 1200px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <title> Project </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    <!--Data table references-->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


    <!--select 2 dropdown search-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

    <!--sweet alert for message display-->
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>


    <!--My custom scripts-->
    <script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


</head>
<body>
    <div class="container table-responsive">
        <h4 style="
        text-align: center
    ">
            Loans To Be Disbursed
        </h4>

        @Html.AntiForgeryToken()
        @Html.TextBox("startDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
    {
        @class = "dtPicker disbursement",
        required = "required",
        placeholder = "Enter start Date",
        id = "start_date",
        autocomplete = "off"

    })
        <label for="endDate">End Date:</label>
        @Html.TextBox("endDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
                  {
                      @class = "dtPicker disbursement",
                      required = "required",
                      placeholder = "Enter end Date",
                      id = "end_date",
                      autocomplete = "off"
                  })
        <label for="branch_id">Branch:</label>
        @Html.DropDownList("branch_id", (SelectList)ViewBag.branch, "---select Branch A/C--",
                                  htmlAttributes: new
                                       {
                                      @class = "search",
                                      @id = "branch",

                                  })




        <label>
        </label>
        <button id="btn_getVouchers" class="btn btn-sm btn-warning" type="submit">Generate</button>
        @*<div class="panel panel-default col-md-6 col-lg-6 col-xs-6">*@
        <div class="bootstrap-admin-panel-content col-md-10 col-lg-10 col-xs-10">
            <table class="panel table table-condensed table-striped table-responsive table-bordered col-md-10 col-lg-10 col-xs-10" id="mpesa_table">
                <thead>
                    <tr>
                        <th>Voucher Date</th>
                        <th>Voucher Number</th>
                        <th>Loan No</th>
                        <th>Description</th>
                        <th> Amount</th>
                        <th> Name</th>
                        <th>Select All<input type="checkbox" id="checkbox_all" /></th>

                    </tr>
                </thead>

                <tbody id="table_body">
                </tbody>
                <tfooter>
                </tfooter>
            </table>
            <table class="table table-striped table-condensed table-responsive table-bordered table-hover" id="summary_table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr></tr>
            </table>
            <div>
                <p>
                    <input style="float: left" id="btn_confirmed" class="btn btn-sm btn-info" value="Get Confirmed Payment" type="button" />

                </p>
                <p>
                    <input style="float: right" id="process_payment" class="btn btn-sm btn-success" value="Save Confirmed " type="button" />

                </p>
            </div>
        </div>
        @*</div>*@
    </div>

    <!--Modal Form-->

    <div class="modal fade" id="modalConfirmLoanpayment" width="1250px" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div>
                    </div>
                    <div></div>
                    <ul></ul>
                    <h4 class="modal-title w-100 font-weight-bold">M-Pesa Payment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3 container table-responsive ">

                    @Html.AntiForgeryToken()
                    @*<div class="panel panel-default col-md-6 col-lg-6 col-xs-6">*@
                    <div class="bootstrap-admin-panel-content col-md-10 col-lg-10 col-xs-10 ">
                        <table class="panel table table-condensed table-striped table-responsive table-bordered col-md-10 col-lg-10 col-xs-10" id="selected_mpesa_table">
                            <thead>
                                <tr>
                                    <th>Voucher Date</th>
                                    <th>Voucher Number</th>
                                    <th>Loan No</th>
                                    <th>Description</th>
                                    <th> Amount</th>
                                    <th> Name</th>
                                </tr>
                            </thead>

                            <tbody id="Selected_table_body">
                            </tbody>
                            <tfooter>
                            </tfooter>
                        </table>
                        <table class="table table-striped table-condensed table-responsive table-bordered table-hover" id="selectedsummary_table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center ">
                    @*<button id="approve_form" class="btn btn-lg btn-deep-orange btn-success">Process</button>*@
                    <input style="float: right" id="btn_processPayment" class="btn btn-sm btn-success" value="Process Payment" type="button" />

                </div>
            </div>
        </div>
    </div>
    <!--End of Modal Form-->

</body>

</html>

<!--Get vouchers in Json-->
<script type="text/javascript">
    function getVouchers() {
        detachExistingRows();
        var loan_no = '';
        var i = 1;

        const url = '/payment/GetMpesaVouchers';
        var params = {
                    startDate: $('#start_date').val(),
                    endDate: $('#end_date').val(),
                    branch_id:$('#branch').val()
                }

        var totalpayout = 0

        $.getJSON(url,params, function (data) {
            var body = "<tr>";

            if ($.trim(data) != '') {


                $.each(data, function (key, entry) {

                    //populate the table
                    var voucher_Date = (entry[0].Value);
                    voucher_Date = new Date(parseInt(voucher_Date.substr(6))).toLocaleDateString('en-GB');
                    var voucher_No = entry[1].Value;
                    var loan_no = entry[2].Value;
                    var amount = parseFloat(entry[3].Value).toLocaleString('en-GB');
                    var membername = entry[4].Value;
                    var description = entry[5].Value;

                    body += '<td id="voucher_date_' + i + '">' + voucher_Date + "</td>";
                    body += '<td id="voucher_no_' + i + '"> ' + voucher_No + '</td >'
                    body += '<td id="loan_no_' + i + '">' + loan_no + '</td>'
                    body += '<td id="description_' + i + '">' + description + '</td>'
                    body += '<td class="col-md-2" id="voucher_amount_' + i + '">' + amount + '</td>'
                    body += '<td id="member_no_' + i + '">' + membername + "</td>";
                    body += '<td><input type="checkbox" class="checkbox"/></td>';

                    body += "</tr>";

                    //$('#mpesa_table').append(body);

                    //$('#mpesa_table').append(('<tr><td id="voucher_date_' + i + '">' + voucher_Date + '</td>'
                    //    + '<td id="voucher_no_' + i + '"> ' + voucher_No + '</td > <td id="loan_no_' + i + '">' + loan_no + '</td>' +
                    //    '<td id="description_' + i + '">' + description + '</td><td id="voucher_amount_' + i + '">' + amount + '</td>' +
                    //    '<td id="member_no_' + i + '">' + membername + '</td><td><input type="checkbox" class="checkbox"/></td></tr > '));

                    totalpayout += parseFloat(entry[3].Value);
                })


            }
            else {
                body += "<td style='text-align:center;color:red' colspan='7'>" + "No entries Found!" + "</td>"
            }
            $('#mpesa_table').append(body);

            totalpayout = totalpayout.toLocaleString('en')

            $('#summary_table').append('<tr><td class="totals">' + 'Total' + '</td><td class="totals col-md-2">' + totalpayout + '</td></tr>');;

        })
        i += 1;
    }
</script>

<!--on page load get vouchers-->
<script type="text/javascript">

    $(window).on("load", function () {
        //detachExistingRows();
        getVouchers();

    });
</script>
<!--select all checkboxes-->
@*Listen for click on toggle checkbox*@
<script type="text/javascript">
    $('#checkbox_all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });
</script>

<!--Confirm the checked boxes and get new table-->
<script type="text/javascript">
    $('#process_payment').click(function () {
        var checked = $("input[type=checkbox]:checked").length;
        if (checked) {

            $('.checkbox').each(function () {
                if (this.checked) {
                    var loan_no = $(this).closest("tr").find("td").eq(2).first().text();
                    //console.log('this is the '+loan_no);

                    saveTempVouchers(this);
                }
            })

        }
        else {
            swal("Confirm", "Tick at least one checkbox to confirm the payment", "warning");

            return false;
        }



        //getSelectedVouchers();
        //$('#modalConfirmLoanpayment').modal('show');

        //detachExistingRows();
    })
</script>

<script type="text/javascript">
    $('#btn_confirmed').click(function () {
        $('#modalConfirmLoanpayment').modal('show');
        detachExistingRows();
        getSelectedVouchers();
    })
</script>

<!--Get selected vouchers in Json-->
<script type="text/javascript">
    function getSelectedVouchers() {
        detachExistingRows();
        var i = 1;

        const url = '/payment/getSelectedVouchers';
        var totalpayout = 0

        $.getJSON(url, function (data) {

            var body = "<tr>";

            if ($.trim(data) != '') {

                $.each(data, function (key, entry) {

                    //populate the table
                    var voucher_Date = (entry[0].Value);
                    voucher_Date = new Date(parseInt(voucher_Date.substr(6))).toLocaleDateString('en-GB');
                    var voucher_No = entry[1].Value;
                    var loan_no = entry[2].Value;
                    var amount = parseFloat(entry[3].Value).toLocaleString('en-GB');
                    var membername = entry[4].Value;
                    var description = entry[5].Value;
                    var member_number = entry[6].Value;
                    var bank_account = entry[7].Value;
                    var payment_mode = entry[8].Value;
                    var reference_no = entry[9].Value;

                    body += '<td id="voucher_date_' + i + '">' + voucher_Date + "</td>";
                    body += '<td id="voucher_no_' + i + '"> ' + voucher_No + '</td >'
                    body += '<td id="loan_no_' + i + '">' + loan_no + '</td>'
                    body += '<td id="description_' + i + '">' + description + '</td>'
                    body += '<td id="voucher_amount_' + i + '">' + amount + '</td>'
                    body += '<td id="member_no_' + i + '">' + membername + "</td>";
                    body += '<td class="hidden" id="member_number_' + i + '">' + member_number + '</td>';
                    body += '<td class="hidden" id="bank_account_' + i + '">' + bank_account + '</td>';
                    body += '<td class="hidden" id = "payment_mode_' + i + '" > ' + payment_mode + '</td>';
                    body += '<td class="hidden" id="reference_no_' + i + '">' + reference_no + '</td>';

                    body += "</tr>";


                    totalpayout += parseFloat(entry[3].Value);

                    i += 1;

                })
            }
            else {
                body += "<td style='text-align:center;color:red' colspan='7'>" + "No entries Found!" + "</td>"
            }

            $('#Selected_table_body').append(body);
            totalpayout = totalpayout.toLocaleString('en')

            $('#selectedsummary_table').append('<tr><td class="totals">' + 'Total' + '</td><td class="totals" >' + totalpayout + '</td></tr>');;

        })
    }
</script>

<!--DETACH WHAT EXISTS IN TABLE WHEN RELOADED-->
<script type="text/javascript">
    function detachExistingRows() {
        $('#selectedsummary_table tr td').detach();//clear content of the table before reloading the content
        $('#Selected_table_body tr td').detach();//clear content of the table before reloading the content
        $('#mpesa_table tr td').detach();//clear content of the table before reloading the content
        $('#summary_table tr td').detach();//clear content of the table before reloading the content


    }

</script>
<!--send to temp table first-->
<script type="text/javascript">
    function saveTempVouchers(t) {


        $.ajax({
            type:'POST',
            url:"@Url.Action("saveMpesaTempVoucher","payment")",
            data: {
                    voucher_date:$(t).closest("tr").find("td").eq(0).first().text(),
                    voucher_no:$(t).closest("tr").find("td").eq(1).first().text(),
                    amount:parseFloat($(t).closest("tr").find("td").eq(4).first().text().replace(/,/g, '')),
                    payee:$(t).closest("tr").find("td").eq(5).first().text(),
                    loan_no:$(t).closest("tr").find("td").eq(2).first().text(),
                    description:$(t).closest("tr").find("td").eq(3).first().text()

            },
            success: function (succes_message) {
                swal("",succes_message,"info")

            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }



        })
    }
</script>
<!--total ofconfirmed row-->
<script type="text/javascript">

    function calculateColumn() {
        var total = 0;

        setTimeout(function () {
            $('#Selected_table_body tr ').each(function () {
                var customerId = parseFloat($(this).find(".voucher_amount").html().replace(/,/g, ''));
                total += customerId;
                //console.log(total);

            });

            //$('#selectedsummary_table').append('<tr><td class="totals">' + 'Total' + '</td><td class="totals"colspan="2" >' + total + '</td></tr>');



        }, 600)

    }

</script>

<!--submi the confirmed payments and send to controller-->
<script type="text/javascript">
    $('#btn_processPayment').on('click', function () {


        var i = 1

        var tableRowcount = $('#Selected_table_body tr').length;//we use this to loop each row and save
        while (i <= tableRowcount) {


            makePayment(i);

            i += 1;
        }





    })
</script>
<script type="text/javascript">
    function makePayment(i) {

            //console.log('it is now '+i)
        $.ajax({

                type: 'post',
                url:"@Url.Action("BatchPayment","payment")",

                data: {

                        member_number:document.getElementById("member_number_"+i).innerText,
                        bank_account: document.getElementById("bank_account_" + i).innerText,
                        payment_date:document.getElementById("voucher_date_"+i).innerText,
                        amount:parseFloat((document.getElementById("voucher_amount_"+i).innerText).replace(/,/g, '')),
                        voucher_no:document.getElementById("voucher_no_"+i).innerText,
                        reference_no:document.getElementById("reference_no_"+i).innerText,
                        payment_mode_: document.getElementById("payment_mode_" + i).innerText
                },
                success: function (success_message) {
                        swal("", success_message, "info")


                },
                error: function (request, status, error) {
                    swal("", error, "error");
                }
        })

    }

</script>

<!--prepopulate date fields-->
<script type="text/javascript">
     $('.search').chosen();
    $(".dtPicker").datepicker({ dateFormat: 'dd/mm/yy' });

    $(document).ready(function () {         

        var now = new Date().toLocaleDateString('en-GB');
        $('.dtPicker').val(now);
    })

</script>
<script type="text/javascript">
    $('#btn_getVouchers').click(function () {

        getVouchers();
    })
</script>