﻿@model mLender.Models.MemberPayment

@{
    ViewBag.Title = "Member Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

<p>
    <h4 style="text-align:center">Member Payment</h4>
    <input id="redirect_mpesa" class="btn btn-sm  btn-success" value="Mpesa Batch" type="button" />
</p>

@using (Html.BeginForm("member", "payment",
       new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
        new
        {
            @id = "member_payment",
            @class = "bootstrap-admin-medium-form col-md-10 col-lg-10 col-xs-10"


        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="text-align:center">
            Payment details
        </legend>
        <!--show success message here-->
        <div id="msg" style="text-align:center;color:darkcyan"></div>
        <div class="floatleft" style="height:250px">

            <div class="form-group">

                <div class="editor-label">
                    @Html.Label("Member")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.member_number, (SelectList)ViewBag.members, "---select Member--",
                                           htmlAttributes: new
                                                {
                                                    required = "required",
                                                                    @class = "form-control search payment",
                                                                    @id = "member",

                                           })
                    @Html.ValidationMessageFor(model => model.member_number)
                </div>
            </div>
            @*<div class="form-group">
                    <div class="editor-label">
                        @Html.Label("Payment Mode")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.payment_mode,
                                            (SelectList)ViewBag.payment_mode,"--Select Bank Account--",
                                               htmlAttributes: new {required = "required", @class = "form-control ",
                                                                        @id = "payment_mode",

                                                                    })
                        @Html.ValidationMessageFor(model => model.payment_mode)
                    </div>

                </div>*@
            <div class="form-group">
                <div class="editor-label">
                    <label>Payment Date</label>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.payment_date, "{0:dd/MMM/yyyy}", htmlAttributes: new
               {
                   @class = "form-control dtPicker payment",
                   required = "required",
                   placeholder = "Enter payment Date",
                   id = "payment_date"
               })
                    @Html.ValidationMessageFor(model => model.payment_date)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    @Html.Label("Voucher No")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.voucher_no, htmlAttributes: new
               {
                   @class = "form-control payment",
                   required = "required",
                   type = "text",
                   id = "voucher",
                   @readonly = "readonly"
               })
                    @Html.ValidationMessageFor(model => model.voucher_no)
                </div>
            </div>

        </div>

        <div class="floatright" style="height:250px">
            <div class="form-group">

                <div class="editor-label">
                    @Html.Label("Bank Account")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.bank_account,
                                        (SelectList)ViewBag.ledgers, "--Select Bank Account--",
                                           htmlAttributes: new
                                                {
                                                    required = "required",
                                                    @class = "form-control payment",
                                                                    @id = "ledger",

                                                                })
                    @Html.ValidationMessageFor(model => model.bank_account)
                </div>
            </div>
            @*<div class="form-group">
                    <div class="editor-label">
                        @Html.Label("Account Category")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.category,
                                new List<SelectListItem>
                                {

                                   new SelectListItem{ Text="Loan",Value="Loan"},
                                   new SelectListItem{ Text="Deposits",Value="Deposit"},
                                   new SelectListItem{ Text="Savings",Value="savings"},
                                   new SelectListItem{ Text="Welfare",Value="welfare"},



                                },"--Select Account--", htmlAttributes: new
                                {
                                    @class = "form-control",
                                    required = "required",
                                    type = "text",
                                    id = "category"
                                })
                        @Html.ValidationMessageFor(model => model.category)
                    </div>
                </div>*@
            <div class="form-group">
                <div class="editor-label">
                    @Html.Label("Amount")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.amount, htmlAttributes: new
               {
                   @class = "form-control payment",
                   required = "required",
                   type = "number",
                   id = "amount",
                   @readonly = "readonly",
                   @Value = 0
               })
                    @Html.ValidationMessageFor(model => model.amount)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    @Html.Label("Reference No")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.reference_no, htmlAttributes: new
               {
                   @class = "form-control payment",
                   required = "required",
                   type = "text",
                   id = "reference"
               })
                    @Html.ValidationMessageFor(model => model.reference_no)
                </div>
            </div>

            <p></p>
            <p></p>
            <div class="form-group">
                @*<p>
                        <input class="btn btn-lg btn-primary" style="position:center" type="submit" value="Create" />
                    </p>*@
            </div>
        </div>

        <div id="voucher_table">
            <table class="table table-condensed table-striped table-responsive" id="voucher_tbl">
                <thead>
                    <tr>
                        <th>Voucher Number</th>
                        <th>Loan No</th>
                        <th>Description</th>
                        <th> Amount</th>

                    </tr>
                </thead>
                <tbody id="table_body" style="color:darkcyan"></tbody>
            </table>
            <div>
                <p>
                    <input id="process_payment" class="btn btn-deep-orange" value="Process" type="button" />

                </p>
            </div>
        </div>

    </fieldset>
}




@* restrict max date to be today max date is zero by putting max date 0 *@
<script type="text/javascript">
    $(".dtPicker").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#voucher_table').hide("fast");

    });
</script>

<!--serach the dropdown using select 2-->
<script type="text/javascript">
    $('#member').select2();
    $('#ledger').select2();
    $('#payment_mode').select2();
    $('#category').select2();


</script>
<!--show voucher when member is selected-->
<script type="text/javascript">
    $('#member').change(function () {

        $('#voucher_table').show("fast");

        $('#voucher_tbl >tbody>tr').remove();//clear content of the table before reloading the content
        $('#amount').val(0);//initialize the amount every time on change
        $('#voucher').val('');

        getVouchers();

    })
</script>

<!--Get vouchers in Json-->
<script type="text/javascript">
    function getVouchers() {
        var member_number = $("#member").val();

        const url = '/payment/getVouchers/?member_number=' + member_number;

        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {


                //populate the table
                var voucher_No = entry[0].Value;
                var loan_no = entry[1].Value;
                var description = entry[2].Value;
                var amount = parseFloat(entry[3].Value);

                let voucher_number = voucher_No;

                var init_amount = parseFloat($('#amount').val());
                var total_amount = init_amount + amount;
                $('#amount').val(total_amount);


                var init_voucher = $('#voucher').val();
                var voucher = init_voucher + '' + voucher_No;
                $('#voucher').val(voucher);


                //$('#table_body tr').each(function() {
                $('#voucher_tbl').append(('<tr><td>' + voucher_number + '</td><td>' + loan_no + '</td><td>' + description + '</td><td>' + amount + '</td><td></td></tr>'));

                //})






            })
        })
    }
</script>

<!--save payment info-->
<script type="text/javascript">

    function memberPayment() {

        $.ajax({
            type: "POST",
            url: "/payment/member",
            data: {
                member_number: $("#member").val(),
                bank_account: $("#ledger").val(),
                payment_date: $("#payment_date").val(),
                amount: $("#amount").val(),
                voucher_no: $("#voucher").val(),
                reference_no: $("#reference").val(),
                payment_mode: $("#payment_mode").val(),

            },
            success: function () {
                $('#msg').html("Payment done successfully").fadeIn('slow');
                $('#msg').delay(3000).fadeOut('slow');
            }

        });
    }
</script>
<!--process payment on click-->
<script type="text/javascript">

    $("#process_payment").click(function () {
        if (checkEmptyFields()) {
            memberPayment();

        }
    })
</script>

<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".payment").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>

<!--REDIRECT TO A PAGE-->
<script type="text/javascript">
        $('#redirect_mpesa').click(function(){
           window.location.href='/payment/GetPaymentsThroughMpesa';
        })
 </script>