﻿@model mLender.Models.MemberRefund

@{
    ViewBag.Title = "Refunds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    table, th, td {
        border: 1px solid black;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


@using (Html.BeginForm("Refunds", "Payment", new { ReturnUrl = ViewBag.Returnurl },
       FormMethod.Post, new
       {
           @class = "bootstrap-admin-medium-form ",
           enctype = "multipart/form-data"

       }))
{
    @Html.AntiForgeryToken()

    <h4 style="text-align:center ;color:darkcyan">Member Refund</h4>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>

        <!--show success message here-->
        <div id="msg" style="text-align:center;color:darkcyan"></div>

        <div class="floatleft" style="height: 280px">
            <div>
                @Html.Label("Member")
                @Html.DropDownListFor(model => model.MemberNumber, (SelectList)ViewBag.members, "---select Member--",
                                      htmlAttributes: new
                                           {
                                               required = "required",
                                              @class = "form-control search refunds",
                                              @id = "member",

                                      })
                @*@Html.EditorFor(model => model.MemberNumber, new { htmlAttributes = new { @class = "form-control search" } })*@
                @Html.ValidationMessageFor(model => model.MemberNumber, "", new { @class = "text-danger" })
            </div>



            <div>
                @Html.Label("Refund Type")

                @Html.DropDownListFor(model => model.RefundType, (SelectList)ViewBag.refundTypes, "---select Refund Type--",
                                      htmlAttributes: new
                                           {
                                               required = "required",
                                              @class = "form-control search refunds",
                                              @id = "refundtype",

                                      })
                @Html.ValidationMessageFor(model => model.RefundType, "", new { @class = "text-danger" })
            </div>


            <div>
                @Html.Label("Loan Number")
                @Html.EditorFor(model => model.RefundNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @required = "required", @id = "refundNumber" } })
                @Html.ValidationMessageFor(model => model.RefundNumber, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.Label("Amount")
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @min = "1", @class = "form-control number", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.Label("Refund Date")

                @Html.TextBoxFor(model => model.RefundDate, "{0:dd/MMM/yyyy }", htmlAttributes:
                                  new
                                       {
                                               @type = "Text",
                                               @autocomplete = "off",
                                               @placeholder = "Enter Refund Date",
                                               @class = "form-control dtpicker",
                                               @required = "required"
                                       })


                @Html.ValidationMessageFor(model => model.RefundDate, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>

        <div class="floatright" style="height: 280px">

            <div>
                @Html.Label("Narration")
                @Html.EditorFor(model => model.Narration, new { htmlAttributes = new { @class = "form-control refunds ", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Narration, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.Label("Payment Mode")

                @Html.DropDownListFor(model => model.PaymentMode, (SelectList)ViewBag.paymentModes, "---select Payment Mode--",
                                      htmlAttributes: new
                                           {
                                               required = "required",
                                              @class = "form-control search refunds",
                                              @id = "paymentmode",

                                      })
                @Html.ValidationMessageFor(model => model.RefundType, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.Label("Reference No")
                @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control refunds", @required = "required" } })
                @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.Label("Credit A/c")

                @Html.DropDownListFor(model => model.ChargeAccount, (SelectList)ViewBag.ledgers, "---select Credit A/C--",
                                     htmlAttributes: new
                                          {
                                              @required = "required",
                                             @class = "form-control search refunds",
                                             @id = "ledger",

                                     })

                @Html.ValidationMessageFor(model => model.ChargeAccount, "", new { @class = "text-danger" })
            </div>




            <div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="addrefunds" class="btn btn-deep-orange">Add Refund</button>
                </div>
            </div>


        </div>
        <div id="refund_table">
            <table class="table table-condensed table-striped table-responsive" id="refund_tbl">
                <thead>
                    <tr>
                        <th>Refund Date</th>
                        <th>Member</th>
                        <th>Type</th>
                        <th>RefNo</th>
                        <th>Number</th>
                        <th>Credit A/C</th>
                        <th>Description</th>
                        <th> Amount</th>

                    </tr>
                </thead>
                <tbody id="table_body" style="color:darkcyan"></tbody>
            </table>
            <div>
                <p>
                    <input id="process_refund" class="btn btn-deep-orange" value="Process Refund" type="button" />

                </p>
            </div>
        </div>
    </fieldset>

}

<!--scripts-->

<script type="text/javascript">
    $(".dtpicker").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });

    $('.search').chosen({});
    $(".dtPicker").each(function () {
        $(this).DisablePastingAndEdit();
    })
</script>
<script type="text/javascript">
    $('#ledger').chosen();

</script>

<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {
        var anyFieldIsEmpty = $(".refunds").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>

<script type="text/javascript">
    $('#addrefunds').click(function (e) {
        e.preventDefault();
        if (checkEmptyFields()) {
            //append details to the table
            var member = $('#member').val();
            var refundType = $('#refundtype').val();
            var refundDate = $('.dtpicker').val();
            var refundNumber = $('#refundNumber').val();
            let Amount = parseFloat($('#Amount').val()).toLocaleString('en');
            var Narration = $('#Narration').val();
            var Reference = $('#ReferenceNo').val();
            var creditAc = $('#ledger').val();

            rowCount = $('#refund_tbl tr').length;
            //console.log(rowCount);

            $('#refund_tbl').append('<tr><td id="refunddate_' + rowCount + '">' + refundDate + '</td><td id="member_' + rowCount + '">' + member + '</td><td id="refundtype_' + rowCount + '">' + refundType + '</td><td id="refNo_' + rowCount + '">' + Reference + '</td><td id="refundNumber_' + rowCount + '">' + refundNumber + '</td><td id="creditAc_' + rowCount + '">' + creditAc + '</td><td id="narration_' + rowCount + '">' + Narration + '</td><td id="amount_' + rowCount + '">' + Amount + '</td></tr>');


        }

    })

</script>

<!---Save refund-->
<script type="text/javascript">
    var currentrow = 1;

    function saveRefund() {
        var rowCount = $('#refund_tbl tbody tr').length;
        var d = (document.getElementById("refunddate_" + currentrow).innerHTML).toLocaleString('en')

        console.log(d)

        while (currentrow <= rowCount) {
            console.log(rowCount)
            $.ajax({
                type: "POST",
                url: "/payment/saveRefund",
                data: {
                    RefundDate: (document.getElementById("refunddate_" + currentrow).innerHTML).toLocaleString('en'),
                    MemberNumber: document.getElementById("member_" + currentrow).innerHTML,
                    RefundType: document.getElementById("refundtype_" + currentrow).innerHTML,
                    RefundNumber: document.getElementById("refundNumber_" + currentrow).innerHTML,
                    Amount: parseFloat(document.getElementById("amount_" + currentrow).innerHTML),
                    Narration: document.getElementById("narration_" + currentrow).innerHTML,
                    ReferenceNo: document.getElementById("refNo_" + currentrow).innerHTML,
                    ChargeAccount: document.getElementById("creditAc_" + currentrow).innerHTML

                },
                success: function () {
                    $('#msg').html("Refunds done successfully").fadeIn('slow');
                    $('#msg').delay(3000).fadeOut('slow');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }  
            })
            currentrow += 1;

        }

    }
</script>
<script type="text/javascript">
    $('#process_refund').click(function () {
        var rowCount = $('#refund_tbl tbody tr').length;

        if (rowCount >= 1) {
            saveRefund();
        } else {
            alert('No refunds to be processed!, fill in details and press '+'Add Refund'+' button');
        }
    })

</script>
<!--lock loan number whn refund is not on Loans-->
<script type="text/javascript">
    $('#refundtype').change(function () {

        var reftype = $('#refundtype').val();

        if (reftype == 'Principal' || reftype == 'Interest') {

            $('#refundNumber').prop('disabled', false);
        }
        else {
            $('#refundNumber').prop('disabled', true);
            //console.log('not loans')

        }
    })
</script>


<script type="text/javascript">
    $(".dtPicker").each(function () {
        $(this).DisablePastingAndEdit();
    })
</script>
<script type="text/javascript">
    $(".number").each(function () {
        $(this).onlyNumb();
    })
</script>
