﻿@model mLender.Models.LoanType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<h3>Loan Products</h3>
<div class="panel panel-default col-md-10">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-bordered">
            <tr style="font-weight:bold">
                <td>
                    @Html.DisplayName("Loan Code")
                </td>
                <td>
                    Name
                </td>
                <td>
                    @Html.DisplayName("Repay Method")
                </td>
                <td>
                    @Html.DisplayName("Max Repay Period")
                </td>
                <td>
                    @Html.DisplayName("Max Amount")
                </td>
                <td>

                    @Html.DisplayName("Interest Rate(per year)")
                </td>
                <td>

                    @Html.DisplayName("Min Guarantors")
                </td>
                @*<td>

                    @Html.DisplayName("Loan to Deposit Ratio")
                </td>
                <td>

                    @Html.DisplayName("Deduct Through Check Off")
                </td>
                <td>

                    @Html.DisplayName("Is A Trustee")
                </td>*@
                <td>

                    @Html.DisplayName("Loan Account")
                </td>
                <td>

                    @Html.DisplayName("Interest Account")
                </td>
            <tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.code)
                </td>
                <td>
                    @Html.DisplayFor(model => model.name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.repayment_method)
                </td>
                <td>
                    @Html.DisplayFor(model => model.maximum_period)
                </td>
                <td>
                    @Html.DisplayFor(model => model.maximum_amount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.interest)
                </td>
                <td>
                    @Html.DisplayFor(model => model.minimum_giarantors)
                </td>
                @*<td>
                    @Html.DisplayFor(model => model.loan_deposit_ratio)
                </td>
                <td>
                    @Html.YesNo(Model.allow_check_off)
                </td>
                <td>
                    @Html.YesNo(Model.trustee_loan)
                </td>*@
                <td>
                    @Html.DisplayFor(model => model.principal_account)
                </td>
                <td>
                    @Html.DisplayFor(model => model.interest_account)
                </td>
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
