﻿@model mLender.Models.LoanType

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}
<style type="text/css">
    .mandatory {
        border-color: red;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


<fieldset>
    <div class="wrap">
        <div class="row">

            @using (Html.BeginForm("create", "loantype", new { ReturnUrl = ViewBag.Returnurl },
                FormMethod.Post, new { @class = "bootstrap-admin-large-form col-md-10", @id = "loantype_form" }))
            {
                <div style="clear: both;">
                    <fieldset>

                        <div style=" text-align: center">
                            <h3>Edit Loan Product Details</h3>
                            <hr />
                        </div>

                    </fieldset>
                    <div class="floatleft">

                        <div class="form-group">
                            @Html.Label("Loan Code")
                            @Html.TextBoxFor(model => model.code,
                            htmlAttributes: new
                            {
                                @class = "form-control loantype",
                                     id = "input-fields",
                                     required = "required",
                                     @readonly = "readonly",
                                onkeyup = "nospaces(this);toUppercase(this)",
                                type = "text",
                                onkeypress = "return onlyAlphabets(event,this);"
                            })

                            @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Name")

                            @Html.TextBoxFor(model => model.name,
                           htmlAttributes: new
                           {
                               @class = "form-control loantype",
                                    id = "input-field",
                                    required = "required",
                                    type = "text",
                               onkeypress = "return onlyAlphabets(event,this);"
                           })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Maximum Amount")

                            @Html.TextBoxFor(model => model.maximum_amount,
                           htmlAttributes: new
                           {
                               @class = "form-control loantype",
                                    required = "required",
                                    @type = "number",
                                    @min = 1000
                           })
                            @Html.ValidationMessageFor(model => model.maximum_amount, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Minimum Amount")

                            @Html.TextBoxFor(model => model.minimum_amount,
                           htmlAttributes: new
                           {
                                    @class = "form-control loantype",
                                    required = "required",
                                    @type = "number",
                                    @min = 100

                           })
                            @Html.ValidationMessageFor(model => model.minimum_amount, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Interest Rate(Annual)")

                            @Html.TextBoxFor(model => model.interest,
                           htmlAttributes: new
                           {
                               @class = "form-control loantype",
                                    required = "required",
                                    @type = "number",
                                    @min = 0.00


                           })
                            @Html.ValidationMessageFor(model => model.interest, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Repayment Method")

                            @Html.DropDownListFor(model => model.repayment_method, (SelectList)@ViewBag.repayment_method, "---Select Repayment Method---",
                           htmlAttributes: new { @class = "form-control search loantype", required = "required" })
                            @Html.ValidationMessageFor(model => model.repayment_method, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group hidden">
                            @Html.Label("Loan-Deposit Ratio loantype")

                            @Html.TextBoxFor(model => model.loan_deposit_ratio,
                           htmlAttributes: new
                           {
                               @class = "form-control loantype",
                                    required = "required",
                                    @type = "number",
                                    @min = 1


                           })
                            @Html.ValidationMessageFor(model => model.loan_deposit_ratio, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Deduct Full Interest First Month")
                            @Html.CheckBoxFor(model => model.deduct_full_interest_first_month)
                            @Html.ValidationMessageFor(model => model.deduct_full_interest_first_month)
                        </div>
                        <div class="form-group hidden">

                            @Html.Label("Insurable")
                            @Html.CheckBoxFor(model => model.insurable)
                            @Html.ValidationMessageFor(model => model.insurable)
                        </div>
                        <div class="form-group">
                            @Html.Label("IS Processing Fee Percentage?")
                            @Html.CheckBoxFor(model => model.is_Processing_fee_percentage)
                            @Html.ValidationMessageFor(model => model.is_Processing_fee_percentage)
                        </div>
                        <div class="form-group">
                            @Html.Label("Processing Fee Amount")
                            @Html.TextBoxFor(model => model.processing_fee_amount,
                                htmlAttributes: new { @class = "form-control loantype loantype", required = "required", @type = "number" })
                            @Html.ValidationMessageFor(model => model.processing_fee_amount, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Processing Fee Account")
                            @Html.DropDownListFor(model => model.processing_fee_account, (SelectList)@ViewBag.interest_account, "---Select Loan Processing Fee Account---",
                           htmlAttributes: new { @class = "form-control search loantype", required = "required" })
                            @Html.ValidationMessageFor(model => model.processing_fee_account, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("IS Appraisal Fee Percentage?")
                            @Html.CheckBoxFor(model => model.is_appraisal_fee_percentage)
                            @Html.ValidationMessageFor(model => model.is_appraisal_fee_percentage)
                        </div>
                        <div class="form-group">
                            @Html.Label("Appraisal Fee Amount")
                            @Html.TextBoxFor(model => model.appraisal_fee_amount,
                                htmlAttributes: new { @class = "form-control loantype", required = "required", @type = "number" })
                            @Html.ValidationMessageFor(model => model.appraisal_fee_amount, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Appraisal Fee Account")
                            @Html.DropDownListFor(model => model.appraisal_fee_account, (SelectList)@ViewBag.interest_account, "---Select Loan Appraisal Account---",
                           htmlAttributes: new { @class = "form-control search loantype", required = "required" })
                            @Html.ValidationMessageFor(model => model.appraisal_fee_account, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="floatright">
                        <div class="form-group hidden">
                            @Html.Label("Deduct Premium First Month")
                            @Html.CheckBoxFor(model => model.deduct_premium_on_first_month)
                            @Html.ValidationMessageFor(model => model.deduct_premium_on_first_month)
                        </div>
                        <div class="form-group">
                            @Html.Label("Ignore 3rd Rule")
                            @Html.CheckBoxFor(model => model.ignore_3rd_rule)
                            @Html.ValidationMessageFor(model => model.ignore_3rd_rule)
                        </div>

                        <div class="form-group">
                            @Html.Label("Maximum Period")

                            @Html.TextBoxFor(model => model.maximum_period,
                   htmlAttributes: new
                   {
                       @class = "form-control loantype",
                            required = "required",
                            @type = "number",
                            @min = 1


                   })
                            @Html.ValidationMessageFor(model => model.maximum_period, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Minimum Guarantors")

                            @Html.TextBoxFor(model => model.minimum_giarantors,
                   htmlAttributes: new { @class = "form-control loantype", required = "required", @type = "number", @min = 0 })
                            @Html.ValidationMessageFor(model => model.minimum_giarantors, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group hidden">
                            @Html.Label("Is a Trustee Loan")

                            @Html.CheckBoxFor(model => model.trustee_loan)
                            @Html.ValidationMessageFor(model => model.trustee_loan)
                        </div>

                        <div class="form-group">
                            @Html.Label("Membership Period")

                            @Html.TextBoxFor(model => model.membership_period,
                            htmlAttributes: new { @class = "form-control loantype", required = "required", @type = "number", @min = 0, @value = 1 })
                            @Html.ValidationMessageFor(model => model.membership_period, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Interest Ledger Account")

                            @Html.DropDownListFor(model => model.interest_account, (SelectList)@ViewBag.interest_account, "---Select Interest Loan Account",
                            htmlAttributes: new { @class = "form-control search loantype", required = "required", @id = "interest_account" })
                            @Html.ValidationMessageFor(model => model.interest_account, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            @Html.Label("Principal Ledger Account")

                            @Html.DropDownListFor(model => model.principal_account, (SelectList)@ViewBag.principal_account, "---Select Principal Loan Account---",
                            htmlAttributes: new { @class = "form-control search loantype", required = "required" })
                            @Html.ValidationMessageFor(model => model.principal_account, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group hidden">
                            @Html.Label("Deduct from Check_off")

                            @Html.CheckBoxFor(model => model.allow_check_off)
                            @Html.ValidationMessageFor(model => model.allow_check_off)
                        </div>

                        <div class="form-group">
                            @Html.Label("IS Penalty Fee Percentage?")
                            @Html.CheckBoxFor(model => model.is_Penalty_Percentage)
                            @Html.ValidationMessageFor(model => model.is_Penalty_Percentage)
                        </div>
                        <div class="form-group">
                            @Html.Label("Penalty Fee Amount")
                            @Html.TextBoxFor(model => model.penalty_amount,
                                htmlAttributes: new { @class = "form-control loantype", required = "required", @type = "number" })
                            @Html.ValidationMessageFor(model => model.penalty_amount, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Penalty Fee Account")
                            @Html.DropDownListFor(model => model.penalty_account, (SelectList)@ViewBag.interest_account, "---Select Penalty Account---",
                           htmlAttributes: new { @class = "form-control search loantype", @id = "penalty_account", required = "required" })
                            @Html.ValidationMessageFor(model => model.penalty_account, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("#TEST")

                            @Html.TextBoxFor(model => model.interest_account,
                                htmlAttributes: new { @class = "form-control loantype", required = "required", @type = "number" })
                            @Html.ValidationMessageFor(model => model.penalty_amount, "", new { @class = "text-danger" })
                        </div>
                        <p style="margin-top:53%">
                            <button class="btn btn-lg btn-sm btn-primary" id="btn_submit" type="submit">Save</button>
                        </p>
                    </div>



                </div>
            }


        </div>
    </div>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</fieldset>


<script type="text/javascript">
    function nospaces(t) {
        if (t.value.match(/\s/g)) {
            t.value = t.value.replace(/\s/g, '');
        }
    }
    function onlyAlphabets(e, t) {
        try {
            var charCode = event.keyCode;

            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8 || charCode == 32)

                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }
    function toUppercase(t) {
        t.value = t.value.toUpperCase();
    }
</script>

<script type="text/javascript">
    $('.search').chosen();
</script>


<!--submit button-->
<script type="text/javascript">
    jQuery("#btn_submit").on('click', function (e) {
        e.preventDefault();

        if (checkEmptyFields()) {
            addLoantype();

        }
    })


</script>


<!--Send to controller-->
<script type="text/javascript">
    function addLoantype() {

        // Get form
        var form = $('#loantype_form')[0];
        // Create an FormData object
        var data = new FormData(form);

        //var formdata = new FormData()
        //var photo= $("#photo").get(0).files;
        //formdata.append('photo',photo);

        jQuery.ajax({
            type: 'Post',
            url: '/loantype/edit',
            data: data,
            processData: false,
            contentType: false,
            success: function (succes_message) {
                swal("", succes_message, "info");


            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }
        })
    }
</script>

<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {
        var anyFieldIsEmpty = $(".loantype").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        console.log(anyFieldIsEmpty);
        if (anyFieldIsEmpty) {
            swal("", "Fill all the necessary fields", "warning");

            //var empty = $(".loantype").filter(function () {
            //    return $.trim(this.value).length === 0;
            //})
            //empty.css("border", "1px solid red");
            //empty.addClass("mandatory");

            return false;
        }
        else {
            return true;

        }


    }


</script>
<!--change color if it has values-->
<script type="text/javascript">
    $('.loantype').change(function () {
        jQuery(this).css("border", "1px solid grey");
    })
</script>