﻿@model IEnumerable<mLender.Models.LoanType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}
<style type="text/css">
    #tbl_loantypes {
        width: 80%;
    }

        #tbl_loantypes td {
            white-space: nowrap;
        }
</style>
<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<!--sweet alert for message display-->
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>

<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


<div class="panel-heading"><h3>Loan products</h3></div>

<p>
    @Html.ActionLink("New Product", "Create", new { }, new { @class = "btn btn-lg btn-sm  btn-success glyphicon  glyphicon-plus", @style = "color:white" })
</p>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        <p>@TempData["Success"]</p>
    </div>
}
else if (@TempData["Error"] != null)
{
    <div class="alert alert-error bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error</h4>
        <p>@TempData["Error"]</p>
    </div>
}
<div class="panel panel-default col-md-10">
    <div class="bootstrap-admin-panel-content ">
        <table class="table table-striped" id="tbl_loantypes">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Loan Code")
                    </th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Max Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Min Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Repay Method")
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.maximum_amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.minimum_amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.repayment_method)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit", new { id = item.code }, new { @class = "btn btn-lg btn-sm btn-primary glyphicon glyphicon-pencil glyphicon-white", @style = "color:white" })

                        @Html.ActionLink("Details", "Details", new { id = item.code }, new { @class = "btn btn-lg btn-sm btn-default glyphicon glyphicon glyphicon-eye-open", @style = "color:black" })
                        @* @Html.ActionLink("Delete", "Delete", new { id = item.name }, new { @class = "btn btn-danger glyphicon  glyphicon-remove glyphicon-white", @style = "color:white" })*@
                    </td>
                </tr>

            }

        </table>
    </div>
</div>
<!--data tables-->
<script type="text/javascript">

    $('#tbl_loantypes').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null]
        });

</script>