﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
    <form class="bootstrap-admin-small-form">
        <div class="list-header clearfix" style="text-align:center">
            <span>Message!</span>
            <hr/>
        </div>
        <div class="list-sfs-holder">
            <div class="alert alert-error" style="color:red;font-size:medium">
               Only authorzied users can view the page!Contact the system administrator!
            </div>
            @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
            {
                <div>
                    <p>
                        <b>Exception:</b> @Model.Exception.Message<br />
                        <b>Controller:</b> @Model.ControllerName<br />
                        <b>Action:</b> @Model.ActionName
                    </p>
                </div>
            }
        </div>
    </form>