﻿@model IEnumerable<mLender.Models.LoanInsurancePolicy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="panel-heading label-default" style="text-align:center">Loan Insurance Fee Policy</h5>

<p>
    @Html.ActionLink("New", "Create", new { },
    new { @class = "btn btn-lg btn-success glyphicon  glyphicon-plus", @style = "color:white" })
</p>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        <p>@TempData["Success"]</p>
    </div>
}
else if (@TempData["Error"] != null)
{
    <div class="alert alert-danger bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error</h4>
        <p>@TempData["Error"]</p>
    </div>
}
<div class="panel panel-default">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayName("Ledger Account")
                </th>
                <th>
                    @Html.DisplayName("Deduct From Loan?")
                </th>
                <th>
                    @Html.DisplayName("Recover With Loan?")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Percentage)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.controll_account)
                    </td>
                    <td>
                        @Html.YesNo(item.deduct_from_loan)
                    </td>
                    <td>
                        @Html.YesNo(item.recover_from_checkoff)
                    </td>
                    <td>
                        @Html.YesNo(item.Percentage)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { }, new { @class = "btn btn-primary glyphicon glyphicon-pencil glyphicon-white", @style = "color:white" })

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
