﻿@model mLender.Models.CompanyOfficer
@if (User.Identity.IsAuthenticated)
{
    {
        ViewBag.Title = "Add Officer";
        Layout = "~/Views/Shared/_Layout.cshtml";
        @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

    }


    <style type="text/css">
        #comapny_officer {
            width: 90%;
        }
    </style>

    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!--select 2 dropdown search-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


    <!--sweet alert for message display-->
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



    <!--My custom scripts-->
    <script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>





    <div class="row">

        @using (Html.BeginForm("create", "CompanyOfficer", new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
            new { @class = "bootstrap-admin-small-form col-md-2 ", @id = "comapny_officer" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <h4>Add Company Officer</h4>
            <hr />
            <div class="form-group">
                @Html.Label("First Name")
                <input class="form-control officer" id="first_name" type="text" required="required" name="first_name" placeholder="John">
            </div>
            <div class="form-group">
                @Html.Label("Other Name")

                <input class="form-control officer" id="other_name" type="text" required="required" name="other_name" placeholder="Doe">
            </div>
            <div class="form-group">
                @Html.Label("Telephone")

                <input class="form-control officer PhoneNumber " id="telephone" type="tel" required="required" name="telephone" placeholder="0712345678">
            </div>
            <div class="form-group">
                @Html.Label("Email Address")

                <input class="form-control" type="email" id="email_address" required="required" name="email_address" placeholder="john@gmail.com">
            </div>
            <div class="form-group">
                @Html.Label("ID No/Passport")

                <input class="form-control officer" type="text" id="id_no" required="required" name="id_no" placeholder="12345">
            </div>
            <p>
                <button class="btn btn-sm btn-lg btn-primary" id="btn_Submit" type="submit">Save</button>
            </p>

        }
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


}
else
{
    Response.Redirect("~/account/login");

}

<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {
        var anyFieldIsEmpty = $(".officer").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>

<!--submit button-->
<script type="text/javascript">
    $("#btn_Submit").on('click', function (e) {
        e.preventDefault();

        if (checkEmptyFields()) {
            addOfficer();

        }
    })


</script>

<!--save branhc data -->
<script type="text/javascript">
    function addOfficer() {
        var officer_form = $('#comapny_officer')[0]

        var myDAta = new FormData(officer_form);


        $.ajax({
            type: 'Post',
            url: '/companyofficer/create',
            data: myDAta,
            processData: false,
            contentType: false,
            success: function (succes_message) {
                swal("Add", succes_message, "info").then(function () {
                    window.Location = '/companyofficer/index'
                });


            },
            error: function (request, status, error) {
                swal("Error", error, "warning");

            }
        })
    }
</script>

<script type="text/javascript">
    //validate phone
    $(".PhoneNumber").each(function (i, obj) {
        $(this).onlyNumb();
    })
</script>
