﻿@model mLender.Models.CompanyOfficer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("delete", "companyofficer", new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post, new { @class = "bootstrap-admin-small-form " }))
{
    @Html.AntiForgeryToken()
    <h2>Delete Officer</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div class="form-group">
        <input class="form-control" type="text" name="first_name" value=@Model.first_name>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="other_name" value=@Model.other_name>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="telephone" value=@Model.telephone>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="email_address" value=@Model.email_address>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="id_no" value=@Model.id_no>
    </div>
    <p>
        <button class="btn btn-lg btn-primary" type="submit" value="Delete">Delete</button>
    </p>
}

<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>

