﻿@model mLender.Models.CompanyOfficer

@{
    ViewBag.Title = "Officer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .comapny_officer_header{
        font-weight:bold;
    }
</style>

    <h3 style="text-align:center">CompanyOfficer</h3>
    <div class="panel panel-default">
        <div class="bootstrap-admin-panel-content">
            <table class="table table-bordered">
                <tr class="comapny_officer_header">
                    <td>
                        @Html.DisplayName("Officer ID")
                    </td>
                    <td>
                        @Html.DisplayName("First Name")
                    </td>
                    <td>
                        @Html.DisplayName("Other Name")
                    </td>
                    <td>
                        @Html.DisplayName("Telephone")
                    </td>
                    <td>
                        @Html.DisplayName("Email address")
                    </td>
                    <td>

                        @Html.DisplayName("ID No")
                    </td>
                    <tr>

                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.officer_id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.first_name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.other_name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.telephone)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.email_address)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.id_no)
                        </td>

                </tr>
                </table>
            </div>
        </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.officer_id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
