﻿@model IEnumerable<mLender.Models.CompanyOfficer>

@{
    ViewBag.Title = "Officer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}


<style type="text/less">
    .body {
        margin: 0;
        padding-top: 1em;
    }

   </style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<!--sweet alert for message display-->
@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>

<div class="body">
    <div class="panel-heading" style="text-align:center"><h4><strong>Officers/Agent List</strong></h4></div>

    <p>
        @Html.ActionLink("Add", "register","account", new { }, new { @class = "btn btn-lg btn-sm btn-md btn-success glyphicon  glyphicon-plus", @style = "color:white" })
    </p>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success bootstrap-admin-alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Success</h4>
            <p>@TempData["Success"]</p>
        </div>
    }
    else if (@TempData["Error"] != null)
    {
        <div class="alert alert-danger bootstrap-admin-alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Error</h4>
            <p>@TempData["Error"]</p>
        </div>
    }
    <div class="panel panel-default col-md-10">
        <div class="bootstrap-admin-panel-content">
            <table class="table table-striped" id="officers_table">
                <thead>
                    <tr>
                        <th class="hidden">
                            @Html.DisplayName("First Name")
                        </th>
                        <th>
                            @Html.DisplayName("First Name")
                        </th>
                        <th>
                            @Html.DisplayName("Other Name")
                        </th>
                        <th>
                            @Html.DisplayName("Telephone")
                        </th>
                        <th>
                            @Html.DisplayName("Email Address")
                        </th>
                        <th>
                            @Html.DisplayName("ID No")
                        </th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="hidden officer_id">
                            @Html.DisplayFor(modelItem => item.officer_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.first_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.other_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telephone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email_address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_no)
                        </td>
                        <td>


                            @Html.ActionLink("Edit", "Edit", new { id = item.officer_id }, new { @class = "btn btn-lg btn-sm btn-md btn-primary glyphicon glyphicon-pencil glyphicon-white", @style = "color:white" })

                            @Html.ActionLink("Details", "Details", new { id = item.officer_id }, new { @class = "btn btn-lg btn-sm btn-md btn-default glyphicon glyphicon glyphicon-eye-open", @style = "color:black" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.officer_id }, new { @class = "btn btn-lg btn-sm btn-md btn-danger glyphicon  glyphicon-remove glyphicon-white btn_delete", @style = "color:white", @id = "btn_delete" })
                        </td>
                    </tr>

                }

            </table>
        </div>
    </div>

</div>


<!--data tables-->
<script type="text/javascript">

    $('#officers_table').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null, null]
        });

</script>

<!--delete buuton-->
<script type="text/javascript">
    $('.btn_delete').on('click', function (e) {
        e.preventDefault()
        if (confirm("Are you sure you want to delete this officer?")) {
            var id = $.trim($(this).parent().siblings(":first").text());
            deleteOfficer(id);

        }


    })
</script>
<!--Delete function-->
<script type="text/javascript">
    function deleteOfficer(id) {
        $.ajax({

            type: 'post',
            url: '/companyofficer/delete',
            data: {
                id: id
            },
            success: function (succes_message) {
                swal("Delete", succes_message, "Warning").then(function () {
                    window.Location = location.reload();

                });
;
                
            }
        })
    }
</script>
