﻿@model mLender.Models.LoanCollateral

@{
    ViewBag.Title = "Add Collateral";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("_LeftMenu")

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<h4 style="text-align:center">Loans for:<strong> @ViewBag.membername</strong></h4>

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

<style type="text/css">
    .control-label {
        white-space: nowrap;
    }
</style>



@using (Html.BeginForm("addcollateral", "loanapplication",
       new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
        new
        {
            @id = "loan_collateral",
            @class = "bootstrap-admin-medium-form "


        }))
{
    @Html.AntiForgeryToken()

    <h4 style="text-align:center">Loan Collateral</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="floatleft">

        <div class="form-group col-md-10">
            <div class="editor-label">
                @Html.Label("Loan number", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.loan_number, new { htmlAttributes = new { @class = "form-control collateral", @id = "loan_number", @Value = @ViewBag.loan, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.loan_number, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-10">
            @Html.Label("Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="editor-field">
                @Html.EditorFor(model => model.CategoryCode, new { htmlAttributes = new { @class = "form-control collateral", @id = "itemname" } })
                @Html.ValidationMessageFor(model => model.CategoryCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-10">
            <div class="editor-label">
                @Html.Label("Item Code", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control collateral", @id = "itemcode" } })
                @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-10">
            @Html.Label("Item Owner", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="editor-field">
                @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control collateral", @id = "name" } })
                @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10">
            @Html.Label("ID No", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="editor-field">
                @Html.EditorFor(model => model.OwnerIDNo, new { htmlAttributes = new { @class = "form-control collateral number", @id = "IDNo" } })
                @Html.ValidationMessageFor(model => model.OwnerIDNo, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
    <div class="floatright">
        <div class="form-group  col-md-10">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="editor-field">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control collateral", @id = "Description" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-md-10">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="editor-field">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control collateral", @id = "Location" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-md-10">
            @Html.Label("Collateral Value", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="editor-field">
                @Html.EditorFor(model => model.CollateralValue, new { htmlAttributes = new { @class = "form-control number collateral collateral", @id = "itemValue", @type = "number" } })
                @Html.ValidationMessageFor(model => model.CollateralValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-md-10">
            @Html.Label("Amount Guaranteed", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="editor-field">
                @Html.EditorFor(model => model.AmountGuaranteed, new { htmlAttributes = new { @class = "form-control number  collateral", @id = "netvalue", @type = "number" } })
                @Html.ValidationMessageFor(model => model.AmountGuaranteed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10">
            <div class="col-md-offset-2 col-md-10">
                @*<button type="submit" id="submit_collateral" value="Add" class="btn btn-primary form-control" />*@
                <button id="submit_collateral" class="btn btn-primary form-control" style="margin-top:20px">Add</button>
            </div>

            <div class="col-md-10" style="margin-top: 10%">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>

    </div>
}

<!--save loan Collateral -->
<script type="text/javascript">

    function saveCollateral() {
        var loanNo = $('#loan_number').val();
        $.ajax({
            type: "POST",
            url: "/loanapplication/save_collateral?loan_no =" + loanNo,
            data: {
                loan_number: loanNo,
                code: $("#itemcode").val(),
                CategoryCode: $("#itemname").val(),
                Description: $("#Description").val(),
                Location: $("#Location").val(),
                CollateralValue: $("#itemValue").val(),
                AmountGuaranteed: $("#netvalue").val(),
                OwnerIDNo: $("#IDNo").val(),
                Owner: $("#name").val(),




            },
            success: function (data) {
                swal({
                    title: "Loan Collateral",
                    type: "info",
                    text: "Loan Collateral saved successfully",
                    showConfirmButton: true,
                    confirmButtonText: "Ok",
                    closeOnConfirm: true

                }).then(() => { window.location = "/loanapplication/collateral/" + loanNo });
            }


        });
    }
</script>
<!--Guaranteed Value should not be greater than collateral value-->
<script type="text/javascript">
    function checkGuaranteedValuevsCollateralValue() {
        var CollateralValue = parseFloat($("#itemValue").val());
        var AmountGuaranteed = parseFloat($("#netvalue").val());

        if (CollateralValue >= AmountGuaranteed) {

            return true
        }
        else {
            swal({
                title: "Loan Collateral",
                type: "info",
                text: 'Amount Guaranteed cannot be more than the Value of the Item!',
                showConfirmButton: true,
                confirmButtonText: "Ok",
                closeOnConfirm: true

            })
            return false
        }
    }

</script>

<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields(cls) {
        cls = "." + cls + ""


        var anyFieldIsEmpty = $(cls).filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            swal("", "Fill all the necessary fields", "error");
            return false;
        } else {
            return true;
        }


    }
</script>
<!--save collateral-->

<script type="text/javascript">
    $('#submit_collateral').click(function (e) {
        e.preventDefault();
        var cls = "collateral"
        var loanNo = $('#loan_number').val();


        if (checkEmptyFields(cls)) {
            if (checkGuaranteedValuevsCollateralValue()) {
                saveCollateral();
                //add_collateral_row(loanNo);

            }
        }
    })


</script>
<script type="text/javascript">
    $(".number").each(function (i, obj) {
        $(this).onlyNumb();
    });
</script>

