﻿@model IEnumerable<mLender.Models.ApproveLoan>

@{
    ViewBag.Title = "Approve Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/shared/_landing.cshtml";

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>


<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

<fieldset>
    <legend style="text-align:center">Loans To Be Approved</legend>
    <p>
        @Html.ActionLink("Apply", "Create", new { },
        new { @class = "btn btn-sm btn-success glyphicon  glyphicon-plus", @style = "color:white" })

        @*<span style="padding:9.25em" id="search_bar">
                Search Loan
                <select id="search_category">
                    <option value="-1">---Search Criteria---</option>
                    <option value="loan">Loan No</option>
                    <option value="member">Member No</option>
                    <option value="loan_type">Loan Type</option>
                </select>

            </span>*@

    </p>
    <div class="panel panel-default">
        <div class="bootstrap-admin-panel-content">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayName("#Loan No")
                    </th>
                    <th>
                        @Html.DisplayName("Member")
                    </th>
                    <th>
                        @Html.DisplayName("Application Date")
                    </th>
                    <th>
                        @Html.DisplayName("Applied Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Period")
                    </th>
                    <th>
                        @Html.DisplayName("Shares")
                    </th>
                    <th>
                        @Html.DisplayName("Amount Guaranteed")
                    </th>


                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.loan_no)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fullname)
                        </td>
                        <td>
                            @item.application_date.ToShortDateString()
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.applied_amount)
                        </td>
                        <td>
                            @string.Format("{0:0}", item.period)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Deposit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount_guaranteed)
                        </td>
                        <td>
                            @Html.ActionLink("Approve", "#", new { }, new
                            {
                                id = "approveButton",
                           @class = "approveButton btn btn-primary glyphicon glyphicon-pencil glyphicon-white",
                           data_toggle = "modal",
                                data_target = "#modalRegisterForm"
                            }) |
                            @Html.ActionLink("Details", "#", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "#", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</fieldset>
<div class="modal fade" id="modalRegisterForm" width="100%" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div>
                    @Html.Partial("_LoanApproval", Model)
                </div>
                <div></div>
                <ul></ul>
                <h4 class="modal-title w-100 font-weight-bold">Loan Approval</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                <div class="floatleft">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Applied Amount</label>

                        <input type="number" readonly="readonly" id="appliedAmount_form" class="form-control validate approve ">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">Same amount as Applied?</label>
                        <input type="checkbox" id="chkAmount">
                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Approved Amount</label>

                        <input type="number" id="approvedAmount" class="form-control validate approve">
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Appraisal Date</label>

                        <input id="appraisaldate" placeholder="Enter Appraisal Date" onblur="(this.type='Text')"
                               class="form-control validate dtPicker approve">
                    </div>
                </div>

                <div class="floatright">


                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Period(M)</label>

                        <input type="number" readonly="readonly" id="appliedPeriod_form" class="form-control validate approve">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">Same Period as Applied?</label>
                        <input type="checkbox" id="chkPeriod">
                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Approved Period(M)</label>

                        <input type="number" id="approvedPeriod" class="form-control validate approve">
                    </div>
                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Outstanding Loan?</label>
                        </div>
                        <div>
                            <input type="checkbox" id="chkdeductloan">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="approveButton_form" class="btn btn-deep-orange">Approve</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $(".approveButton").click(function (e) {

            getLoanNo(this)
            populateApprovalForm(this)
            e.preventDefault();
        });
    })

</script>




<!--append loanno to loanno field when clicked-->
<script type="text/javascript">

    function getLoanNo(code) {


        var loan_no = $(code).closest("tr").find("td").first().text();

        loan_no = loan_no.replace(/\s+/g, '');
        console.log(loan_no)

        //append loanno to loano field

        var loan_no_cell = document.getElementsByClassName("loan_no")[0];
        loan_no_cell.innerHTML = loan_no;

    }


</script>
<!--when loan no changes populate the form-->
<script type="text/javascript">
    function populateApprovalForm(loan_no) {
        var loan_no = document.getElementsByClassName("loan_no")[0].innerHTML;
        const url = '/loanapplication/getmember_details_approval/?loan_no=' + loan_no;
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {

                //console.log(entry);
                //alert(JSON.stringify(entry[1].Key))
                //alert(JSON.stringify(entry[2].Key))
                //alert(JSON.stringify(entry[3].Key))
                //alert(JSON.stringify(entry[4].Key))
                //alert(JSON.stringify(entry[5].Key))
                //alert(JSON.stringify(entry[6].Key))
                //alert(JSON.stringify(entry[7].Key))
                //alert(JSON.stringify(entry[8].Key))







                let TotalDeposit = entry[8].Value;

                let AmountGuaranteed = entry[9].Value;

                let FreeDeposit = entry[11].Value;

                let loan_name = entry[5].Value;

                let applied_amount = entry[6].Value;

                let member_number = entry[0].Value;

                let fullname = entry[1].Value;

                let loanperiod = entry[7].Value;

                let company = entry[10].Value;

                let max_qualified = entry[12].Value

                let loan_balance = entry[13].Value

                //get table data cells
                var totaldepositcell = document.getElementsByClassName("totaldeposit")[0];
                var freedepositcell = document.getElementsByClassName("freedeposit")[0];
                var fullnamecell = document.getElementsByClassName("member_name")[0];
                var membernocell = document.getElementsByClassName("member_no")[0];
                var appliedAmountcell = document.getElementsByClassName("appliedAmount")[0];
                var loanNamecell = document.getElementsByClassName("loan_name")[0];
                var AmountGuaranteedcell = document.getElementsByClassName("AmountGuaranteed")[0];
                var loanperiodcell = document.getElementsByClassName("period")[0];
                var companyCell = document.getElementsByClassName("company")[0];
                var maxQualifiedCell = document.getElementsByClassName("AmountQualified")[0];
                var loanbalanceCell = document.getElementsByClassName("outstandingloan")[0];





                //append the results to table
                totaldepositcell.innerHTML = TotalDeposit;
                freedepositcell.innerHTML = FreeDeposit;
                fullnamecell.innerHTML = fullname;
                membernocell.innerHTML = member_number;
                appliedAmountcell.innerHTML = applied_amount;
                loanNamecell.innerHTML = loan_name;
                AmountGuaranteedcell.innerHTML = AmountGuaranteed;
                loanperiodcell.innerHTML = loanperiod;
                companyCell.innerHTML = company;
                maxQualifiedCell.innerHTML = max_qualified;
                loanbalanceCell.innerHTML = loan_balance;

                //append the applied amount and period to form
                $("#appliedAmount_form").val(applied_amount)
                $("#appliedPeriod_form").val(loanperiod)


            });
        });
        return false;


    }
</script>
<script type="text/javascript">
    $(".dtPicker").datepicker({ maxDate: '0', dateFormat: 'dd/MM/yy' });
</script>

<!--check box for Amount applied-->
<script type="text/javascript">
    $('#chkAmount').change(function () {
        if (this.checked) {
            var returnVal = confirm("Are you sure?");
            if (returnVal) {
                var applied_amount = $("#appliedAmount_form").val();

                $(this).prop("checked", returnVal);

                $("#approvedAmount").val(applied_amount)
                $("#approvedAmount").attr('disabled', true);


            }
            else {
                $("#approvedAmount").val(0)
                $(this).prop("checked", returnVal);


            }

        }

        else {
            $("#approvedAmount").val(0)
            $("#approvedAmount").removeProp('disabled', returnVal);
            $(this).prop("checked", returnVal);


        }

    });
</script>
<!--checkbox for period applied-->
<script type="text/javascript">
    $('#chkPeriod').change(function () {
        if (this.checked) {
            var returnVal = confirm("Are you sure?");
            if (returnVal) {
                var period = $("#appliedPeriod_form").val();

                $(this).prop("checked", returnVal);

                $("#approvedPeriod").val(period)
                $("#approvedPeriod").attr('disabled', true);


            }
            else {
                $("#approvedPeriod").val(0)
                $(this).prop("checked", returnVal);



            }

        }

        else {
            $("#approvedPeriod").val(0)
            $("#approvedPeriod").removeProp('disabled', returnVal);
            $(this).prop("checked", returnVal);


        }

    });
</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".approve").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>
<script type="text/javascript">
    $("#approveButton_form").click(function () {
        checkEmptyFields();
    })
</script>
<script type="text/javascript">
    $(".dtPicker").each(function () {
        $(this).DisablePastingAndEdit();
    })
</script>
<!--Check for numbers only-->
<script type="text/javascript">

    $(".numeric").each(function (i, obj) {
        $(this).onlyNumb();
    });
</script>

<!--check box for deducting other Loans applied-->
<script type="text/javascript">
    $('#chkdeductloan').change(function () {
        if (this.checked) {
            var returnVal = confirm("Are you sure you want to deduct the outstanding loan balance ?");
            if (returnVal) {

                var outstanding_balance = parseFloat(document.getElementsByClassName("outstandingloan").innerHTML);


                if (outstanding_balance > 0) {
                    $(this).prop("checked", returnVal);

                }
                else {
                    alert('This member has no outstanding loan')
                    returnVal = false;
                    $(this).prop("checked", returnVal);

                }

            }
            else {
                $(this).prop("checked", returnVal);

            }

        }

        else {
            $(this).prop("checked", returnVal);


        }

    });
</script>

<!--save appraisal details-->
<script type="text/javascript">

    function loanAppraisal() {

        $.ajax({
            type: "POST",
            url: "/loanapplication/Approve?loan_no=" + document.getElementsByClassName("loan_no").innerText,
            data: {

                loan_no: document.getElementsByClassName("loan_no")[0].innerText,
                appraisal_date: $("#appraisaldate").val(),
                approved_amount: $("#approvedAmount").val(),
                approved_period: $("#approvedPeriod").val(),
                deduct_oustanding_loan: $("#chkdeductloan").val()

            },
            success: function (e) {
                $('#msg').html("Loan appraisal saved successfully").fadeIn('slow');
                $('#msg').delay(3000).fadeOut('slow');
                location.reload();


                $('#modalRegisterForm').modal('toggle'); //or  $('#IDModal').modal('hide');
                return false;
            }


        });
    }
</script>
<script type="text/javascript">

    $("#approveButton_form").click(function () {

        console.log('Hey')
        if (checkEmptyFields()) {
            loanAppraisal();
        }
    })

</script>


<!--search category-->


<script type="text/javascript">
    $("#search_category").chosen();
</script>


<!--Get text field when dropdown is choosen-->
<script type="text/javascript">
    $("#search_category").change(function () {

        //create textbox
        if ($("#search_field").length == 0) {
            $('<input/>').attr({
                type: 'text', id: 'search_field', name: 'test', class: 'form-search', placeholder: 'Search here',
            }).appendTo('#search_bar')


            var search_value = $("#search_field").val();


        }

    })
</script>
<script type="text/javascript">
    $("#search_bar").on('keyup', "#search_field", function () {



        var search_category = $("#search_category").val();


        var search_value = $("#search_field").val();

        if (search_category == 'loan') {
            var url = "/loanapplication/approve/?loan_no=" + search_value

            getSelectedLoan(url)

            console.log(search_category)
        }
        else if (search_category == 'member') {
            var url = "/loanapplication/approve/?member_number=" + search_value

            getSelectedLoan(url)


        }
        else {
            var url = "/loanapplication/approve/?id=" + search_value

            getSelectedLoan(url)

        }
    })

</script>


@*<script type="text/javascript">
        $("#search_bar").on('load', "#search_field", function () {
            $("#search_field").focus();
            console.log('')
        })
    </script>*@


<script type="text/javascript">
    function getSelectedLoan(_url) {

        $.ajax({
            type: "GET",
            url: _url,
            dataType: "text",
            data: {},
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                //alert("success")

                console.log(response.length)
                window.location.href = _url;

            },
            error: function () {
                alert("There was an error!")


            }
        })
    }
</script>