﻿@model IEnumerable<mLender.Models.LoanCollateral>

@{
    ViewBag.Title = "Collateral";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<div>
    <h5 style="text-align:center">Client:<strong> @Session["membername"]</strong></h5>
    <h5 style="text-align:center">Loan:<strong> @ViewBag.loanno</strong></h5>
</div>
<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

<h5 style="text-align:center">Loan Collateral</h5>

<div>
    <p>
        @Html.ActionLink("New Collateral", "addcollateral", "Loanapplication",
        new { }, new { @class = "btn btn-sm btn-success glyphicon  glyphicon-plus New_loan_button", @style = "color:white" })

            @Html.ActionLink("Back to Loan Application", "GetMemberLoans", "loanapplication",new { @id =@ViewBag.memberNumber },new { })

    </p>
</div>
<div class="panel panel-default  col-md-10">
    <div class="bootstrap-admin-panel-content">
        <table class="table  table-striped" id="loan_collateral">
            <thead>
                <tr>
                    <th class="hidden">
                        @Html.DisplayNameFor(model => model.loan_number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Owner)
                    </th>
                    <th class="hidden">
                        @Html.DisplayNameFor(model => model.OwnerIDNo)
                    </th>
                    <th>
                        @Html.DisplayName("Item Name")
                    </th>
                    <th class="hidden">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayName("Value")
                    </th>
                    <th>
                        @Html.DisplayName("Guaranteed")
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.loan_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.OwnerIDNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryCode)
                    </td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollateralValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountGuaranteed)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Delete", "#", new { /* id=item.PrimaryKey */ },new { @class="btn btn-sm btn-danger glyphicon glyphicon-trash glyphicon-white     btnDeleteCollateral"})
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script type="text/javascript">

    $('#loan_collateral').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null, null, null, null, null]
        });

</script>
<!--remove COLLATERAL button-->
<script type="text/javascript">
    function DeleteCollateral(code,loan) {

           $.ajax({
            type: 'Post',
            url: '/loanapplication/delete_collateral/',
               data: {
                   item_code: code,
                   loan_no:loan,

                        },
               success: function (succes_message) {
                   swal("", succes_message, "info").then(() => { location.reload() })
               } ,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        swal("", errorThrown, "error")
                    }
        })
    }

</script>
<script type="text/javascript">
    $('.btnDeleteCollateral').click(function (e) {
        e.preventDefault();
        var id = $.trim($(this).closest("tr").find('td:eq(1)').text());
        var loan_no =$.trim($(this).closest("tr").find('td:eq(0)').text());


        if (confirm("Are you sure you want to delete this collateral?")) {
            DeleteCollateral(id,loan_no);
        } 
    })
</script>
