﻿@model mLender.Models.LoanApplicationCombinedModel



@{
    ViewBag.Title = "Loan Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")


}

<style type="text/css">

    .floatleft-Guarantors {
        float: left;
        width: 45%;
        /*background-color: #ff0000;*/
        height: 140px;
    }

    .floatright-Guarantors {
        float: right;
        /*background-color: #00ff00;*/
        height: 140px;
        width: 45%;
    }

    .form-group .select2-container {
        position: relative;
        z-index: 2;
        float: left;
        width: 100% !important;
        margin-bottom: 0;
        display: table;
        table-layout: fixed;
    }
     #loanapplication {
        width: 40%;
        display:inline-block;

    }
</style>


@*<script src="/Scripts/jquery-1.9.1.js"></script>*@


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/Scripts/bootstrap.js"></script>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.js"></script>*@




<!--sel<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

@*Latest compiled and minified CSS for drop down search
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">*@

@*Latest compiled and minified JavaScript for drop down search
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>*@

@*(Optional) Latest compiled and minified JavaScript translation files for drop down search
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>*@
<!--validation script-->
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>*@

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/MyCustomScripts.js"></script>





<h4>Loan Application</h4>






@using (Html.BeginForm("create", "loanapplication",
       new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
        new
        {
            @id = "loanapplication",
            collection = Model,
            @class = "col-md-10 bootstrap-admin-form"


        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="row">
            <!--Member Member Profile partial View-->

            <div>
                @Html.Partial("_MemberProfile", Model)
            </div>
            <ul></ul>
            <!--Member Loan Type partial View-->

            <div>
                @*@Html.Partial("_loanType", Model)*@
            </div>
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Loan Application</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <div id="rootwizard">
                        <div class="navbar hidden">
                            <div class="container">
                                <ul class="nav nav-pills">
                                    <li class="active hidden"><a href="#tab1" data-toggle="tab">Loan Application</a></li>
                                    <li class="hidden"><a href="#tab2" data-toggle="tab">Payslip Information</a></li>
                                    <li class="hidden"><a href="#tab3" data-toggle="tab">Guarantors Details</a></li>
                                    <li class="hidden"><a href="#tab4" data-toggle="tab">Loan Collateral</a></li>

                                </ul>
                            </div>
                        </div>
                        @*<div id="bar" class="progress progress-striped active">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                            </div>*@                        

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                @*<form class="form-horizontal">*@
                                <fieldset>
                                    <legend style="text-align:center">Loan Details</legend>
                                    @*<div class="floatleft">*@
                                    <div class="form-group">
                                        <div class="editor-label">
                                            @Html.Label("Loan Product")
                                        </div>

                                        <strong>
                                            @Html.DropDownList("loan_code",
                                                                            (SelectList)ViewBag.loanTypes, "--Select Loan Product--",
                                                                            htmlAttributes: new
                                                                            {
                                                                                required = "required",
                                                                                @class = "form-control chosen mandatory loan guarantor",
                                                                                @id = "loan_code"
                                                                            })
                                            @Html.ValidationMessage("loan_code", "", new { @class = "text-danger" })
                                        </strong>
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            @Html.Label("Applied Amount")
                                        </div>

                                        @Html.TextBoxFor(model => model.application.applied_amount, htmlAttributes: new
                                   {
                                       @class = "form-control loan number",
                                       required = "required",
                                       type = "number",
                                       min = "1000.00",
                                       id = "applied_amount"
                                   })
                                        @Html.ValidationMessageFor(model => model.application.applied_amount, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="editor-label">
                                            @Html.Label("Repay Period(M)")
                                        </div>
                                        @Html.TextBoxFor(model => model.application.repay_period,
                                       htmlAttributes: new
                                       {
                                           @class = "form-control loan number",
                                           required = "required",
                                           type = "number",
                                           min = "1",
                                           id = "repay_period"


                                       })
                                        @Html.ValidationMessageFor(model => model.application.repay_period, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="editor-label">
                                        @Html.Label("Application Date")
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.application.application_date, "{0:dd/MMM/yyyy}",
                                       htmlAttributes: new
                                       {
                                           @class = "form-control dtPicker loan",
                                           //@readonly = "readonly",
                                           required = "required",
                                           //type = "date",
                                           id = "application_date",
                                           placeholder = "enter application date",
                                           //onfocus = "(this.type='date')",
                                           //onblur = "(this.type='text')"
                                           autocomplete = "off"

                                       })
                                        @Html.ValidationMessageFor(model => model.application.application_date, "", new { @class = "text-danger" })
                                    </div>


                                    <div class="form-group hidden">
                                        @Html.Label("Insure?")

                                        @Html.CheckBoxFor(m => m.application.insured, new
                                   {
                                       id = "textbox1"
                                   })
                                    </div>

                                    @*</div>
        <div class="floatright">*@


                                    <div class="form-group">
                                        <div class="editor-label">
                                            @Html.Label("Purpose")
                                        </div>
                                        @Html.TextBoxFor(model => model.application.purpose,
                                       htmlAttributes: new
                                       {
                                           @class = "form-control text loan",
                                           required = "required",
                                           type = "text",
                                           autocomplete = "off",
                                           id = "purpose"
                                       })
                                        @Html.ValidationMessageFor(model => model.application.purpose, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="editor-label">
                                            @Html.Label("#Loan No")
                                        </div>
                                        @Html.TextBoxFor(model => model.application.loan_number, htmlAttributes: new
                                  {
                                      @class = "form-control",
                                      type = "number",
                                      min = "1000.00",
                                      id = "loan_no"
                                  })
                                    </div>

                                    <div class="form-group hidden">
                                        <div class="editor-label">
                                            @Html.Label("Insurer")
                                        </div>
                                        @Html.DropDownListFor(m => m.application.insurer,
                                                (SelectList)ViewBag.insurer, "--Select Insurer--",
                                                htmlAttributes: new
                                                {
                                                         required = "required",
                                                         @class = "form-control ",
                                                    @id = "insurerDropdown",
                                                    @disabled = "disabled"

                                                })
                                        @Html.ValidationMessageFor(model => model.application.insurer, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group ">
                                        <p>
                                            <input class="btn btn-lg  btn-primary" type="button" value="Save"
                                                   id="save_loan" onclick="return submitApplication(); false" />

                                        </p>
                                        <div>
                                            @Html.ActionLink("Back to List", "Index")
                                        </div>
                                    </div>
                                    @*</div>*@
                                </fieldset>
                                @*</form>*@
                            </div>
                            <div class="tab-pane" id="tab2">
                                @*<form class="form-horizontal">*@
                                <fieldset>
                                    <legend style="text-align:center">Payslip Details</legend>
                                    @*<p>pay slip info</p>*@




                                    <div class="floatleft">
                                        <div class="editor-label">
                                            @Html.Label("Basic Salary")
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.application.basic_salary,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control payslip",
                                               required = "required",
                                               type = "number",
                                               autocomplete = "off",
                                               min = "0.00",
                                               @id = "basic_salary"
                                           })
                                            @Html.ValidationMessageFor(model => model.application.basic_salary, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="editor-label">
                                            @Html.Label("House Allowance")
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.application.house_allowance,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control payslip",
                                               required = "required",
                                               type = "number",
                                               autocomplete = "off",
                                               min = "0.00",
                                               @id = "house_allowance"
                                           })
                                            @Html.ValidationMessageFor(model => model.application.house_allowance, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="editor-label">
                                            @Html.Label("Other Allowance")
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.application.other_allowance,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control",
                                               required = "required payslip",
                                               type = "number",
                                               autocomplete = "off",
                                               min = "0.00",
                                               @id = "other_allowance"
                                           })
                                            @Html.ValidationMessageFor(model => model.application.other_allowance, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="floatright" style="height:0px">
                                        <div class="editor-label">
                                            @Html.Label("Other Payment")
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.application.other_payment,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control payslip",
                                               required = "required ",
                                               type = "number",
                                               autocomplete = "off",
                                               min = "0.00",
                                               @id = "other_payment"
                                           })
                                            @Html.ValidationMessageFor(model => model.application.other_payment, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="editor-label">
                                            @Html.Label("Total Deduction")
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.application.total_deduction,
                                           htmlAttributes: new
                                           {
                                               @class = "form-control payslip",
                                               required = "required",
                                               type = "number",
                                               autocomplete = "off",
                                               min = "0.00",
                                               @id = "total_deduction"
                                           })
                                            @Html.ValidationMessageFor(model => model.application.total_deduction, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group ">
                                            <p>

                                                <input class="btn btn-lg btn-primary" type="button" value="Save" id="btn_payslip_info" onclick="return submitPayslipInfo()" />

                                            </p>

                                        </div>
                                    </div>
                                </fieldset>
                                @*</form>*@
                            </div>
                            <div class="tab-pane hidden" id="tab3">
                                <fieldset>
                                    <legend style="text-align:center">Guarantors Details</legend>
                                    <!--Css to reduce hight for the float left and floatright divs-->


                                    <div class="form-group">
                                        <div class="floatleft" style="height:110px">

                                            <div>
                                                <label>Guarantor</label>

                                            </div>

                                            @Html.DropDownListFor(m => m.guarantors.guarantor_number,
                                           (SelectList)ViewBag.members_list, "--Select Guarantor--",
                                           htmlAttributes: new
                                                {
                                                    @class = "mandatory form-control guarantor",
                                               @id = "guarantor_number",
                                               required = "required",
                                           })

                                            @Html.ValidationMessageFor(model => model.guarantors.guarantor_number, "", new { @class = "text-danger" })
                                            @*<p class="help-block" style="color:red"> *Click and type any letter to initiate search</p>*@
                                        </div>


                                        <div class="floatright" style="height:110px">

                                            <label class="col-lg-2 control-label">Amount</label>
                                            @Html.TextBoxFor(model => model.guarantors.amount_guaranteed, htmlAttributes: new
                                       {
                                           @class = "form-control mandatory guarantor",
                                           @id = "amount_guaranteed",
                                           required = "required",
                                           type = "number",
                                           min = "100.00"
                                       })
                                            @Html.ValidationMessageFor(model => model.guarantors.amount_guaranteed, "", new { @class = "text-danger" })
                                            <p>
                                                <div>
                                                    <input class="btn btn-lg btn-primary" type="button" value="Add" id="add_guarantor" onclick=" submitGuarantorInfo();return false" />

                                                </div>
                                            </p>

                                        </div>
                                    </div>



                                    <div>
                                        <table class="table table-condensed table-striped table-responsive" id="guarantor_table">
                                            <thead>
                                                <tr>
                                                    <th>Guarantor Number</th>
                                                    <th>Guarantor Name</th>
                                                    <th>Guaranteed Amount</th>
                                                    <th>Remove</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <th id="guarantor_number"></th>

                                                    <th id="guarantor_name"></th>

                                                    <th class="guarantor_amount"></th>

                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <div class="input-sm label-default" style="text-align:right;font-size:inherit"><strong>Guaranteed Balance:<span id="guarantee_balance"></span></strong></div>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                            <div class="tab-pane hidden" id="tab4">
                                <fieldset>
                                    <legend style="text-align:center">Loan Collateral</legend>
                                    <div>
                                        <p class="help-block">Please fill in Collateral details:</p>
                                        <div class="form-group">

                                            <div class="floatleft" style="height:200px">
                                                <label>Item Code</label>

                                                @Html.TextBoxFor(m => m.collateral.code, htmlAttributes: new
                                           {
                                               @class = "form-control mandatory",
                                               @id = "item_code",
                                               @required = "required"
                                           })
                                                @Html.ValidationMessageFor(model => model.collateral.code, "", new { @class = "text-danger" })

                                                <label>Item Name</label>
                                                @Html.TextBoxFor(m => m.collateral.CategoryCode, htmlAttributes: new
                                           {
                                               @class = "form-control mandatory",
                                               @id = "category_code",
                                               @required = "required"
                                           })
                                                @Html.ValidationMessageFor(model => model.collateral.CategoryCode, "", new { @class = "text-danger" })

                                                <label>Description</label>
                                                @Html.TextBoxFor(m => m.collateral.Description, htmlAttributes: new
                                           {
                                               @class = "form-control mandatory",
                                               @id = "description",
                                               @required = "required"
                                           })
                                                @Html.ValidationMessageFor(model => model.collateral.Description, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="floatright" style="height:200px">

                                                <label>Location</label>
                                                @Html.TextBoxFor(m => m.collateral.Location, htmlAttributes: new
                                           {
                                               @class = "form-control mandatory",
                                               @id = "location",
                                               required = "required"
                                           })
                                                @Html.ValidationMessageFor(model => model.collateral.Location, "", new { @class = "text-danger" })

                                                <label>Value</label>
                                                @Html.TextBoxFor(m => m.collateral.CollateralValue, htmlAttributes: new
                                           {
                                               @class = "form-control mandatory number",
                                               @id = "collateral_value",
                                               required = "required",
                                               type = "number",
                                               min = "0.00"
                                           })
                                                @Html.ValidationMessageFor(model => model.collateral.CollateralValue, "", new { @class = "text-danger" })

                                                <label>Amount Guaranteed</label>
                                                @Html.TextBoxFor(m => m.collateral.AmountGuaranteed, htmlAttributes: new
                                           {
                                               @class = "form-control mandatory number",
                                               @id = "amount_guaranteed_collateral",
                                               required = "required",
                                               type = "number",
                                               min = "0.00"
                                           })
                                                @Html.ValidationMessageFor(model => model.collateral.AmountGuaranteed, "", new { @class = "text-danger" })

                                            </div>



                                        </div>

                                    </div>
                                    <div class="form-group floatright" style="height:50px">
                                        <p>
                                            <input class="btn btn-lg btn-primary" type="button" value="Save" id="btn_save_collateral" />

                                        </p>
                                    </div>
                                    <div>
                                        <table class="table" id="collateral_table">
                                            <tr>
                                                <th>Guarantor Number</th>
                                                <th>Guarantor Name</th>
                                                <th>Item Name</th>
                                                <th>Guaranteed Amount</th>

                                                <th id="guarantor_number"></th>

                                                <th id="guarantor_name"></th>
                                                <th id="item_name"></th>
                                                <th class="guarantor_amount"></th>

                                            </tr>

                                        </table>
                                        <div>
                                            <div class="input-sm" style="text-align:right">Guaranteed Balance:<span id="guarantee_balance"></span></div>

                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}





<script type="text/javascript">
    $(".chosen").chosen({ no_results_text: "oops no record found matching the name:  " });
</script>

@* restrict max date to be today max date is zero *@
<script type="text/javascript">
    $(".dtPicker").datepicker({ maxDate: '0', dateFormat: 'dd/MM/yy' });
</script>



<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45396411-1', 'azurewebsites.net');
    ga('send', 'pageview');

</script>


<script type="text/javascript">
    $("#application_date").each(function () {
        $(this).DisablePastingAndEdit();
    })
</script>

<!--Check for alphabet only-->
<script type="text/javascript">
    $(".text").each(function (i, obj) {
        $(this).onlyAlphabets();
    });
</script>
<!--Check for numbers only-->
<script type="text/javascript">

    $(".payslip").each(function (i, obj) {
        $(this).onlyNumb();
    });
</script>
<!--check the guaranteed amount if it decima-->
<!--Check for numbers only-->
<script type="text/javascript">

    $(".guarantor").each(function (i, obj) {
        $(this).onlyNumb();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //set initial state.
        $('#textbox1').val(this.checked);

        $('#textbox1').change(function () {
            if (this.checked) {
                var returnVal = confirm("Are you sure?");
                if (returnVal) {
                    console.log($("#insurerDropdown").text())

                    $(this).prop("checked", returnVal);
                    $("#insurerDropdown").removeProp('disabled', returnVal);
                }
                else {
                    $("#insurerDropdown").attr('disabled', true);

                }

            }
            else {
                $("#insurerDropdown").attr('disabled', true);

            }

        });
    });
</script>

<!--add table rows dynamically-->
<script type="text/javascript">
    function add_Guarantor() {



        var memberno = document.getElementById("guarantor_number")
        var member_number = $('#guarantor_number').val();
        var member_name = $('#guarantor_number option:selected').text();
        var amount = $("#amount_guaranteed").val();


        let guarantor_number = member_number;
        let guarantor_name = member_name;
        let guaranteed_amount = amount;

        //if (check_available_deposit() && checkIfLoanNoExists()) {
        $("#guarantor_table").append(
            ('<tr><td>' + guarantor_number + ' </td><td>' + guarantor_name + '</td > <td>' + guaranteed_amount + '</td><td><input type="button" id="btDelete" onclick="deleteGuarantor(this)" value="Remove"></td></tr > '));


    }

</script>
<script type="text/javascript">

    function checkIfLoanNoExists() {
        if (document.getElementById("loan_no").innerText.length > 0) {

            return true
        }
        else {
            alert('Loan No. do not exists!')
            return false
        }
    }
</script>




<!--remove guarantor button-->
<script type="text/javascript">
    function deleteGuarantor(code) {

        var id = $(code).closest("tr").find("td").first().text();

        id = id.replace(/\s+/g, '');

        const url = '~/loanapplication/delete_guarantor/?guarantor_number=' + id;

        $.getJSON(url, function () {

            getGuarantorBalance();
            removeGuarantorRow(code);


        })
    }

</script>
<!--remove the appended guarantor row-->
<script type="text/javascript">
    function removeGuarantorRow(val) {
        $(val).closest("tr").remove();
    }

</script>
<!--Check if deposit is greater than the amount guaranteed-->
<script type="text/javascript">
    window.isQualified = false;

    function check_available_deposit() {


        guarantor_number = $("#guarantor_number").val()
        var amount_entered = parseFloat($("#amount_guaranteed").val());

        const url = '/loanapplication/check_deposit/?member_number=' + guarantor_number

        $.getJSON(url, function (data) {

            $.each(data, function (key, entry) {

                const free_deposit = parseFloat(JSON.stringify(entry[5].Value))
                console.log(free_deposit)



                if (amount_entered <= free_deposit) {


                    window.isQualified = true;

                }
                else if (amount_entered > free_deposit) {

                    window.isQualified = false;

                    alert('Member ' + guarantor_number + ' has no enough deposit!')

                }
                else {
                    alert('member ' + guarantor_number + ' has no enough deposit!')
                    window.isQualified = false;

                }

            })

        })
        console.log(window.isQualified)
        return window.isQualified

    }

</script>
<script type="text/javascript">
    $("#amount_guaranteed").on('input', function () {
        //check_available_deposit()

    })

</script>
<!--cange amount gurantedd when guarantor changes-->
<script type="text/javascript">
    $("#guarantor_number").on('change', function () {
        $("#amount_guaranteed").val("");
    })

</script>
<!--Clear Guarantor Form-->
<script type="text/javascript">
    function formClear() {
        //$("#guarantor_number").val("");
        document.getElementById('guarantor_number').selectedIndex = -1;
        $("#amount_guaranteed").val("");
    }
</script>
<!--Guarantor table update-->
<script type="text/javascript">
    function guarantorTableUpdate() {
        if ($("#guarantor_number").val() != null &&
            $("#amount_guaranteed").val() != '') {
            add_Guarantor();
            formClear();
            $("#guarantor_number").focus();
        }
    }
</script>
<!--Add Rows to Collateral Table Dynamically-->
<script type="text/javascript">
    function add_collateral_row() {
        //var item_code = document.getElementById("guarantor_number")
        //var amount_guaranteed_collateral = $('.selectpicker').val();
        //var location = $('.selectpicker option:selected').text();
        var location = $("#location").val();
        var description = $("#description").val();
        var collateral_value = $("#collateral_value").val();
        var category_code = $("#amount_guaranteed_collateral").val();

        let loc = location;
        let desc = description;
        let col_value = collateral_value
        let cat_code = category_code


        $("#collateral_table").append(
            ('<tr><td>' + loc + ' </td><td>' + desc + '</td > <td>' + col_value + '</td><td>' + cat_code + '</td><td><input type="button" id="btDelete" value="Remove"></td></tr > '));


    }



</script>
<!-- clear collateral text fields-->
<script type="text/javascript">
    function formClear_collateral() {
        $("#item_code").val("");
        $("#location").val("");
        $("#amount_guaranteed_collateral").val("");
        $("#description").val("");
        $("#collateral_value").val("");
        $("#category_code").val("");
    }

</script>
<!--Add table when clicked, dynamically  -->

<script type="text/javascript">
    function update_collateral_table() {


        if ($("#item_code").val() != '' && $("#location").val() != '' && $("#amount_guaranteed_collateral").val() != '' && $("#collateral_value").val() != '') {


            add_collateral_row();
            formClear_collateral();
        }
        else {
            return false
        }


    }

</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".loan").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            swal("","Fill all the necessary fields","error");
            return false;
        } else {
            return true;
        }


    }
</script>




<!--get current loan Number-->
<script type="text/javascript">
    function getLoanNumber() {

        loan_code = $("#loan_code").val();
        const url = '/loanapplication/get_curent_LoanNumber/?loan_code=' + loan_code;

        $.getJSON(url, function (data) {


            $.each(data, function (key, entry) {

                let Loan_no = JSON.stringify(entry.Value)

                console.log(Loan_no)
                Loan_no = Loan_no.slice(1, -1)
                //get table data cells
                var loannocell = document.getElementById("loan_no");

                // append the loanno to the cell
                loannocell.innerHTML = Loan_no;
                return Loan_no;
            });

        });

    }
</script>

<script type="text/javascript">
    function getGuarantorBalance() {

        var delayInSeconds = 2000;//delay till loanno is assigned

        setTimeout(function () {
            const url = '/loanapplication/get_guarantor_balance/?loan_no=' + document.getElementById("loan_no").innerText;

            $.getJSON(url, function (data) {


                $.each(data, function (key, entry) {

                    let guarantee_balance = JSON.stringify(entry[0].Value)


                    guarantee_balance = guarantee_balance.toString().split(".");
                    guarantee_balance[0] = guarantee_balance[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");


                    var guarantee_balance_cell = document.getElementById("guarantee_balance");

                    // append the loanno to the cell
                    guarantee_balance_cell.innerHTML = guarantee_balance.join(".");

                });

            });
        }, delayInSeconds)

    }
</script>

<!--Use json to post data in different views-->
<!-- loan application-->
<script type="text/javascript">
    function submitApplication() {

        if (checkEmptyFields()) {
            LoanApplication();
            getLoanNumber();
            getGuarantorBalance();
            LoanformClear();
        }


    }

</script>
<!--Loan Application -->
<script type="text/javascript">

    function LoanApplication() {
        var memberNo=$("#member_number").val()

        $.ajax({
            type: "POST",
            url: "/loanapplication/create",
            data: {
                //loan_number: $("#loan_number").val(),
                application_date: $("#application_date").val(),
                member_number: $("#member_number").val(),
                loan_code: $("#loan_code").val(),
                applied_amount: $("#applied_amount").val(),
                repay_period: $("#repay_period").val(),
                purpose: $("#purpose").val(),
                insurer: $("#insurerDropdown").val(),
                insured: $("#textbox1").val()

            },
            success: function (message) {

                swal({
                        title: "Loan", 
                        type: "info",
                        text:message,
                        showConfirmButton: true,
                        confirmButtonText: "Ok",   
                        closeOnConfirm: true 
                   
                }).then(() => { window.location.href = "/LoanApplication/GetMemberLoans/" + memberNo })
                                                           

            }


        });
    }
</script>
<!--clear loan form after submit-->
<script type="text/javascript">
    function LoanformClear() {
        $("#application_date").val("");

        $("#applied_amount").val("");

        $("#repay_period").val("");

        $("#purpose").val("");

        $("#insurerDropdown").val("");
        $("#textbox1").val("");


    }


</script>
<!--save Payslip Info-->

<input type="hidden" id="loan_no" />

<script type="text/javascript">

    function savePayslipInfo() {

        $.ajax({
            type: "POST",
            url: "/loanapplication/save_Payslip_Info/?loan_no" + document.getElementById("loan_no").innerText,
            data: {
                loan_no: document.getElementById("loan_no").innerText,
                basic_salary: $("#basic_salary").val(),
                house_allowance: $("#house_allowance").val(),
                other_allowance: $("#other_allowance").val(),
                other_payment: $("#other_payment").val(),
                total_deduction: $("#total_deduction").val(),

            },
            success: function () {
                $('#msg').html("Payslip info saved successfully").fadeIn('slow');
                $('#msg').delay(3000).fadeOut('slow');
            }

        });
    }
</script>
<!--Clear payslip Form-->
<script type="text/javascript">
    function clearPayslipForm() {
        $("#basic_salary").val("");
        $("#house_allowance").val("");
        $("#other_payment").val("");
        $("#total_deduction").val("");
        $("#other_allowance").val("")


    }
</script>
<!--insert to Db and clear form-->
<script type="text/javascript">
    function submitPayslipInfo() {
        if (checkEmptyPayslipFields()) {
            savePayslipInfo();
            clearPayslipForm();
        }
    }
</script>
<!--check empty fields for payslip form -->
<script type="text/javascript">
    function checkEmptyPayslipFields() {
        var anyFieldIsEmpty = $(".payslip").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }

    }

</script>
<!--check empty fields for payslip form -->
<script type="text/javascript">
    function checkEmptyGuarantorFields() {
        var anyFieldIsEmpty = $(".guarantor").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }

    }

</script>

<!--gurantor-->
<script type="text/javascript">
    function submitGuarantorInfo() {
        if (checkEmptyGuarantorFields() && check_available_deposit() && checkIfLoanNoExists()) {
            saveGuarantors()
            guarantorTableUpdate()
            getGuarantorBalance()
        }
    }

</script>
<!--Insert guarantors to DB-->
<script type="text/javascript">
    function saveGuarantors() {

        $.ajax({
            type: "POST",
            url: "/loanapplication/save_guarantor?loan_no=" + document.getElementById("loan_no").innerText,
            data: {
                loan_number: document.getElementById("loan_no").innerText,
                guarantor_number: $("#guarantor_number").val(),
                amount_guaranteed: $("#amount_guaranteed").val()

            },
            success: function (data) {
                $('#msg').html("Guarantor details insert successfully").fadeIn('slow');
                //$('#msg').html("data insert successfully").fadeIn('slow') //also show a success message
                $('#msg').delay(3000).fadeOut('slow');



            }


        })

    }



</script>
<!--save loan Collateral -->
<script type="text/javascript">

    function saveCollateral() {

        $.ajax({
            type: "POST",
            url: "/loanapplication/save_collateral?loan_no =" + document.getElementById("loan_no").innerText,
            data: {
                loan_number: document.getElementById("loan_no").innerText,
                code: $("#item_code").val(),
                CategoryCode: $("#category_code").val(),
                Description: $("#description").val(),
                Location: $("#location").val(),
                CollateralValue: $("#collateral_value").val(),
                AmountGuaranteed: $("#amount_guaranteed_collateral").val(),




            },
            success: function (data) {
                $('#msg').html("Loan collateral details saved successfully").fadeIn('slow');
                $('#msg').delay(3000).fadeOut('slow');
            }


        });
    }
</script>
<!--Save collateral Button-->
<script type="text/javascript">
    $("#btn_save_collateral").on('click', function () {
        if (checkGuaranteedValuevsCollateralValue()) {
            saveCollateral();
            update_collateral_table();
        }
    })

</script>

<!--Guaranteed Value should not be greater than collateral value-->
<script type="text/javascript">
    function checkGuaranteedValuevsCollateralValue() {
        var CollateralValue = parseFloat($("#collateral_value").val());
        var AmountGuaranteed = parseFloat($("#amount_guaranteed_collateral").val());

        if (CollateralValue > AmountGuaranteed) {

            return true
        }
        else {
            alert('Amount Guaranteed cannot be more than the Value of the Item!')
            return false
        }
    }

</script>
<!--select 2 dropdown-->
<script type="text/javascript">
    $('#guarantor_number').select2();
</script>
<!--populate membernumber fields-->
<script type="text/javascript">
        $('#member_number').val('@Session["membernumber"]').trigger('change')

</script>
<!---->



<script type="text/javascript">
    $('#member_number').change(function () {

        var member_number = $('#member_number').val()

        //console.log('here is ' + member_number);

    })
</script>
<script type="text/javascript">
    $(".number").each(function (i, obj) {
        $(this).onlyNumb();
    });
</script>




