﻿@model mLender.Models.LoanApplication

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}


<h4>Loan Details:<strong>@(string.Format("{0 } :{1} {2}", @ViewBag.member,@ViewBag.loantype,@ViewBag.loan))</strong></h4>
<div class="panel panel-default col-md-10 ">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-bordered" id="members_details">
            <tr style="font-weight:bold">
                <td>
                    @Html.DisplayName("Loan No")
                </td>
                <td>
                    @Html.DisplayName("Client")
                </td>
                <td>
                    @Html.DisplayName("Date")
                </td>
                <td>
                    @Html.DisplayName("Product")
                </td>
                <td>
                    @Html.DisplayName("Amount")
                </td>
                <td>
                    @Html.DisplayName("Period")
                </td>
                <td>
                    @Html.DisplayName("Purpose")
                </td>
                <td>
                    @Html.DisplayName("Guaranteed")
                </td>
                <td>
                    @Html.DisplayName("Status")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.loan_number)
                </td>



                <td>
                    @Html.DisplayFor(model => model.member_number)
                </td>



                <td>
                    @*@Html.DisplayFor(model => model.application_date)*@
                    @Model.application_date.ToShortDateString()
                    
                </td>



                <td>
                    @Html.DisplayFor(model => model.loan_code)
                </td>



                <td>
                    @Html.DisplayFor(model => model.applied_amount)
                </td>



                <td>
                    @Html.DisplayFor(model => model.repay_period)
                </td>



                <td>
                    @Html.DisplayFor(model => model.purpose)
                </td>





                <td>
                    @Html.DisplayFor(model => model.amount_guaranteed)
                </td>




                <td>
                    @Html.DisplayFor(model => model.loan_status)
                </td>



            </tr>
        </table>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "GetMemberLoans",new { id=Session["membernumber"]})
</p>
