﻿@model IEnumerable<mLender.Models.EffectLoan>

@{
    ViewBag.Title = "effectLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}



<style type="text/css">
    table {
        table-layout: fixed;
        /*width: 300px;*/

    }
    #my_dataTable td{
        white-space:nowrap;
    }
   
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>

<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>



<fieldset>
    <h4 style="text-align:center">Loans To Effected</h4>
    <p>
        @Html.ActionLink("Apply", "Create", new { },
        new { @class = "btn btn-sm btn-success glyphicon  glyphicon-plus", @style = "color:white" })

           
    </p>
    <div class="panel panel-default col-md-10 col-lg-10 col-xs-10">
        <div class="bootstrap-admin-panel-content">
            <table class="table table-striped table-condensed table-responsive table-bordered table-hover" id="my_dataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("#Loan")
                        </th>
                        <th>
                            @Html.DisplayName("Member No")
                        </th>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Appraisal Date")
                        </th>
                        <th>
                            @Html.DisplayName("Approved Amount(ksh)")
                        </th>
                        <th>
                            @Html.DisplayName("Period(M)")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.loan_no)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.member_number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fullname)
                        </td>
                        <td>
                            @item.appraisal_date.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.approved_amount)
                        </td>
                        <td>
                            @string.Format("{0:0}", item.approved_period)
                        </td>
                        <td>
                            @Html.ActionLink("effect", "#", new { }, new
                            {
                                @id = "effect_button",
                           @class = "effectButton btn btn-lg btn-md btn-sm btn-primary glyphicon glyphicon-tick glyphicon-ok-sign",
                                data_toggle = "modal",
                           data_target = "#modalEffectLoanForm"
                            }) @*|*@
                            @*@Html.ActionLink("Details", "", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }


            </table>
        </div>
        <p>
            @Html.ActionLink("Back to Pending Loans", "PendingLoans", new { },
       new { @class = "btn", @style = "color:blue" })
        </p>
    </div>
</fieldset>

<div class="modal fade" id="modalEffectLoanForm" width="100%" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div>
                    @Html.Partial("_LoanApproval", Model)
                </div>
                <div></div>
                <ul></ul>
                <h4 class="modal-title w-100 font-weight-bold">Loan Approval</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                <div class="floatleft">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Approved Amount</label>

                        <input type="number" readonly="readonly" id="appliedAmount_form" class="form-control validate approve ">
                    </div>
                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Outstanding Loan?</label>
                            <input type="checkbox" id="chkdeductloan">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct loan insurance?</label>
                            <input type="checkbox" id="chkloanInsurance">
                            <input class="form-control" value="0" type="number" readonly="readonly" id="loan_insurance">
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Loan Processing Fee?</label>
                            <input type="checkbox" id="chkloanfee">
                            <input class="form-control " value="0" type="number" min="0" readonly="readonly" id="loan_fee">
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Net Amount</label>
                            <input class="form-control effect" value="0" type="number" min="0" readonly="readonly" id="net_amount">
                        </div>
                    </div>

                </div>
                <div class="floatright">

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Effect Date</label>

                        <input id="effectdate" placeholder="Select Effect Date" onblur="(this.type='Text')"
                               class="form-control validate dtPicker effect">
                        <p class="help-block" style="color:blue">*This is used for loan repayment</p>
                    </div>
                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Grace period</label>
                            <input class="form-control effect" value="0" type="number" readonly="readonly" id="grace_period">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Other loan Charges?</label>
                            <input type="checkbox" id="chkloancharges">
                            <input class="form-control effect" value="0" type="number" min="0" readonly="readonly" id="loan_charges">
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="approveButton_form" class="btn btn-deep-orange">Process</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#search_category").chosen();
</script>

<!--Get text field when dropdown is choosen-->
<script type="text/javascript">
    $("#search_category").change(function () {


        var search_category = $("#search_category").val();
        console.log(search_category)

        //create textbox
        if ($("#search_field").length == 0) {
            var text_box = $('<input/>').attr({
                type: 'text', id: 'search_field', name: 'test', class: 'form-search', placeholder: 'Search here',
            });

            text_box.appendTo('#search_bar')
        }
        else if (search_category == 0) { //not working

            alert('zero')
            text_box.hide();
        }

        //if (search_category == 0) {
        //    $('<input/>').attr({
        //        type: 'text', id: 'search_field', name: 'test', class: 'form-search', placeholder: 'Search here',
        //    }).hide("#search_field")
        //}

    })
</script>

<script type="text/javascript">
    $("#search_bar").on('keyup', "#search_field", function () {



        var search_category = $("#search_category").val();


        var search_value = $("#search_field").val();

        if (search_category == 'loan') {
            var url = '/loanapplication/effectLoan/?loan_no=' + search_value

            getSelectedLoan(url)

            console.log(search_category)
        }
        else if (search_category == 'member') {
            var url = '/loanapplication/effectLoan/?member_number=' + search_value

            getSelectedLoan(url)


        }
        else {
            var url = '/loanapplication/effectLoan/?id=' + search_value

            getSelectedLoan(url)

        }
    })

</script>

<!--filetr loans by serach value-->
<script type="text/javascript">
    function getSelectedLoan(_url) {

        $.ajax({
            type: "GET",
            url: _url,
            dataType: "text",
            data: {},
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                //alert("success")

                console.log(response.length)
                window.location.href = _url;
                //window.history.replaceState({}, "", _url);
                //history.replaceState({},"",_url)
            },
            error: function () {
                alert("There was an error!")


            }
        })
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".effectButton").click(function (e) {

            getLoanNo(this);
            populateApprovalForm(this);
            loadModal();
            e.preventDefault();

        });
    })

</script>



<!--append loanno to loanno field when clicked-->
<script type="text/javascript">

    function getLoanNo(code) {


        var loan_no = $(code).closest("tr").find("td").first().text();

        loan_no = loan_no.replace(/\s+/g, '');

        //append loanno to loano field

        var loan_no_cell = document.getElementsByClassName("loan_no")[0];
        loan_no_cell.innerHTML = loan_no;

    }


</script>
<!--when loan no changes populate the form-->

<script type="text/javascript">

    function populateApprovalForm(loan_no) {
        var loan_no = document.getElementsByClassName("loan_no")[0].innerHTML;


        const url = '/loanapplication/get_member_loan_to_effect/?loan_no=' + loan_no;
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {

                console.log(entry[0].Value);

                let TotalDeposit = entry[8].Value;

                let AmountGuaranteed = entry[9].Value;

                let FreeDeposit = entry[11].Value;

                let loan_name = entry[5].Value;

                let applied_amount = entry[6].Value;

                let member_number = entry[0].Value;

                let fullname = entry[1].Value;

                let loanperiod = entry[7].Value;

                let company = entry[10].Value;

                let max_qualified = entry[12].Value

                let loan_balance = entry[13].Value

                //get table data cells
                var totaldepositcell = document.getElementsByClassName("totaldeposit")[0];
                var freedepositcell = document.getElementsByClassName("freedeposit")[0];
                var fullnamecell = document.getElementsByClassName("member_name")[0];
                var membernocell = document.getElementsByClassName("member_no")[0];
                var appliedAmountcell = document.getElementsByClassName("appliedAmount")[0];
                var loanNamecell = document.getElementsByClassName("loan_name")[0];
                var AmountGuaranteedcell = document.getElementsByClassName("AmountGuaranteed")[0];
                var loanperiodcell = document.getElementsByClassName("period")[0];
                var companyCell = document.getElementsByClassName("company")[0];
                var maxQualifiedCell = document.getElementsByClassName("AmountQualified")[0];
                var loanbalanceCell = document.getElementsByClassName("outstandingloan")[0];





                //append the results to table
                totaldepositcell.innerHTML = TotalDeposit;
                freedepositcell.innerHTML = FreeDeposit;
                fullnamecell.innerHTML = fullname;
                membernocell.innerHTML = member_number;
                appliedAmountcell.innerHTML = applied_amount;
                loanNamecell.innerHTML = loan_name;
                AmountGuaranteedcell.innerHTML = AmountGuaranteed;
                loanperiodcell.innerHTML = loanperiod;
                companyCell.innerHTML = company;
                maxQualifiedCell.innerHTML = max_qualified;
                loanbalanceCell.innerHTML = loan_balance;

                //append the applied amount and period to form
                Loan_amount = $("#appliedAmount_form").val(applied_amount)
                $("#appliedPeriod_form").val(loanperiod)


            });
        });
        return false;


    }
</script>
<script type="text/javascript">
    $(".dtPicker").datepicker({ maxDate: '0', dateFormat: 'dd/MM/yy' });
</script>
<script type="text/javascript">
    $(".dtPicker").each(function () {
        $(this).DisablePastingAndEdit();
    })
</script>
<!--check Insurance Policy-->
<script type="text/javascript">

    function checkInsurancePolicy() {
        var delayInSeconds = 1800;//delay for 8 mili sec to get insurance amount and deduction in modal

        setTimeout(function () {

            const url = '/loanapplication/check_loan_insurance_policy'
            $.getJSON(url, function (data) {
                $.each(data, function (key, entry) {
                    //console.log(entry)
                    let dededuct_insurance_from_loan = entry[1].Value;
                    let recover_insurance_from_checkoff = entry[2].Value;
                    let Is_insurance_percentage = entry[5].Value;
                    let default_insurance_amount = entry[4].Value;

                    //console.log(Is_insurance_percentage)

                    if (dededuct_insurance_from_loan) {

                        $("#chkloanInsurance").attr({ 'disabled': true, 'checked': true });

                        if (Is_insurance_percentage) {

                            var Loan_amount = $("#appliedAmount_form").val();
                            //calcutae the insurance to be deducted

                            var total_insurance = parseFloat((default_insurance_amount / 100) * Loan_amount);

                            //console.log(total_insurance);

                            $('#loan_insurance').val(total_insurance);
                        }
                        else {
                            var total_insurance = parseFloat(default_insurance_amount);

                            //console.log(total_insurance);

                            $('#loan_insurance').val(total_insurance);
                        }

                    }
                    else {
                        $("#chkloanInsurance").attr({ 'disabled': true, 'checked': false });

                        $('#loan_insurance').val(0);

                    }
                    //get net amount After deduction
                    getNetAmount();

                })
            })
            //get loan processing fee
            const url1 = '/loanapplication/check_loan_processing_fee_policy'
            $.getJSON(url1, function (data) {
                $.each(data, function (key, entry) {
                    let default_amount = entry[0].Value;
                    let is_percentage = entry[1].Value;
                    let deduct_from_loan = entry[2].Value;

                    if (deduct_from_loan) {
                        $("#chkloanfee").attr({ 'disabled': true, 'checked': true });

                        if (is_percentage) {
                            var Loan_amount = $("#appliedAmount_form").val();
                            var processing_fee = parseFloat((default_amount / 100) * Loan_amount);
                            $('#loan_fee').val(processing_fee);
                        }
                        else {
                            //take default amount
                            $('#loan_fee').val(parseFloat(default_amount));

                        }
                    }
                    else {

                        $("#chkloanfee").attr({ 'disabled': true, 'checked': false });

                        $('#loan_fee').val(parseFloat(0));

                    }
                })
                //get net amount
                getNetAmount();

            })




        }, delayInSeconds)




    }
</script>
<!--On load Check insurance policy-->
<script type="text/javascript">
    function loadModal() {
        $(document).on('show.bs.modal', '#modalEffectLoanForm', function () {
            //console.log('hi');
            checkInsurancePolicy();

        })
    }



</script>

<!--Get Amount Applied-->
<script type="text/javascript">

    function getNetAmount() {
        var approved_amount = $("#appliedAmount_form").val();
        var insurance_amount = $('#loan_insurance').val();
        var processing_fee = $('#loan_fee').val();
        var other_charges = $('#loan_charges').val();


        var net_amount = parseFloat(approved_amount - insurance_amount - processing_fee - other_charges);
        $('#net_amount').val(net_amount);

    }

</script>

<!--effect Loan to create Voucher -->
<script type="text/javascript">
    $('#approveButton_form').click(function () {

        if (checkEmptyFields()) {

            $.ajax({
                type: "POST",
                url: '/loanapplication/effectLoan?loan_no=' + document.getElementsByClassName("loan_no")[0].innerText,
                data: {

                    effect_date: $("#effectdate").val(),
                    loan_no: document.getElementsByClassName("loan_no")[0].innerText,
                    member_number: document.getElementsByClassName("member_no")[0].innerText,
                    net_amount: $("#net_amount").val(),
                    processing_fee: $("#loan_fee").val(),
                    insurance_premium: $("#loan_insurance").val(),
                    other_loan_charges: $("#loan_charges").val(),
                    //loan_to_clear=


                },
                success: function (succes_message) {
                    swal("", succes_message, "info");

                    reloadCurrentPage();
                    return false;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                    swal("", errorThrown, "error");

                }


            });
        }


    })


</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {
        var anyFieldIsEmpty = $(".effect").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            swal("", "Fill all the necessary fields", "info");

            return false;
        } else {
            return true;
        }


    }
</script>

<!--data tables-->
<script type="text/javascript">

    $('#my_dataTable').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null, null]
        });

</script>
<!--rELOAD CURRENT PAGE-->
<script type="text/javascript">
    function reloadCurrentPage() {
        setTimeout(function () {
            window.location.href = window.location.href;
        }, 6000)
    }
</script>