﻿@model IEnumerable<mLender.Models.DueLoans>

@{
    ViewBag.Title = "get Due Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}
<style type="text/css">
    #loandue td {
        white-space: nowrap;
        font-size: 90%;
    }
</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<!--Data table references-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src=" https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>



<h4 style="text-align:center">Loans Due Date</h4>
<div style="float:left;font-weight:bold;font-size:large">Branch: @ViewBag.branchName</div>

<p style="float:right">

    <label for="date">From Date:</label>
    @*<input type="date" id="startDate" placeholder="Start date" name="startDate">*@
    @Html.TextBox("startDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
{
    @class = "dtPicker dueloans",
    required = "required",
    placeholder = "Enter start Date",
    id = "start_date",
    autocomplete = "off"

})
    <label for="endDate">End Date:</label>
    @Html.TextBox("endDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
              {
                  @class = "dtPicker dueloans",
                  required = "required",
                  placeholder = "Enter end Date",
                  id = "end_date",
                  autocomplete = "off"
              })
    @Html.DropDownList("branch_id", (SelectList)ViewBag.branch, "---select Branch A/C--",
                              htmlAttributes: new
                                   {
                                  @class = "search",
                                  @id = "branch",

                              })



    <button class="btn btn-lg btn-sm  btn-primary" type="submit"
            onclick="location.href='@Url.Action("getdueloans", "Loanapplication")?fromDate=' + $('#start_date').val()+'&toDate='+$('#end_date').val()+'&branch_id='+$('#branch').val()"
            id="get_branch">
        Generate
    </button>

</p>
<div class="panel panel-default  col-md-10">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped table-responsive" id="loandue">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("#Client No")
                    </th>
                    <th>
                        @Html.DisplayName("#Loan No")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayName("Disbursement Date")
                    </th>
                    <th>
                        @Html.DisplayName("Loan Type")
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Period(Months)")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th>
                        @Html.DisplayName("Due Date")
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loan_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.application_date.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loan_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.applied_amount)
                    </td>
                    <td>
                        @string.Format("{0:0}",item.repay_period)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @item.DueDate.ToShortDateString()
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
<!--data tables-->
<script type="text/javascript">

    $('#loandue').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null, null, null, null]
            , dom: 'Bfrtip',
            buttons: [
                'copyHtml5', 'excelHtml5', 'pdfHtml5', 'csvHtml5'
            ]
        });

</script>

<script type="text/javascript">
    $('.search').select2();
    $(".dtPicker").datepicker({ dateFormat: 'dd/mm/yy' });


</script>