﻿@model IEnumerable<mLender.Models.LoanApplication>


@{
    ViewBag.Title = "Member Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<style type="text/css">
    td {
        white-space: nowrap;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<h4 style="text-align:center">Loans for:<strong> @ViewBag.member</strong></h4>

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

<p>
    @Html.ActionLink("New Loan", "create", new { }, new { @class = "btn btn-sm btn-success glyphicon  glyphicon-plus New_loan_button", @style = "color:white" })

</p>
<div class="panel panel-default  col-md-10">
    <div class="bootstrap-admin-panel-content">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped table-responsive" id="memberLoan_details">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("#Loan No")
                        </th>

                        <th>
                            @Html.DisplayName("Application Date")
                        </th>
                        <th>
                            @Html.DisplayName("Loan")
                        </th>
                        <th>
                            @Html.DisplayName("Amount")
                        </th>
                        <th>
                            @Html.DisplayName("Period")
                        </th>

                        <th>
                            @Html.DisplayName("Status")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.loan_number)
                        </td>

                        <td>
                            @item.application_date.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.loan_code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.applied_amount)
                        </td>
                        <td>
                            @item.repay_period.ToString()
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.loan_status)
                        </td>
                        <td>
                            @Html.ActionLink("Collateral", "collateral", new { id = item.loan_number },
                                new { @class = "btn btn-sm btn-primary glyphicon-white btn_collateral" })

                            @Html.ActionLink("Approve", "#", new { },
                            new
                            {
                                @class = "btn btn-sm btn-info glyphicon  approve_link",
                                @style = "color:white",
                                @id = "approve"
                            })
                            @Html.ActionLink("Effect", "#", new { /* id=item.PrimaryKey */ }, new
                            {
                                @class = " btn btn-sm btn-success btn_effectLoan"
                            })
                            @Html.ActionLink("Details", "details", new { id = item.loan_number }, new
                           {
                               @class = " btn btn-sm btn-warning glyphicon btn_LoanDetails"
                           })
                            @Html.ActionLink("Statement", "LoanStatement", new { id = item.loan_number }, new
                         {
                             @class = " btn btn-sm btn-default btn_LoanStatement"
                         })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCollateral" width="100%" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    @Html.Partial("_LoanApproval", Model)
                </div>
                <div></div>
                <ul></ul>
                <h4 class="modal-title w-100 font-weight-bold">Loan Collateral</h4>

            </div>
            <div class="modal-body mx-3">

                <div class="floatleft">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Name</label>

                        <input type="text" id="name" class="form-control validate collateral ">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">ID No</label>
                        <input type="text" id="IDNo" class="form-control validate collateral ">

                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Item Name</label>
                        <input type="text" id="itemname" class="form-control validate collateral">

                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Item Code</label>

                        <input type="text" id="itemcode" class="form-control validate collateral">
                    </div>
                </div>

                <div class="floatright">


                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Location</label>
                        <input type="text" id="Location" class="form-control validate collateral">

                    </div>
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">Description</label>
                        <input type="text" id="Description" class="form-control validate collateral">

                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Item Value</label>

                        <input type="number" id="itemValue" class="form-control validate collateral">
                    </div>
                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Net Value</label>
                        </div>
                        <div>
                            <input type="number" id="netvalue" class="form-control validate collateral">

                        </div>
                    </div>

                    <button id="submitCollateral" class="btn btn-lg btn-info">Save</button>

                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center" style="margin-bottom:30%">
                <div>
                    <table class="table table-striped table-bordered" id="collateral_table">
                        <tr>
                            <th>ID Number</th>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Amount</th>

                        </tr>

                    </table>
                    <div>
                        <div class="input-sm" style="text-align:right">Guaranteed Balance:<span id="guarantee_balance"></span></div>

                    </div>
                </div>

                @*<button id="submitCollateral" class="btn btn-deep-orange">Save</button>*@
            </div>
        </div>
    </div>
</div>


<!--Approve Loans-->
<div class="modal fade" id="modalApprovalForm" width="100%" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header text-center">

                <div>
                    @Html.Partial("_LoanApproval", Model)
                </div>
                <div></div>
                <ul></ul>
                <h4 class="modal-title w-100 font-weight-bold">Loan Approval</h4>

            </div>
            <div class="modal-body mx-3">

                <div class="floatleft">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Applied Amount</label>

                        <input type="number" readonly="readonly" id="applied_approved_amount" class="form-control validate approve ">
                    </div>
                    <div class="form-group hidden">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">Same amount as Applied?</label>
                        <input type="checkbox" id="chkAmount">
                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Approved Amount</label>

                        <input type="number" id="approvedAmount" class="form-control validate approve">
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Appraisal Date</label>

                        <input id="appraisaldate" placeholder="Enter Appraisal Date" onblur="(this.type='Text')"
                               class="form-control validate dtPicker approve">
                    </div>
                </div>

                <div class="floatright">


                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Period(M)</label>

                        <input type="number" readonly="readonly" id="applied_approvedPeriod_form" class="form-control validate approve">
                    </div>
                    <div class="form-group hidden">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">Same Period as Applied?</label>
                        <input type="checkbox" id="chkPeriod">
                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Approved Period(M)</label>

                        <input type="number" id="approvedPeriod" class="form-control validate approve">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>

                        <label data-error="wrong" data-success="right" for="orangeForm-pass"></label>

                        <button id="approveButton_form" class="btn btn-primary form-control" style="margin-top:20px">Approve</button>

                    </div>

                    <div class="form-group hidden">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Outstanding Loan?</label>
                        </div>
                        <div>
                            <input type="checkbox" id="chkdeductloan">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                @*<button id="approveButton_form" class="btn btn-deep-orange">Approve</button>*@
            </div>
        </div>
    </div>
</div>
<!--end of lon approval-->
<!--begin Effecting Loan-->

<div class="modal fade" id="modalEffectLoanForm" width="100%" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    @Html.Partial("_LoanApproval", Model)
                </div>
                <div></div>
                <ul></ul>
                <h4 class="modal-title w-100 font-weight-bold">Loan Approval</h4>

            </div>
            <div class="modal-body mx-3">

                <div class="floatleft">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Approved Amount</label>

                        <input type="number" readonly="readonly" id="appliedAmount_form" class="form-control validate effect ">
                    </div>
                    <div class="form-group hidden">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Outstanding Loan?</label>
                            <input type="checkbox" id="chkdeductloan">
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct loan insurance?</label>
                            <input type="checkbox" id="chkloanInsurance">
                            <input class="form-control" value="0" type="number" readonly="readonly" id="loan_insurance">
                        </div>
                    </div>

                    <div class="form-group hidden">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Loan Processing Fee?</label>
                            <input type="checkbox" id="chkloanfee">
                            <input class="form-control " value="0" type="number" min="0" readonly="readonly" id="loan_fee">
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Net Amount</label>
                            <input class="form-control effect" value="0" type="number" min="0" readonly="readonly" id="net_amount">
                        </div>
                    </div>

                </div>
                <div class="floatright">

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Effect Date</label>

                        <input id="effectdate" placeholder="Select Effect Date" onblur="(this.type='Text')"
                               class="form-control validate dtPicker effect">
                        <p class="help-block" style="color:blue">*This is used for loan repayment</p>
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("account_charged",
                                                        (SelectList)ViewBag.accounts, "--Select Account--",
                                                        htmlAttributes: new
                                                        {
                                                            required = "required",
                                                            @class = "form-control chosen mandatory loan effect",
                                                            @id = "credit_account"
                                                        })
                    </div>


                    <div class="form-group hidden">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Grace period</label>
                            <input class="form-control effect" value="0" type="number" readonly="readonly" id="grace_period">
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Other loan Charges?</label>
                            <input type="checkbox" id="chkloancharges">
                            <input class="form-control effect" value="0" type="number" min="0" readonly="readonly" id="loan_charges">
                        </div>
                    </div>
                    @*<button id="effectButton_form" class="btn btn-primary form-control">Process</button>*@
                    <button id="effectButton_form" class="btn btn-primary form-control" style="margin-top:20px">Effect</button>


                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                @*<button id="approveButton_form" class="btn btn-deep-orange">Process</button>*@
            </div>
        </div>
    </div>
</div>


<!--End Effecting Loan-->
<!--scripts-->
<!--data tables-->
<script type="text/javascript">

    $('#memberLoan_details').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null, null]
        });

</script>

<!--get loan number-->
<script type="text/javascript">
    function getLoanNumber(e) {
        var loan_no = $.trim($(e).closest("tr").find("td").first().text());
        return loan_no;
    }
</script>
<script type="text/javascript">
    $('.New_loan_button').click(function (e) {

        //e.preventDefault();
        var member_number = getMemberNo();

    })
</script>

<!--get loan number first row to use it to find member no-->
<script type="text/javascript">
    function getLoanNumberFirstRow() {
        var loan_no = $.trim($('#memberLoan_details').find("td:first").text());
        return loan_no;

    }
</script>
<script type="text/javascript">
    function getMemberNo() {
        var loan_no = getLoanNumberFirstRow();

        var member_number = $.ajax({
            url: "/loanapplication/GetMemberNo",
            data: { loan_no },
            async: false
        }).responseText;
        return JSON.parse(member_number);


    }
</script>
<!--save loan Collateral -->
<script type="text/javascript">

    function saveCollateral() {
        var loanNo = document.getElementsByClassName("loan_no")[0].innerHTML
        $.ajax({
            type: "POST",
            url: "/loanapplication/save_collateral?loan_no =" + loanNo,
            data: {
                loan_number: loanNo,
                code: $("#itemcode").val(),
                CategoryCode: $("#itemname").val(),
                Description: $("#Description").val(),
                Location: $("#Location").val(),
                CollateralValue: $("#itemValue").val(),
                AmountGuaranteed: $("#netvalue").val(),
                OwnerIDNo: $("#IDNo").val(),
                Owner: $("#name").val(),




            },
            success: function (data) {
                swal({
                    title: "Loan Collateral",
                    type: "info",
                    text: "Loan Collateral saved successfully",
                    showConfirmButton: true,
                    confirmButtonText: "Ok",
                    closeOnConfirm: true

                }).then(() => { add_collateral_row(loanNo) });
            }


        });
    }
</script>

<!--Add table when clicked, dynamically  -->

<script type="text/javascript">
    function update_collateral_table() {
        $("#collateral_table >tr>td").detach();//remove whatever in the table

    }

</script>
<!--Guaranteed Value should not be greater than collateral value-->
<script type="text/javascript">
    function checkGuaranteedValuevsCollateralValue() {
        var CollateralValue = parseFloat($("#itemValue").val());
        var AmountGuaranteed = parseFloat($("#netvalue").val());

        if (CollateralValue >= AmountGuaranteed) {

            return true
        }
        else {
            swal({
                title: "Loan Collateral",
                type: "info",
                text: 'Amount Guaranteed cannot be more than the Value of the Item!',
                showConfirmButton: true,
                confirmButtonText: "Ok",
                closeOnConfirm: true

            })
            return false
        }
    }

</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields(cls) {
        cls = "." + cls + ""


        var anyFieldIsEmpty = $(cls).filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            swal("", "Fill all the necessary fields", "error");
            return false;
        } else {
            return true;
        }


    }
</script>
<!--save collateral-->

<script type="text/javascript">
    $('.btn_collateral').click(function (e) {
        //e.preventDefault();
        var loanNo = getLoanNumber(this);

        //$("#modalCollateral").modal('show');


        populatePartialForm(loanNo, 0);
        populateApprovalForm(0);
        update_collateral_table();
        add_collateral_row(loanNo);



    })
</script>
<!--remove the appended collateral row-->
<script type="text/javascript">
    function removeGuarantorRow(val) {
        $(val).closest("tr").remove();
    }

</script>
<!--submit collateral-->
<script type="text/javascript">
    $('#submitCollateral').click(function () {
        var cls = "collateral"
        var loanNo = document.getElementsByClassName("loan_no")[1].innerHTML;


        if (checkEmptyFields(cls)) {
            if (checkGuaranteedValuevsCollateralValue()) {
                saveCollateral();
                update_collateral_table()
                //add_collateral_row(loanNo);

            }
        }
    })
</script>

<script type="text/javascript">
    function populatePartialForm(loan_no, index) {

        document.getElementsByClassName("loan_no")[index].innerHTML = loan_no

    }
</script>

<!--when loan no changes populate the form-->
<script type="text/javascript">
    function populateApprovalForm(index) {
        var loan_no = document.getElementsByClassName("loan_no")[index].innerHTML;
        console.log(loan_no);
        const url = '/loanapplication/getmember_details_approval/?loan_no=' + loan_no;
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {

                //console.log(entry);
                //alert(JSON.stringify(entry[1].Key))


                let TotalDeposit = entry[8].Value;

                let AmountGuaranteed = entry[9].Value;

                let FreeDeposit = entry[11].Value;

                let loan_name = entry[5].Value;

                let applied_amount = entry[6].Value;

                let member_number = entry[0].Value;

                let fullname = entry[1].Value;

                let loanperiod = entry[7].Value;

                let company = entry[10].Value;

                let max_qualified = entry[12].Value

                let loan_balance = entry[13].Value

                //get table data cells
                var totaldepositcell = document.getElementsByClassName("totaldeposit")[index];
                var freedepositcell = document.getElementsByClassName("freedeposit")[index];
                var fullnamecell = document.getElementsByClassName("member_name")[index];
                var membernocell = document.getElementsByClassName("member_no")[index];
                var appliedAmountcell = document.getElementsByClassName("appliedAmount")[index];
                var loanNamecell = document.getElementsByClassName("loan_name")[index];
                var AmountGuaranteedcell = document.getElementsByClassName("AmountGuaranteed")[index];
                var loanperiodcell = document.getElementsByClassName("period")[index];
                var companyCell = document.getElementsByClassName("company")[index];
                var maxQualifiedCell = document.getElementsByClassName("AmountQualified")[index];
                var loanbalanceCell = document.getElementsByClassName("outstandingloan")[index];





                //append the results to table
                totaldepositcell.innerHTML = TotalDeposit;
                freedepositcell.innerHTML = FreeDeposit;
                fullnamecell.innerHTML = fullname;
                membernocell.innerHTML = member_number;
                appliedAmountcell.innerHTML = applied_amount;
                loanNamecell.innerHTML = loan_name;
                AmountGuaranteedcell.innerHTML = AmountGuaranteed;
                loanperiodcell.innerHTML = loanperiod;
                companyCell.innerHTML = company;
                maxQualifiedCell.innerHTML = max_qualified;
                loanbalanceCell.innerHTML = loan_balance;

                //append the applied amount and period to form
                $("#appliedAmount_form").val(applied_amount)
                $("#appliedPeriod_form").val(loanperiod)
                $('#net_amount').val(applied_amount);


            });
        });
        return false;


    }
</script>
<!--Add Rows to Collateral Table Dynamically-->
<script type="text/javascript">
    function add_collateral_row(loan_no) {

        $("#collateral_table tr td").detach();//remove whatever in the table

        //var loan_no = document.getElementsByClassName("loan_no")[0].innerHTML;
        const url = '/loanapplication/getLoancollateral/?loan_no=' + loan_no;
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {

                //console.log(entry);
                let guarantorIDNumber = entry[1].Value
                let guarantorName = entry[2].Value
                let itemCode = entry[3].Value
                let itemName = entry[4].Value
                let itemValue = entry[8].Value

                $("#collateral_table").append(
                    ('<tr><td class="hidden">' + itemCode + ' </td><td>' + guarantorIDNumber + ' </td><td>' + guarantorName + '</td > <td>' + itemName + '</td><td>' + itemValue + '</td><td><input type="button" class="btnDeleteCollateral" onclick="DeleteCollateral(this)" value="Remove"></td></tr > '));


            })
        })


    }



</script>

<!--remove COLLATERAL button-->
<script type="text/javascript">
    function DeleteCollateral(code) {

        var id = $.trim($(code).closest("tr").find("td").first().text());
        const url = '/loanapplication/delete_collateral/?item_code=' + id;


        $.getJSON(url, function () {

            removeGuarantorRow(code);

        })
    }

</script>

<script type="text/javascript">
    $('.approve_link').click(function (e) {

        e.preventDefault();

        var loanNumber = getLoanNumber(this);

        var loan_status = LoanStatus(loanNumber)

        var issecured = IsLoanSecured(loanNumber);

        console.log('loan is secured? ' + issecured);

        if (loan_status == 'Pending') {
            e.preventDefault();

            if (issecured) {

                $('#modalApprovalForm').modal('show');

                approveLoan(loanNumber);
            }
            else {
                e.preventDefault();
                swal("", "The loan is not fully guaranteed", "info");

                return false;
            }

        }
        else {
            e.preventDefault();
            swal("", "The loan is already " + loan_status, "info");

            return false;
        }


    })
</script>

<!--check loan status-->
<script type="text/javascript">
    function LoanStatus(loanNumber) {
        var value = $.ajax({
            url: "/loanapplication/checkLoanStatus",
            data: { loan_no: loanNumber },
            async: false
        }).responseText;
        return JSON.parse(value);
    }
</script>

<script type="text/javascript">
    function approveLoan(loanNumber) {
        var index = 1
        populatePartialForm(loanNumber, index);
        populateApprovalForm(index);
        populateApprovalFormFields(index)




    }
</script>
<!--populate the form-->
<script type="text/javascript">
    function populateApprovalFormFields(index) {
        var timeout = 1000;
        setTimeout(function () {
            var amount = (document.getElementsByClassName("appliedAmount")[index].innerText);
            $('#applied_approved_amount').val(amount);
            $('#approvedAmount').val(amount);

            var period = (document.getElementsByClassName("period")[index].innerText);
            $('#applied_approvedPeriod_form').val(period);
            $('#approvedPeriod').val(period);


        }, timeout

        )
    }
</script>

<script type="text/javascript">
    $('#approveButton_form').click(function () {
        if (checkEmptyFields("approve")) {
            loanAppraisal();
        }
    })
</script>
<!--save appraisal details-->
<script type="text/javascript">

    function loanAppraisal() {
        var index = 1;
        var loanNumber = document.getElementsByClassName("loan_no")[index].innerText
        $.ajax({
            type: "POST",
            url: "/loanapplication/Approve?loan_no=" + loanNumber,
            data: {

                loan_no: loanNumber,
                appraisal_date: $("#appraisaldate").val(),
                approved_amount: $("#approvedAmount").val(),
                approved_period: $("#approvedPeriod").val(),
                deduct_oustanding_loan: $("#chkdeductloan").val()

            },
            success: function (succes_message) {
                swal("", succes_message, "info").then(() => { location.reload() });

                $('#modalRegisterForm').modal('toggle'); //or  $('#IDModal').modal('hide');
                return false;
            }


        });
    }
</script>

<script type="text/javascript">
    $("#appraisaldate").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });
    $("#effectdate").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });
</script>

<!--check if loan is secured-->
<script type="text/javascript">
    function IsLoanSecured(loanNumber) {
        var value = $.ajax({
            url: "/loanapplication/LoanIsSecured",
            data: { loan_no: loanNumber },
            async: false
        }).responseText;

        return JSON.parse(value);
    }
</script>

<script type="text/javascript">
    $('.btn_effectLoan').click(function (e) {
        e.preventDefault();
        var loanNo = getLoanNumber(this);
        var loan_status = LoanStatus(loanNo)
        if (loan_status == 'approved') {
            $("#modalEffectLoanForm").modal('show');
            populatePartialForm(loanNo, 2);
            populateApprovalForm(2);
        }
        else {
            swal("", "Only Pending approved loans can be effected", "warning")
        }


    })
</script>


<script type="text/javascript">
    $(".chosen").select2({ width: '100%' });
</script>

<!--submit the details to create voucher for payment-->
<script type="text/javascript">
    $('#effectButton_form').click(function () {
        var cls = "effect";
        if (checkEmptyFields(cls)) {
            effectLoan()
        }
    })
</script>

<script type="text/javascript">
    function effectLoan() {
        var loanNo = document.getElementsByClassName("loan_no")[2].innerText
        console.log('hi there ' + loanNo);
        setTimeout(function () {

            $.ajax({
                type: "POST",
                url: '/loanapplication/effectLoan?loan_no=' + loanNo,
                data: {

                    effect_date: $("#effectdate").val(),
                    loan_no: loanNo,
                    member_number: document.getElementsByClassName("member_no")[2].innerText,
                    net_amount: $("#net_amount").val(),
                    processing_fee: $("#loan_fee").val(),
                    insurance_premium: $("#loan_insurance").val(),
                    other_loan_charges: $("#loan_charges").val(),
                    credit_account: $('#credit_account').val()


                },
                success: function (succes_message) {
                    swal("", succes_message, "info").then(() => { location.reload() });
                    return false;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                    swal("", errorThrown, "error");

                }


            });
        }, 200)

    }
</script>

<script type="text/javascript">
    $('.btn_LoanDetails').click(function (e) {
        //e.preventDefault();
    });
</script>
