﻿@model IEnumerable<mLender.Models.LoanApplication>

@{
    ViewBag.Title = "Loan Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")


    @TempData["guarantor_success"]
    @TempData.Peek("guarantor_success")

    @TempData["guarantor_error"]
    @TempData.Peek("guarantor_error");
}
<style type="text/css">
    #loan_applied td {
        white-space: nowrap;
    }
</style>


<style type="text/css">
    table, th {
        border: 0.5px solid black;
    }

        table th, td {
            font-size: 11px;
        }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
<!--end of datatable-->
<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<!--end dropdown-->
<!--Message Toast scripts-->
<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>


<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


@*<div class="panel-heading " style="text-align:center"><h4>Applied Loans</h4></div>*@


<div>
    @Html.ActionLink("Apply", "Create", new { },
    new { @class = "btn btn-small btn-success glyphicon  glyphicon-plus", @style = "color:white" })

    <h4 style="text-align:center">Applied Loans</h4>
</div>

@*@Html.DropDownList("loan_code",
    (SelectList)ViewBag.loanTypes, "--Select Loan Product--",
    htmlAttributes: new
    {
        @class = "chosen",
        @id = "loancode",
        onchange = "return get_individual_loan(this.val)"
    })*@


@if (TempData["Success"] != null)
{
    <div class="alert alert-success bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        <p>@TempData["Success"]</p>
    </div>
}
else if (@TempData["Error"] != null)
{
    <div class="alert alert-danger bootstrap-admin-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error</h4>
        <p>@TempData["Error"]</p>
    </div>
}
<div class="panel panel-default col-md-10">
    <div class="bootstrap-admin-panel-content ">
        <table class="table table-striped" id="loan_applied">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("#Loan Number")
                    </th>
                    <th>
                        @Html.DisplayName("Member")
                    </th>
                    <th>
                        @Html.DisplayName("Application Date")

                    </th>
                    <th>
                        @Html.DisplayName("Loan Type")

                    </th>
                    <th>
                        @Html.DisplayName("Amount Applied")

                    </th>
                    <th>
                        @Html.DisplayName("Period(M)")

                    </th>
                    <th>
                        @Html.DisplayName("Loan Status")

                    </th>

                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="loan_number_row">
                        @Html.DisplayFor(m => item.loan_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.member_number)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.application_date)*@
                        @item.application_date.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loan_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.applied_amount)
                    </td>
                    <td>
                        @string.Format("{0:0 }", item.repay_period)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loan_status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "#", new { id = item.loan_number },
                        new
                             {
                                 @class = "btn btn-sm btn-primary glyphicon glyphicon-pencil glyphicon-white editloan",
                            data_toggle = "modal",
                            data_target = "#modalEditLoanForm"
                             })
                        @*@Html.ActionLink("Approve", "#", new { },
                        new
                        {
                            @class = "btn btn-sm btn-info glyphicon glyphicon-ok glyphicon-white approve_link",
                            @style = "color:white",
                            //data_toggle = "modal",
                            //data_target = "#modalApprovalForm",
                            @id = "approve"
                        })*@

                        @*@Html.ActionLink("Cancel", "Delete", new { id = item.loan_number },
                       new { @class = "btn btn-sm btn-warning glyphicon glyphicon-remove glyphicon-white cance_button", @style = "color:white", id = "cance_button" })*@

                        @*@Html.ActionLink("Guarantor", "#", new { id = item.loan_number }, new
                        {
                            id = "guarantorButtorn",
                           @class = "approveButton btn btn-sm btn-primary glyphicon glyphicon-plus glyphicon-plus guarantorButtorn",
                           data_toggle = "modal",
                            data_target = "#modalGuarantorForm"
                        })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<!--add guarantor to loan-->
<div class="modal fade" id="modalGuarantorForm" width="100%" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div>
                    @Html.Partial("_LoanApproval", Model)
                </div>
                <div></div>
                <ul></ul>
                <h4 class="modal-title w-100 font-weight-bold">Loan Guarantors</h4>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3" style="height:160px">

                <div class="floatleft" style="height:120px">
                    <div class="md-form mb-4">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Guarantor</label>
                        <div>
                            @Html.DropDownList("member_number",
                               (SelectList)@ViewBag.members_list, "--Select Member--",
                               htmlAttributes: new
                               {
                                   @class = "chosen guarantor",
                                   @id = "memberno"

                                    })
                        </div>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Date</label>

                        <input id="guarantordate" placeholder="Enter  Date" onblur="(this.type='Text')"
                               class="form-control validate dtpicker guarantor">
                    </div>
                </div>

                <div class="floatright" style="height: 120px ">


                    <div class="md-form mb-4">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Amount Guaranteed</label>

                        <input type="number" min="1" id="amountGuaranteed" class="form-control validate guarantor number">
                    </div>
                </div>
                <div class="form-group mb-5">
                    <button id="addGuarantor_form" class="btn btn-deep-orange pull-right">Add Guarantor</button>

                </div>
            </div>


            <div class="modal-footer d-flex justify-content-center" style="height:250px;overflow:auto;">
                <div id="guarantor_table">
                    <table class="table table-condensed table-striped table-bordered  table-responsive" id="guarantor_tbl">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Member No</th>
                                <th>Guarantor</th>
                                <th> Amount</th>

                            </tr>
                        </thead>
                        <tbody id="table_body" style="color:black">
                            <tr>
                                <td id="date_added"></td>
                                <td id="member_number"></td>
                                <td id="name"></td>
                                <td id="amount"></td>

                            </tr>

                        </tbody>
                    </table>
                    <div>
                        Total
                        <input readonly="readonly" id="total_guaranteed" style="margin-bottom:10px" />
                    </div>
                    <div></div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal form for editng loan-->
<div class="modal fade" id="modalEditLoanForm" width="100%" role="dialog" aria-labelledby="editModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div id="edit" style="visibility:inherit">
                    @{ Html.RenderPartial("_LoanApproval", Model); }

                </div>
                <div></div>
                <ul></ul>
                <h4 class="modal-title w-100 font-weight-bold">Edit Loan Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                <div class="floatleft" style="height:150px">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Applied Amount</label>

                        <input type="number" min="1" id="appliedAmount_form" class="form-control validate editLoan number">
                    </div>


                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Application Date</label>

                        <input id="application_dateForm" placeholder="Enter Appraisal Date" onblur="(this.type='Text')"
                               class="form-control validate dtpicker editLoan">
                    </div>
                </div>

                <div class="floatright">


                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Period(M)</label>

                        <input type="number" id="appliedPeriod_form" class="form-control validate editLoan number">
                    </div>



                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center" style="height:170px">
                <button id="btn_edit_loan" class="btn btn-deep-orange">Edit Loan</button>
            </div>
        </div>
    </div>
</div>
<!--end of edit loan form-->
<!--Approve Loans-->
<div class="modal fade" id="modalApprovalForm" width="100%" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div>
                    @Html.Partial("_LoanApproval", Model)
                </div>
                <div></div>
                <ul></ul>
                <h4 class="modal-title w-100 font-weight-bold">Loan Approval</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                <div class="floatleft">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Applied Amount</label>

                        <input type="number" readonly="readonly" id="applied_approved_amount" class="form-control validate approve ">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">Same amount as Applied?</label>
                        <input type="checkbox" id="chkAmount">
                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Approved Amount</label>

                        <input type="number" id="approvedAmount" class="form-control validate approve">
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Appraisal Date</label>

                        <input id="appraisaldate" placeholder="Enter Appraisal Date" onblur="(this.type='Text')"
                               class="form-control validate dtPicker approve">
                    </div>
                </div>

                <div class="floatright">


                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Period(M)</label>

                        <input type="number" readonly="readonly" id="applied_approvedPeriod_form" class="form-control validate approve">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">Same Period as Applied?</label>
                        <input type="checkbox" id="chkPeriod">
                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Approved Period(M)</label>

                        <input type="number" id="approvedPeriod" class="form-control validate approve">
                    </div>
                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Outstanding Loan?</label>
                        </div>
                        <div>
                            <input type="checkbox" id="chkdeductloan">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="approveButton_form" class="btn btn-deep-orange">Approve</button>
            </div>
        </div>
    </div>
</div>
<!--end of lon approval-->


<script type="text/javascript">
    $('#btn_edit_loan').on('click', function (e) {
        var cls = "editLoan"
        if (checkEmptyFields(cls)) {
            editLoan();
        }
    })

</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields(cls) {
        cls = "." + cls + ""
        console.log(cls);
        var anyFieldIsEmpty = $(cls).filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");

            return false;
        }
        else {

            return true;
        }





    }
</script>
<script type="text/javascript">
    function get_individual_loan() {
        var loantype = document.getElementById("loancode")
        var loan_code = loantype.options[loantype.selectedIndex].value
        //alert(loan_code);

        $.ajax({
            type: "GET",
            url: "/loanapplication/get_appliedLoans_per_Type/?loan_code=" + loan_code,
            dataType: "JSON",
            data: {},
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                //alert("success")
                window.location.href = "/loanapplication/index/?loan_code=" + loan_code;
                //console.log(data)
            },
            error: function () {
                alert("There is an error!")
            }



        });
    }
</script>

<script type="text/javascript">
    $("#memberno").select2({ width: '94%' });
    $('#loancode').select2({});

    $(".dtpicker").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });

    $(".dtpicker").each(function () {
        $(this).DisablePastingAndEdit();
    })
</script>
<!--load guarantor view-->
<script type="text/javascript">

    $(".guarantorButtorn").on('click', function (e) {

        var index = 0;
        var loan_no = getLoanNo(this, index);
        populatePartialForm(loan_no, index);
        populateApprovalForm(index);
        populateGuarantorsTable(this);
        e.preventDefault();
    })

</script>
<!--edit loan application-->
<script type="text/javascript">
    $(".editloan").on('click', function (e) {
        if (window.confirm("Are you sure?")) {
            var index = 1;
            var loan_no = getLoanNo(this, index);
            populatePartialForm(loan_no, index);

            populateApprovalForm(index);
            e.preventDefault();
        }
        else {
            closeModalForm();
        }

    })
</script>

<script type="text/javascript">
    $('.cance_button').on('click', function (e) {
        if (window.confirm("Are you sure you want to cancel this loan?")) {
            var index = 1;
            var loan_no = getLoanNo(this, index);
            cancelLoan(loan_no);
            e.preventDefault();

        }
        else {
            e.preventDefault();

        }



    })
</script>

<script type="text/javascript">
    $(".number").each(function () {
        $(this).onlyNumb();
    })
</script>

<!--append loanno to loanno field when clicked-->
<script type="text/javascript">

    function getLoanNo(code, index) {
        var text = $(code).closest("tr").find("td:first-child").text();


        loan_no = text.replace(/\s+/g, '');

        return loan_no;
    }


</script>
<!---populate partial form-->
<script type="text/javascript">
    function populatePartialForm(loan_no, index) {

        document.getElementsByClassName("loan_no")[index].innerHTML = loan_no

    }
</script>

<!--when loan no changes populate the form-->
<script type="text/javascript">
    function populateApprovalForm(index) {
        var loan_no = document.getElementsByClassName("loan_no")[index].innerText;

        const url = '/loanapplication/getmember_details_approval/?loan_no=' + loan_no;
        $.getJSON(url, function (data) {

            $.each(data, function (key, entry) {

                let TotalDeposit = entry[8].Value;

                let AmountGuaranteed = entry[9].Value;

                let FreeDeposit = entry[11].Value;

                let loan_name = entry[5].Value;

                let applied_amount = entry[6].Value;

                let member_number = entry[0].Value;

                let fullname = entry[1].Value;

                let loanperiod = entry[7].Value;

                let company = entry[10].Value;

                let max_qualified = entry[12].Value

                let loan_balance = entry[13].Value

                //get table data cells
                var totaldepositcell = document.getElementsByClassName("totaldeposit")[index];
                var freedepositcell = document.getElementsByClassName("freedeposit")[index];
                var fullnamecell = document.getElementsByClassName("member_name")[index];
                var membernocell = document.getElementsByClassName("member_no")[index];
                var appliedAmountcell = document.getElementsByClassName("appliedAmount")[index];
                var loanNamecell = document.getElementsByClassName("loan_name")[index];
                var AmountGuaranteedcell = document.getElementsByClassName("AmountGuaranteed")[index];
                var loanperiodcell = document.getElementsByClassName("period")[index];
                var companyCell = document.getElementsByClassName("company")[index]
                var maxQualifiedCell = document.getElementsByClassName("AmountQualified")[index];
                var loanbalanceCell = document.getElementsByClassName("outstandingloan")[index]





                //append the results to table
                totaldepositcell.innerHTML = TotalDeposit;
                freedepositcell.innerHTML = FreeDeposit;
                fullnamecell.innerText = fullname;
                membernocell.innerHTML = member_number;
                appliedAmountcell.innerHTML = applied_amount;
                loanNamecell.innerHTML = loan_name;
                AmountGuaranteedcell.innerHTML = AmountGuaranteed;
                loanperiodcell.innerHTML = loanperiod;
                companyCell.innerHTML = company;
                maxQualifiedCell.innerHTML = max_qualified;
                loanbalanceCell.innerHTML = loan_balance;

                //append the applied amount and period to form

                var amount = parseFloat(appliedAmountcell.innerText);
                var period = parseFloat(loanperiodcell.innerText);
                $("#appliedAmount_form").val(amount)
                $("#appliedPeriod_form").val(period)

            });
        });
        return false;


    }
</script>
<!--insert to db-->
<!--save the details-->
<script type="text/javascript">
    $('#addGuarantor_form').click(function () {
        var cls = "guarantor"
        //cls = "." + cls + ""


        //if (checkEmptyFields(cls)) {
        $.ajax({
            type: 'POST',
            url: "/guarantor/add",
            data: {
                loan_no: document.getElementsByClassName("loan_no")[0].innerText,
                guarantor_number: $('#memberno').val(),
                amount_guaranteed: $('#amountGuaranteed').val(),
                date_added: $('#guarantordate').val()
            },
            success: function (success_message) {
                swal("", success_message, "info");

                //reload the guarantors
                var loan = document.getElementsByClassName("loan_no")[0].innerText;
                populateGuarantorsTable(loan);
                emptyInputFields(cls);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: " + textStatus);
                alert("Error: " + errorThrown);
            }
        })



        //}
    });
</script>
<!--edit Loan-->
<script type="text/javascript">
    function editLoan() {
        var loan_no = document.getElementsByClassName("loan_no")[1].innerText;
        $.ajax({
            type: 'POST',
            url: '/loanapplication/edit/?id' + loan_no,
            data: {
                id: loan_no,
                applied_amount: $('#appliedAmount_form').val(),
                application_date: $('#application_dateForm').val(),
                repay_period: $('#appliedPeriod_form').val()
            },
            success: function (success_message) {
                bootoast.toast({
                    message: success_message,
                    position: 'top',
                    animationDuration: 900,
                });
                emptyInputFields("editLoan")
                //window.location.href = "/loanapplication/index";
                reloadCurrentPage();

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: " + textStatus);
                alert("Error: " + errorThrown);
            }
        })
    }

</script>

<!--rELOAD CURRENT PAGE-->
<script type="text/javascript">
    function reloadCurrentPage() {
        setTimeout(function () {
            window.location.href = window.location.href;
        }, 1500)
    }
</script>

<!--load the table with guarantors for the loan-->
<script type="text/javascript">
    function populateGuarantorsTable(loan_no) {
        var loan_no = document.getElementsByClassName("loan_no")[0].innerText;
        $('#guarantor_tbl>tbody>tr').detach();

        const url = '/guarantor/List_Guarantor/?loan_no=' + loan_no;

        var total_guaranteed = 0
        $.getJSON(url, function (mydata) {
            var body = "<tr>";

            if ($.trim(mydata) != '') {

                $.each(mydata, function (key, entry) {


                    let date_added = new Date(parseInt(entry.date_added.substr(6))).toLocaleDateString('en-GB');
                    let guarantor_number = entry.guarantor_number;
                    let guaranteed_amount = parseFloat(entry.amount_guaranteed);
                    let guarantor_name = entry.Name;



                    body += "<td id='date_added'>" + date_added + "</td>";
                    body += "<td id='member_number'>" + guarantor_number + "</td>";
                    body += "<td id='name'>" + guarantor_name + "</td>";
                    body += "<td id='amount'>" + guaranteed_amount.toLocaleString('en') + "</td>";
                    body += "<td><input class='delete' value='Delete' type='button'></td>";

                    body += "</tr>";

                    total_guaranteed += parseFloat(guaranteed_amount);


                })



            }
            else {
                body += "<td style='text-align:center;color:red' colspan='5'>" + "No Guarantors Found for this Loan." + "</td>"
                $('#total_guaranteed').val(total_guaranteed)
            }
            $('#guarantor_tbl').append(body);

            total_guaranteed = parseFloat(total_guaranteed).toLocaleString('en-GB')
            $('#total_guaranteed').val(total_guaranteed)



        })
    }

</script>

<script type="text/javascript">
    function closeModalForm() {
        //reload page
        window.location.href = window.location.href;
    }
</script>

<!--delete guarantor-->
<script type="text/javascript">
    function deleteGuarantor(memberno) {
        var guarantor = $(memberno).closest("tr").find("td").eq(1).text(); //use eq() func whic is indexed based...

        guarantor = guarantor.replace(/\s+/g, '');


        $.ajax({
            type: 'POST',
            url: '/guarantor/Delete_Guarantor',
            dataType: "text",
            data: {
                loan_no: document.getElementsByClassName("loan_no")[0].innerHTML,
                guarantor_number: guarantor
            },
            success: function (success_message) {
                swal("", success_message, "info");
                //reload the guarantors TABLE
                var loan = document.getElementsByClassName("loan_no")[0].innerText;
                populateGuarantorsTable(loan);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //alert("Status: " + textStatus);
                alert("Error: " + errorThrown);
            }


        })


    }
</script>
@*delete guarantor*@


<!--Delete loan loan-->
<script type="text/javascript">
    function cancelLoan(loan_no) {
        $.ajax({
            type: 'POST',
            url: 'loanapplication/delete',
            data: { loan_no: loan_no },
            success: function (success_message) {
                bootoast.toast({
                    message: success_message,
                    position: 'top',
                    animationDuration: 900,
                });

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //alert("Status: " + textStatus);
                alert("Error: " + errorThrown);
            }
        });
    }
</script>
<!--end delete loan-->

<script type="text/javascript">
    $('#guarantor_tbl').on('click', '.delete', function (e) {
        if (window.confirm("Are you sure you want to delete?")) {
            deleteGuarantor(this)

        }
    })
</script>

<!--empty input fields-->
<script type="text/javascript">
    function emptyInputFields(cls) {
        cls = "." + cls + ""

        $(cls).each(function () {
            $(this).val('');
        })

    }
</script>
<!--data tables-->
<script type="text/javascript">

    $('#loan_applied').DataTable();


</script>
<!--Select 2-->


<script type="text/javascript">
    function getLoanNumber(t) {
        return $.trim($(t).parent().siblings(":first").text());
    }
</script>

<script type="text/javascript">
    $('.approve_link').on('click', function (e) {

        e.preventDefault();

        var loanNumber = getLoanNumber(this);

        var loan_status = LoanStatus(loanNumber)

        if (loan_status == 'Pending') {
            e.preventDefault();
            $('#modalApprovalForm').modal('show');
            approveLoan(loanNumber);
        }
        else {
            e.preventDefault();
            swal("", "The loan is already " + loan_status, "info");

            return false;
        }


    })
</script>
<script type="text/javascript">
    function approveLoan(loanNumber) {
        var index = 2;
        populatePartialForm(loanNumber, index);
        populateApprovalForm(index);
        populateApprovalFormFields();




    }
</script>
<!--populate the form-->
<script type="text/javascript">
    function populateApprovalFormFields() {
        var index = 2;
        var timeout = 1000;
        setTimeout(function () {
            var amount = (document.getElementsByClassName("appliedAmount")[index].innerText);
            $('#applied_approved_amount').val(amount);

            var period = (document.getElementsByClassName("period")[index].innerText);
            $('#applied_approvedPeriod_form').val(period);


        }, timeout

        )
    }
</script>
<!--for approval form-->
<!--checkbox for period applied-->
<script type="text/javascript">
    $('#chkPeriod').change(function () {
        if (this.checked) {
            var returnVal = confirm("Are you sure?");

            console.log(returnVal)
            if (returnVal) {
                var period = $("#applied_approvedPeriod_form").val();

                $(this).prop("checked", returnVal);

                $("#approvedPeriod").val(period)
                $("#approvedPeriod").attr('disabled', true);


            }
            else {
                $("#approvedPeriod").val()
                $("#approvedPeriod").attr('enabled', true);

                $(this).prop("checked", returnVal);



            }

        }

        else {
            $("#approvedPeriod").val()
            $("#approvedPeriod").attr('disabled', false);
            $(this).prop("checked", returnVal);


        }

    });

    $('#chkAmount').change(function () {
        if (this.checked) {
            var returnVal = confirm("Are you sure?");

            console.log(returnVal)
            if (returnVal) {
                var amount = $("#applied_approved_amount").val();

                $(this).prop("checked", returnVal);

                $("#approvedAmount").val(amount)
                $("#approvedAmount").attr('disabled', true);


            }
            else {
                $("#approvedAmount").val()
                $("#approvedAmount").attr('enabled', true);

                $(this).prop("checked", returnVal);

            }

        }

        else {
            $("#approvedAmount").val("")
            $("#approvedAmount").attr('disabled', false);
            $(this).prop("checked", returnVal);


        }

    });
</script>
<script type="text/javascript">
    $("#appraisaldate").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy', changeYear: true, changeMonth: true });
</script>

<script type="text/javascript">
    $('#approveButton_form').click(function () {
        if (checkEmptyFields()) {
            loanAppraisal();
        }
    })
</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".approve").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>
<!--save appraisal details-->
<script type="text/javascript">

    function loanAppraisal() {
        var index = 2;
        var loanNumber = document.getElementsByClassName("loan_no")[index].innerText
        $.ajax({
            type: "POST",
            url: "/loanapplication/Approve?loan_no=" + loanNumber,
            data: {

                loan_no: loanNumber,
                appraisal_date: $("#appraisaldate").val(),
                approved_amount: $("#approvedAmount").val(),
                approved_period: $("#approvedPeriod").val(),
                deduct_oustanding_loan: $("#chkdeductloan").val()

            },
            success: function (succes_message) {
                swal("", succes_message, "info");

                $('#modalRegisterForm').modal('hide'); //or  $('#IDModal').modal('hide');
                return false;
            }


        });
    }
</script>

<!--check loan status-->
<script type="text/javascript">
    function LoanStatus(loanNumber) {
        var value = $.ajax({
            url: "/loanapplication/checkLoanStatus",
            data: { loan_no: loanNumber },
            async: false
        }).responseText;
        return JSON.parse(value);
    }
</script>