﻿@model IEnumerable<mLender.Models.LoanStatement>

@{
    ViewBag.Title = "LoanStatement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}


<style type="text/css">
    .heading {
        white-space: nowrap;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/Scripts/bootstrap.js"></script>

<!--sel<!--select 2 dropdown search-->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>

<script src="~/Scripts/MyCustomScripts.js"></script>

<h4 style="text-align:center">LoanStatement</h4>
<h5 style="text-align:center">@Session["membername"]</h5>
<h5 style="text-align:center">Loan: @ViewBag.loanNo</h5>
<hr />

<p style="float:right">
    @*@Html.ActionLink("Print Statement", "loanstatementperloan", new { },
        new { @class = "btn btn-sm btn-default glyphicon  glyphicon-print ", @id = "loan_statement", @role = "button", @style = "color:black" })*@

    <input id="loan_statement" class="btn btn-deep-orange glyphicon glyphicon-arrow-left" value="View PDF" type="button" />

    @Html.ActionLink("Apply Loan", "Create", new { }, new { @class = "btn btn-sm btn-success glyphicon  glyphicon-plus New_loan_button", @style = "color:white" })

</p>

<div style="float:left">
    <label for="lonno">LoanNo:</label>

    @Html.TextBox("Loanno", "", htmlAttributes: new
     {
     @class = "loanNumber loanStatement",
     required = "required",
     placeholder = "Loan Number",
     id = "loan_no",
     @Value = @ViewBag.loanNo,
     autocomplete = "off",
     Readonly = "readonly"


     })
</div>
<label for="date">From Date:</label>
@*<input type="date" id="startDate" placeholder="Start date" name="startDate">*@
@Html.TextBox("startDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
{
@class = "dtPicker loanStatement",
required = "required",
placeholder = "Enter start Date",
id = "start_date",
autocomplete = "off"

})
<label for="endDate">End Date:</label>
@Html.TextBox("endDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
          {
              @class = "dtPicker loanStatement",
              required = "required",
              placeholder = "Enter end Date",
              id = "end_date",
              autocomplete = "off"
          })


<button id="btn_generateStatement" class="btn btn-sm  btn-default" type="submit">Generate</button>

<div class="panel panel-default  col-md-10">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        Repay Date
                    </th>
                    <th>
                        Principal
                    </th>
                    <th>
                        Interest
                    </th>
                    <th>
                        Penalty

                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Balance
                    </th>

                </tr>
            </thead>
            <tbody id="memberLoan_statement">
            </tbody>

        </table>
    </div>
</div>
<script type="text/javascript">
    function generateStatement() {

        const url = "@Url.Action("getStatement","LoanApplication")";
        var params ={
            loan_no: $("#loan_no").val(),
            fromDate: $("#start_date").val(),
            toDate: $("#end_date").val()
        }

        $.getJSON(url, params, function (data) {
            var body = "<tr>";

            $.each(data, function (key, entry) {

                let repaydate = entry[0].Value;
                let principal = entry[1].Value;
                let interest = parseFloat(entry[2].Value).toLocaleString();
                let penalty = parseFloat(entry[3].Value);
                let total = parseFloat(entry[4].Value);
                let balance = parseFloat(entry[5].Value);

                body += "<td>" + repaydate + "</td>";
                body += "<td>" + principal + "</td>";
                body += "<td>" + interest + "</td>";
                body += "<td>" + penalty + "</td>";
                body += "<td>" + total + "</td>";
                body += "<td>" + balance + "</td>";

                body += "</tr>";
            })
            $('#memberLoan_statement').append(body)
        })
    }
</script>

<!--prepopulate date fields-->
<script type="text/javascript">
    $(document).ready(function () {
        var now = new Date().toLocaleDateString('en-GB');
        $('.dtPicker').val(now);

    })

</script>
<script type="text/javascript">
    $('#btn_generateStatement').click(function () {

        if (checkEmptyFields()) {

            $('#memberLoan_statement tr td').detach()
            generateStatement();
        }

    });
</script>

<script type="text/javascript">
    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".loanStatement").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            swal("", "Fill all the  fields", "error");
            return false;
        } else {
            return true;
        }


    }
</script>
<script type="text/javascript">
    $(".dtPicker").datepicker({ dateFormat: 'dd/mm/yy' });

</script>


<!--generate loan number-->
<script type="text/javascript">
    function generateLoanStatement() {

        $.ajax({
            
            success: function (data) {
             window.location = "/report/LoanStatementPerLoan?loan_no="+'@ViewBag.loanNo'+'&fromDate='+$("#start_date").val()+'&toDate='+$("#end_date").val()

            }


        })

    }
</script>
<script type="text/javascript">
    $('#loan_statement').click(function (e) {
        generateLoanStatement();
        //e.preventDefault();

    })
</script>
