﻿
@{
    ViewBag.Title = "Loan Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_LeftMenu")
<h4 style="text-align:center">
    Data Analysis Page

</h4>
<label for="startDate">From Date:</label>

@Html.TextBox("startDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
    {
        @class = "dtPicker cashbook",
        required = "required",
        placeholder = "Enter start Date",
        id = "start_date",
        autocomplete = "off"

    })
<label for="toDate">End Date:</label>
@Html.TextBox("toDate", "", "{0:dd/MMM/yyyy}", htmlAttributes: new
          {
              @class = "dtPicker cashbook",
              required = "required",
              placeholder = "Enter end Date",
              id = "end_date",
              autocomplete = "off"
          })





<label>
</label>
<button id="btn_loananalysis" class="btn  btn-default" type="submit">Generate</button>
<hr />

<style type="text/css">
    #loan_per_branch {
        /*width: 35%;*/
        /*height: 250px;*/
        float: right;
        margin: 0 auto;
        margin-left: 17%;
        /*margin-top: 10%;*/
        width: 450px;
        height: 250px;
    }

    #loanissuedvsrepaid {
        width: 37%;
        /*height: 100px;*/
        float: left;
        margin: 0 auto;
        margin-top: 4%;
        margin-left: 17%;
    }

    #loanChart_analysis {
        width: auto;
        float: left;
        /*height: auto;*/
        margin-left: 17%;
        clear: both;
        margin-top: -22%;
    }

    #piechart {
        float: right;
        margin: 0 auto;
        margin-top: 4%;
    }

    #interestperbranch {
        float: right;
        margin: 0 auto;
        margin-top: 12%;
    }

    .home {
        width: 100%;
    }
</style>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>


<body>
    <div class="col-md-2" id="loan_per_branch"></div>
    <div class="col-md-2" id="loanChart_analysis"></div>
    <div id="loanissuedvsrepaid"></div>
    <div id="piechart"></div>
    <div id="interestperbranch"></div>

</body>


<!--bEGIN of LOAN PER BRANCH analysis-->

<script type="text/javascript">
    function LoanPerBranchAnalysis() {

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    var barData;
    var branch;
    var loantype;
    var amount;
    const url = "/loanapplication/LoanPerBranchAnalysis";
    var params = {
        startDate: $('#start_date').val(),
        toDate: $('#end_date').val(),
    }
    function drawChart() {

        $.getJSON(url, params, function (data) {

            var barData = new google.visualization.DataTable()


            barData.addColumn('string', 'Branch');

            barData.addColumn('number', 'Total');
            //barData.addColumn('string', 'Loan Type');



            for (var i = 0; i < data.length; i++) {
                amount = (data[i].applied_amount)
                //loantype = data[i].loan_code
                branch = data[i].branch

                //console.log(data)

                barData.addRow([branch, amount]);
            }

            var options = {
                title: "Loan Issued  Per Branch",
                width: 400,
                height: 250,
                bar: { groupWidth: "50%" },
                legend: { position: "none" },
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('loan_per_branch'));

            chart.draw(barData, options);
        })
    }
    }

</script>

<!--end of LOAN PER BRANCH analysis-->
<!--Begin Loan issued out Analysis-->
<script type="text/javascript">
    function LoanProductAnalysis() {


    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var barData;
        var loantype;
        var amount;
        const url = "/loanapplication/LoanProductAnalysis";
        var params = {
            startDate: $('#start_date').val(),
            toDate: $('#end_date').val(),
        }

        $.getJSON(url, params, function (data) {

            barData = new google.visualization.DataTable();

            barData.addColumn('string', 'loan_code');
            barData.addColumn('number', 'Total');


            for (var i = 0; i < data.length; i++) {
                amount = parseInt(data[i].applied_amount)
                loantype = data[i].loan_code

                //console.log(data)

                barData.addRow([loantype, amount]);
            }


            var options = {
                title: "Loan Issued  Analysis(General)",
                width: 400,
                height: 250,
                bar: { groupWidth: "50%" },
                legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("loanChart_analysis"));
            chart.draw(barData, options);
        })
        }
    }

</script>
<!--End Loan issued out Analysis-->
<!--begin loan vs paid-->
<script type="text/javascript">
    function LoanIssuedvsPaidAnalysis() {


    google.charts.load('current', { 'packages': ['corechart'] });

    function drawChart() {
        var barData;
        var branch;
        var appliedamount;
        var paidamount;
        const url = "/loanapplication/LoanIssuedvsPaidAnalysis";
        var params = {
            startDate: $('#start_date').val(),
            toDate: $('#end_date').val(),
        }

        $.getJSON(url, params, function (data) {
            barData = new google.visualization.DataTable();

            barData.addColumn('string', 'Branch');
            barData.addColumn('number', 'Issued');
            barData.addColumn('number', 'Paid');


            for (var i = 0; i < data.length; i++) {
                appliedamount = parseInt(data[i].applied_amount)
                paidamount = parseInt(data[i].paid_amount)
                branch = data[i].branch

                //console.log(data)

                barData.addRow([branch, appliedamount, paidamount]);
            }

            var columnRange = barData.getColumnRange(1);

            var options = {
                title: 'Loan Issed Vs Paid',
                width: 560,
                height: 380,
                bar: { groupWidth: "50%" },
                //legend: { position: "none" },
                vAxis: {
                    title: 'Amount',
                    viewWindow: {
                        min: columnRange.min
                    }
                },
                hAxis: {
                    title: 'Product',
                },
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('loanissuedvsrepaid'));
            chart.draw(barData, options);
        })

    }
    google.charts.setOnLoadCallback(drawChart);
    }

</script>

<!--end loan vs paid > -->
<!--begin Member Count analysis graph-->
<script type="text/javascript">
    function memberCountAnalysis() {

    google.charts.load('current', { 'packages': ['corechart'] });

    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var pieData;
        var branch;
        var count;
        const url = "/loanapplication/memberCountAnalysis";

        var params = {
            startDate: $('#start_date').val(),
            toDate: $('#end_date').val(),
        }

        $.getJSON(url, params, function (data) {

            pieData = new google.visualization.DataTable();

            pieData.addColumn('string', 'Branch');
            pieData.addColumn('number', 'count');


            for (var i = 0; i < data.length; i++) {
                count = parseInt(data[i].member_number)
                branch = data[i].branch_id

                pieData.addRow([branch, count]);
            }

            var options = {
                title: 'Branch Members Analysis',
                width: 400,
                height: 240

            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(pieData, options);
        })
    }
    }

</script>
<!--end of Member Gender analysis-->
<!--begin loan interest analysis graph-->
<script type="text/javascript">
    function generateInterestAnalysis() {

    google.charts.load('current', { 'packages': ['corechart'] });

    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var pieData;
        var branch;
        var total;
        const url = "/loanapplication/LoanInterestPerBranchAnalysis";

        var params = {
            startDate: $('#start_date').val(),
            toDate: $('#end_date').val(),
        }

        $.getJSON(url, params, function (data) {
            pieData = new google.visualization.DataTable();

            pieData.addColumn('string', 'Branch');
            pieData.addColumn('number', 'total');


            for (var i = 0; i < data.length; i++) {
                branch = data[i].branch
                total = parseInt(data[i].applied_amount)

                pieData.addRow([branch, total]);
            }

            var options = {
                title: 'Loan Interest Branch Analysis',
                width: 500,
                height: 250

            };

            var chart = new google.visualization.PieChart(document.getElementById('interestperbranch'));
            chart.draw(pieData, options);
        })
        }
    }


</script>
<!--end of interest per branch analysis-->
<script type="text/javascript">
    $(".dtPicker").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy', changeYear: true, changeMonth: true });
</script>

<script type="text/javascript">
    function pageLoad() {
        generateInterestAnalysis();
        memberCountAnalysis();
        LoanProductAnalysis();
        LoanPerBranchAnalysis();
        LoanIssuedvsPaidAnalysis();
    }
</script>
<script type="text/javascript">

    $('#btn_loananalysis').click(function () {
        setTimeout(function () {
            generateInterestAnalysis();
            memberCountAnalysis();
            LoanProductAnalysis();
            LoanPerBranchAnalysis();
            LoanIssuedvsPaidAnalysis();

        }, 200);

    })
</script>
<script type="text/javascript">
    window.onload = pageLoad();
</script>

<script type="text/javascript">
    function generateInterestAnalysisi() {
        $.ajax({
            type:'post',
            url:'/LoanApplication/LoanInterestPerBranchAnalysis',
            data: {
                startDate: $('#start_date').val(),
                toDate: $('#end_date').val(),
            }
            ,
            success: function (success_message) {
                swal("", success_message, "info")


            },
            error: function (request, status, error) {
                swal("", error, "error");
            }
        })
    }
</script>