﻿@model mLender.Models.trialBalance

@{
    ViewBag.Title = "Loan Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<style type="text/css">
    table {
        table-layout: fixed;
        width: 300px;
    }

    .totals {
        font-weight: 800;
        color: gray;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>



<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--sweet message-->
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>


<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>

@Html.AntiForgeryToken()


<h4 style="text-align:center">Loan Schedule</h4>



<form class="form-inline" action="loanschedule" method="post">



    <label for="date">Loan Amount:</label>
    @*<input type="date" id="startDate" placeholder="Start date" name="startDate">*@
    @Html.TextBox("loanamount", "", htmlAttributes: new
{
    @class = " loanschedule",
    required = "required",
    placeholder = "Enter loan amount",
    id = "loan_amount",
    autocomplete = "off",
    type = "number"


})
    <label for="endDate">Repay Period:</label>
    @Html.TextBox("loanamount", "", htmlAttributes: new
{
    @class = " loanschedule",
    required = "required",
    placeholder = "Enter loan repay period",
    id = "repay_period",
    autocomplete = "off",
    type = "number"


})
    <label for="endDate">Interest Rate:</label>
    @Html.TextBox("interestrate", "", htmlAttributes: new
{
    @class = " loanschedule",
    required = "required",
    placeholder = "Enter interest Rate",
    id = "interest_rate",
    autocomplete = "off",
    type = "number"


})
    <label for="endDate">Repay Method</label>
    @Html.DropDownList("Repaymethod", new List<SelectListItem>

                  {
                     new SelectListItem{ Text="Select Repay Method", Value = "" },
                     new SelectListItem{ Text="Reducing Balance", Value = "Reducing Balance" },
                     new SelectListItem{ Text="Amortization", Value = "Amortized" },
                     new SelectListItem{ Text="Straight Line", Value = "Straight Line" }

                  }, htmlAttributes: new
                                                {
                                                    required = "required",
                                                                    @class = "search loanschedule",
                                                                    @id = "repay_method",

                                           })
    <label>
    </label>
    <button class="btn btn-sm" id="btn_loanschedule" type="submit">Generate</button>
    @*<input id="btn_loanschedule" class="btn btn-deep-orange glyphicon glyphicon-arrow-left" value="Generate" type="button" />*@

</form>
<hr />

<a href="@Url.Action("loanschedule", "report")" class="btn btn-default btn-sm" id="btn_generateSchedule">
    Show report
    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
</a>
<div class="panel panel-default col-md-10 col-lg-10 col-xs-10">
    <div class="bootstrap-admin-panel-content">
        <table data-toggle="table" class="table table-striped table-condensed table-responsive table-bordered table-hover " id="loanschedule_details">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Week")
                    </th>


                    <th>
                        @Html.DisplayName("Pay Date")

                    </th>
                    <th>
                        @Html.DisplayName("Installment")
                    </th>
                    <th>
                        @Html.DisplayName("Principal")
                    </th>
                    <th>
                        @Html.DisplayName("Interest")
                    </th>
                    <th>
                        @Html.DisplayName("**Balance")
                    </th>


                </tr>
            </thead>
            <tr></tr>
            @*<tr>
                    <td id="transaction_date"></td>
                    <td id="transaction_description"></td>
                    <td id="debit"></td>
                    <td id="credit"></td>

                </tr>*@
            <tfooter>
                @*<tr>
                        <td>hh</td>
                        <td id="total_debit"></td>
                        <td id="total_credit"></td>

                    </tr>*@
            </tfooter>
        </table>
        <table class="table table-striped table-condensed table-responsive table-bordered table-hover" id="summary_table">
            <thead>
                <tr>
                    <th>
                    </th>


                    <th>

                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>

                </tr>
            </thead>
            <tr></tr>
        </table>

        @*<span class="TBtotal">9000</span>*@

    </div>
</div>



<script type="text/javascript">

    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".loanschedule").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            swal("", "Fill all the necessary fields", "info");

            return false;
        } else {
            return true;
        }


    }

    function generateLoanSchedule() {
        $('#loanschedule_details >tbody>tr').detach();//clear content of the table before reloading the content
        $('#summary_table >tbody>tr').detach();//clear content of the table before reloading the content

        const url = '/LoanApplication/generate_loanschedule';
        var params = {
            loanamount: $('#loan_amount').val(),
            interestrate: $('#interest_rate').val(),
            repayperiod: $('#repay_period').val(),
            repaymethod: $('#repay_method').val(),

        }



        var total_principal = 0;
        var total_interest = 0;
        var total_recovery = 0;


        $.getJSON(url, params, function (data) {

            $.each(data, function (key, entry) {
                //console.log(entry)

                let month = entry[0].Value;

                let pay_date = entry[1].Value

                pay_date = new Date(parseInt(pay_date.substr(6))).toLocaleDateString('en-GB');

                let installment = parseFloat(entry[2].Value).toLocaleString('en')
                let principal = parseFloat(entry[3].Value).toLocaleString('en')
                let interest = parseFloat(entry[4].Value).toLocaleString('en')
                let balance = parseFloat(entry[5].Value).toLocaleString('en')





                var body = "<tr>";

                body += "<td>" + month + "</td>";
                body += "<td class='debit'>" + pay_date + "</td>";
                body += "<td class='credit'>" + installment + "</td>";
                body += "<td class='credit'>" + principal + "</td>";
                body += "<td class='credit'>" + interest + "</td>";
                body += "<td class='credit'>" + balance + "</td>";




                body += "</tr>";


                $('#loanschedule_details').append(body);

                total_principal += parseFloat(entry[3].Value);
                total_interest += parseFloat(entry[4].Value);
                total_recovery += parseFloat(entry[2].Value);

                //$('#loanschedule_details tbody:last-child').append('<tr><td>'+1+'</td><td>'+9000+'</td><td>'+090+'</td></tr>');

            });


            total_principal = total_principal.toLocaleString('en')
            total_interest = total_interest.toLocaleString('en')
            total_recovery = total_recovery.toLocaleString('en')

            $('#summary_table').append('<tr><td class="totals">' + 'Total' + '</td><td><td class="totals">' + total_recovery + '</td></td><td class="totals">' + total_principal + '</td><td class="totals">' + total_interest + '</td></td><td></tr>');

        })

    }
    //$('#loanschedule_details').DataTable();

    $('#btn_loanschedule').click(function (e) {
        e.preventDefault();

        if (checkEmptyFields()) {
            generateLoanSchedule();

        }
    })

    $('#btn_generateSchedule').click(function (e) {


        checkEmptyFields();

    })

    $('.search').chosen();
</script>

