﻿@model IEnumerable<mLender.Models.LoanDefaulters>

@{
    ViewBag.Title = "LoanDefaulters";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<style type="text/css">
    #loandefaulters td {
        white-space: nowrap;
        font-size: 90%;
    }
</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>



<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>



<h4 style="text-align:center">Loan Defaulters</h4>
<div style="float:left;font-weight:bold;font-size:large" >Branch: @ViewBag.branchName</div>

<p style="float:right">

    <label for="branch_id">Branch:</label>
    @Html.DropDownList("branch_id", (SelectList)ViewBag.branch, "---select Branch A/C--",
                              htmlAttributes: new
                                   {
                                  @class = "search",
                                  @id = "branch",

                              })



    <button class="btn btn-lg btn-sm  btn-primary" type="submit" onclick="location.href='@Url.Action("Loandefaulters", "Loanapplication")?branch=' + $('#branch').val()"
            id="save_loan">
        Generate
    </button>

</p>
<div class="panel panel-default  col-md-10">
    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped table-responsive" id="loandefaulters">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Loan No")
                    </th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateIssued)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayName("Period(Months)")

                    </th>
                    <th>
                        @Html.DisplayName("Defaulted(Months)")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Paid)
                    </th>
                    <th>
                        @Html.DisplayName("Last Date")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.loanno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fullname)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.DateIssued)*@
                        @item.DateIssued.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @string.Format("{0:0 }", item.Period)

                    </td>
                    <td>
                        @string.Format("{0:0 }", item.defaultedPeriod)

                    </td>
                    <td>
                        @string.Format("{0:0 }", item.Paid)


                    </td>
                    <td>
                        @item.LastDate.ToShortDateString()

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>

<!--scripts-->
<!--data tables-->
<script type="text/javascript">

    $('#loandefaulters').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null, null, null, null]
        });

</script>

<script type="text/javascript">
    $('.search').select2();
</script>