﻿@model IEnumerable<mLender.Models.LoanApplication>

@{
    ViewBag.Title = "PendingLoans";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

}

<style type="text/css">
    #loan_pending td {
        /*white-space: nowrap;*/
        word-wrap: break-word;
    }

    .loan_pending {
        display: block !important;
        table-layout: fixed;
    }
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
<!--end of datatable-->
<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<!--end dropdown-->
<!--Message Toast scripts-->

<!--sweet alert for message display-->
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>
<h3 style=" text-align: center">PendingLoans</h3>

<p>
    @Html.ActionLink("Loan Application", "index",new { },
    new { @class = "btn btn-small btn-default glyphicon  glyphicon-arrow-left", @style = "color:black" })
</p>
<div class="table-responsive">
    <div class="panel panel-default  col-md-10 col-sm-6 col-sm-4 col-xs-9">
        <div class="bootstrap-admin-panel-content ">
            <table class="table table-striped" id="loan_pending">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("#Loan No")
                        </th>
                        <th>
                            @Html.DisplayName("Member")
                        </th>
                        <th>
                            @Html.DisplayName("Application Date")
                        </th>

                        <th>
                            @Html.DisplayName("Applied Amount")
                        </th>
                        <th>
                            @Html.DisplayName("Loan Type")

                        </th>
                        <th>
                            @Html.DisplayName("Repay Period")
                        </th>

                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.loan_number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.member_number)
                        </td>
                        <td>
                            @item.application_date.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.applied_amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.loan_code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.repay_period)
                        </td>

                        <td>
                            @Html.ActionLink("Approve", "#", new { },
                                    new
                                         {
                                             @class = "btn btn-info glyphicon glyphicon-ok glyphicon-white approve_link",
                                        @style = "color:white",
                                        data_toggle = "modal",
                                        data_target = "#modalApprovalForm",
                                             @id = "approve"
                                         })
                            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<!--data tables-->
<script type="text/javascript">

    $('#loan_pending').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null, null, null, null, null]
        });


</script>
<!--Approve Loans-->
<div class="modal fade" id="modalApprovalForm" width="100%" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div>
                    @Html.Partial("_LoanApproval", Model)
                </div>
                <div></div>
                <ul></ul>
                <h4 class="modal-title w-100 font-weight-bold">Loan Approval</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                <div class="floatleft">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Applied Amount</label>

                        <input type="number" readonly="readonly" id="applied_approved_amount" class="form-control validate approve ">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">Same amount as Applied?</label>
                        <input type="checkbox" id="chkAmount">
                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Approved Amount</label>

                        <input type="number" id="approvedAmount" class="form-control validate approve">
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Appraisal Date</label>

                        <input id="appraisaldate" placeholder="Enter Appraisal Date" onblur="(this.type='Text')"
                               class="form-control validate dtPicker approve">
                    </div>
                </div>

                <div class="floatright">


                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Period(M)</label>

                        <input type="number" readonly="readonly" id="applied_approvedPeriod_form" class="form-control validate approve">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right">Same Period as Applied?</label>
                        <input type="checkbox" id="chkPeriod">
                    </div>
                    <div class="md-form mb-4 numeric">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Approved Period(M)</label>

                        <input type="number" id="approvedPeriod" class="form-control validate approve">
                    </div>
                    <div class="form-group">
                        <div>
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Deduct Outstanding Loan?</label>
                        </div>
                        <div>
                            <input type="checkbox" id="chkdeductloan">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="approveButton_form" class="btn btn-deep-orange">Approve</button>
            </div>
        </div>
    </div>
</div>
<!--end of lon approval-->
<script type="text/javascript">
    $('.approve_link').on('click', function (e) {

        var loanNumber = getLoanNumber(this);

        //console.log(loanNumber);
        approveLoan(loanNumber);
        e.preventDefault();

    })
</script>

<script type="text/javascript">
    function getLoanNumber(t) {
        return $.trim($(t).parent().siblings(":first").text());
    }
</script>
<script type="text/javascript">
    function approveLoan(loanNumber) {
        console.log('i')
        var index = 0;
        populatePartialForm(loanNumber, index);
        populateApprovalForm(index);
        populateApprovalFormFields(index);




    }
</script>
<!--populate the form-->
<script type="text/javascript">
    function populateApprovalFormFields(index) {
        var timeout = 1000;
        setTimeout(function () {
            var amount = (document.getElementsByClassName("appliedAmount")[index].innerText);
            $('#applied_approved_amount').val(amount);

            var period = (document.getElementsByClassName("period")[index].innerText);
            $('#applied_approvedPeriod_form').val(period);


        }, timeout

        )
    }
</script>
<!---populate partial form-->
<script type="text/javascript">
    function populatePartialForm(loan_no, index) {

        document.getElementsByClassName("loan_no")[index].innerHTML = loan_no

    }
</script>

<!--when loan no changes populate the form-->
<script type="text/javascript">
    function populateApprovalForm(index) {
        var loan_no = document.getElementsByClassName("loan_no")[index].innerText;

        const url = '/loanapplication/getmember_details_approval/?loan_no=' + loan_no;
        $.getJSON(url, function (data) {

            $.each(data, function (key, entry) {

                let TotalDeposit = entry[8].Value;

                let AmountGuaranteed = entry[9].Value;

                let FreeDeposit = entry[11].Value;

                let loan_name = entry[5].Value;

                let applied_amount = entry[6].Value;

                let member_number = entry[0].Value;

                let fullname = entry[1].Value;

                let loanperiod = entry[7].Value;

                let company = entry[10].Value;

                let max_qualified = entry[12].Value

                let loan_balance = entry[13].Value

                //get table data cells
                var totaldepositcell = document.getElementsByClassName("totaldeposit")[index];
                var freedepositcell = document.getElementsByClassName("freedeposit")[index];
                var fullnamecell = document.getElementsByClassName("member_name")[index];
                var membernocell = document.getElementsByClassName("member_no")[index];
                var appliedAmountcell = document.getElementsByClassName("appliedAmount")[index];
                var loanNamecell = document.getElementsByClassName("loan_name")[index];
                var AmountGuaranteedcell = document.getElementsByClassName("AmountGuaranteed")[index];
                var loanperiodcell = document.getElementsByClassName("period")[index];
                var companyCell = document.getElementsByClassName("company")[index];
                var maxQualifiedCell = document.getElementsByClassName("AmountQualified")[index];
                var loanbalanceCell = document.getElementsByClassName("outstandingloan")[index];





                //append the results to table
                totaldepositcell.innerHTML = TotalDeposit;
                freedepositcell.innerHTML = FreeDeposit;
                fullnamecell.innerText = fullname;
                membernocell.innerHTML = member_number;
                appliedAmountcell.innerHTML = applied_amount;
                loanNamecell.innerHTML = loan_name;
                AmountGuaranteedcell.innerHTML = AmountGuaranteed;
                loanperiodcell.innerHTML = loanperiod;
                companyCell.innerHTML = company;
                maxQualifiedCell.innerHTML = max_qualified;
                loanbalanceCell.innerHTML = loan_balance;

                //append the applied amount and period to form

                var amount = parseFloat(appliedAmountcell.innerText);
                var period = parseFloat(loanperiodcell.innerText);
                $("#appliedAmount_form").val(amount)
                $("#appliedPeriod_form").val(period)

            });
        });
        return false;


    }
</script>
<!--checkbox for period applied-->
<script type="text/javascript">
    $('#chkPeriod').change(function () {
        if (this.checked) {
            var returnVal = confirm("Are you sure?");

            console.log(returnVal)
            if (returnVal) {
                var period = $("#applied_approvedPeriod_form").val();

                $(this).prop("checked", returnVal);

                $("#approvedPeriod").val(period)
                $("#approvedPeriod").attr('disabled', true);


            }
            else {
                $("#approvedPeriod").val()
                $("#approvedPeriod").attr('enabled', true);

                $(this).prop("checked", returnVal);



            }

        }

        else {
            $("#approvedPeriod").val()
            $("#approvedPeriod").attr('disabled', false);
            $(this).prop("checked", returnVal);


        }

    });

    $('#chkAmount').change(function () {
        if (this.checked) {
            var returnVal = confirm("Are you sure?");

            console.log(returnVal)
            if (returnVal) {
                var amount = $("#applied_approved_amount").val();

                $(this).prop("checked", returnVal);

                $("#approvedAmount").val(amount)
                $("#approvedAmount").attr('disabled', true);


            }
            else {
                $("#approvedAmount").val()
                $("#approvedAmount").attr('enabled', true);

                $(this).prop("checked", returnVal);



            }

        }

        else {
            $("#approvedAmount").val("")
            $("#approvedAmount").attr('disabled', false);
            $(this).prop("checked", returnVal);


        }

    });
</script>
<script type="text/javascript">
    $("#appraisaldate").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy', changeYear: true, changeMonth: true });
</script>

<script type="text/javascript">
    $('#approveButton_form').click(function () {
        if (checkEmptyFields()) {
            var index = 0;

            loanAppraisal(index);
        }
    })
</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".approve").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>
<!--save appraisal details-->
<script type="text/javascript">

    function loanAppraisal(index) {
        var loanNumber = document.getElementsByClassName("loan_no")[index].innerText
        $.ajax({
            type: "POST",
            url: "/loanapplication/Approve?loan_no=" + loanNumber,
            data: {

                loan_no: loanNumber,
                appraisal_date: $("#appraisaldate").val(),
                approved_amount: $("#approvedAmount").val(),
                approved_period: $("#approvedPeriod").val(),
                deduct_oustanding_loan: $("#chkdeductloan").val()

            },
            success: function (succes_message) {
                swal("", succes_message, "info");



                $('#modalRegisterForm').modal('toggle'); //or  $('#IDModal').modal('hide');
                return false;
            }


        });
    }
</script>
