﻿@model mLender.Models.RegFeePolicy

@{
    ViewBag.Title = "Edit-Reg Fee Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />


<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


<h4 style="text-align:center">Edit Registration Fee Policy</h4>

@using (Html.BeginForm("edit", "regfeepolicy",
       new { ReturnUrl = ViewBag.Returnurl }, FormMethod.Post,
        new
        {
            @id = "regfeepolicy",
            @class = "bootstrap-admin-small-form "



        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @*<legend>Edit Reg Fee Policy</legend>*@

        <div class="editor-label">
            @Html.Label("Ledger Account")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.credit_account,
                                                (SelectList)ViewBag.revenue_account, "--Select Account--",
                                                htmlAttributes: new
                                                {
                                                    required = "required",
                                                    @class = "form-control ",
                                                    @id = "ledger_account"

                                                })
            @Html.ValidationMessageFor(model => model.credit_account)
        </div>

        <div class="editor-label">
            @Html.Label("Is Mandatory?")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mandatory_on_registration)
            @Html.ValidationMessageFor(model => model.mandatory_on_registration)
        </div>

        <div class="editor-label">
            @Html.Label("Can Be Recovered From Deposit")
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.recover_from_deposit, htmlAttributes: new { @id = "chk_recover_from_deposit", @class = "checkbox" })
            @Html.ValidationMessageFor(model => model.recover_from_deposit)
        </div>

        <div class="editor-label">
            @Html.Label("Can Be deducted From Loan?")
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.deduct_from_loan, htmlAttributes: new { @id = "chk_deduct_from_loan", @class = "checkbox" })
            @Html.ValidationMessageFor(model => model.deduct_from_loan)
        </div>

        <div class="editor-label">
            @Html.Label("Can Be Recovered From Check Off?")
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.recover_from_checkoff, htmlAttributes: new { @id = "chk_recover_from_checkoff", @class = "checkbox" })
            @Html.ValidationMessageFor(model => model.recover_from_checkoff)
        </div>

        <p>
            @*<button class="btn btn-lg btn-primary" type="button" value="Save" id="edit_regfee" />*@
            <input class="btn btn-lg btn-primary" type="submit" value="Save" />


        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!--make dropdown searchable-->
<script type="text/javascript">
    $("#ledger_account").select2();
</script>
<!--check box for recovering from disbursed loan-->
<script type="text/javascript">
    function checkCheckBoxes() {
        //A
        if ($('#chk_deduct_from_loan').is(':checked')) {
            console.log('loan');

            $(this).prop("checked", true);
            $("#chk_recover_from_deposit").attr({ 'disabled': true, 'checked': false });
            $("#chk_recover_from_checkoff").attr({ 'disabled': true, 'checked': false });

            console.log($("#chk_recover_from_deposit").is(':enabled'))

        }
        else if ($("#chk_recover_from_deposit").is(':checked')) {
            console.log('Deposit');
            $(this).prop("checked", true);
            $("#chk_recover_from_checkoff").attr({ 'disabled': true, 'checked': false });
            $('#chk_deduct_from_loan').attr({ 'disabled': true, 'checked': false });
        }
        else if ($("#chk_recover_from_checkoff").is(':checked')) {
            console.log('Deposit');
            $(this).prop("checked", true);
            $("#chk_recover_from_deposit").attr({ 'disabled': true, 'checked': false });
            $('#chk_deduct_from_loan').attr({ 'disabled': true, 'checked': false });
        } else {
            console.log('none');
            $('#chk_deduct_from_loan').removeProp('disabled', true);
            $("#chk_recover_from_deposit").removeProp('disabled', true);
            $("#chk_recover_from_checkoff").removeProp('disabled', true);
        }
    };
</script>
<!--Check checkboexes events-->
<script type="text/javascript">
    $(".checkbox").change(function () {
        console.log('hi')
        checkCheckBoxes();
    })
</script>