﻿@model IEnumerable<mLender.Models.MemberSummaryBalance>

@{
    ViewBag.Title = "Summary Balances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!--Data table refernces-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>


<fieldset>
    <legend style="text-align:center">Member Summary Balances</legend>
    @Html.ActionLink("Print", "summarybalancesReport","report", new { }, new { @class = "btn btn-sm btn-default glyphicon  glyphicon-print", @style = "color:black" })
    <div class="panel panel-default">
        <div class="bootstrap-admin-panel-content">
            <table class="table table-striped" id="my_dataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("#Member No")
                        </th>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th class="hidden">
                            @Html.DisplayName("Payroll No")
                        </th>
                        <th>
                            @Html.DisplayName("ID No")
                        </th>
                        <th class="hidden">
                            @Html.DisplayName("Savings")
                        </th>
                        <th class="hidden">
                            @Html.DisplayName("Share Capital")
                        </th>
                        <th class="hidden">
                            @Html.DisplayName("Deposits")
                        </th>
                        <th>
                            @Html.DisplayName("Loan Bal")
                        </th>
                        <th></th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.member_number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fullname)
                        </td>
                        <td class="hidden">
                            @Html.DisplayFor(modelItem => item.payroll_no)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idno)
                        </td>
                        <td class="hidden">
                            @Html.DisplayFor(modelItem => item.Savings)
                        </td>
                        <td class="hidden">
                            @Html.DisplayFor(modelItem => item.ShareCapital)
                        </td>
                        <td class="hidden">
                            @Html.DisplayFor(modelItem => item.Deposit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Loan)
                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>*@
                    </tr>
                }


            </table>
        </div>
    </div>
</fieldset>
<!--data tables-->
<script type="text/javascript">

    $('#my_dataTable').DataTable(
        {
            "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, "aoColumns": [
                null,
                null,
                null,null,null,null,null,null]
        });

</script>