﻿@model mLender.Models.summaryMemberStatement

@{
    /**/


    ViewBag.Title = "summaryStatement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!--choosen dropdown search-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<!--select 2 dropdown search-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
<!--Data table references-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />*@

<!--My custom scripts-->
<script type="text/javascript" src="~/Scripts/MyCustomScripts.js"></script>
<style type="text/css">


    /*.vertical,.lb {
        height: 10px;
        display: inline;
    }*/
    .member, .start_date, .end_date, .search_button, .vertical {
        float: left;
        /*display: inline;*/
        width: 210px;
    }

    #generate_statement {
        padding: 5px 12px;
        line-height: 37px;
    }

    legend {
        font-size: 12px;
    }

    .table1, .table2, .table3 {
        /*float: left;*/
        width: 700px;
        position: relative;
        font-size: 11px;
    }

    .statement-table {
        /*min-height: 180px;*/
        white-space: normal !important;
    }

    .product {
        font-weight: bold;
    }

    .getFixed {
        /*position: fixed;*/
        right: -15px;
        left: 150px;
        border-width: 0 0 1px;
        z-index: 9999;
        top: 50px;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
        pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
    }

    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }

    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width: inherit;
        max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
        height: inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all;
    }
</style>



@using (Ajax.BeginForm("summarystatement", "memberbalances", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "resultArea"
}))
{
    <fieldset style="height:500px">
        <div class="getFixed">
            <p style="font-family:Arial, Helvetica, sans-serif;font-size:large">Member Summary statement</p>
            <div>
                <div class="member">
                    <label class="lb">
                        @Html.Label("Member")
                    </label><br />
                    <div></div>

                    @Html.DropDownList("member_number", (SelectList)ViewBag.members_list, "---select Member--",
                                                          htmlAttributes:new {     required = "required",
                                                              @class = "form-control search statement",
                                                              @id = "member",

                                                          })
                </div>
            </div>
            <div class="start_date">
                <label>
                    @Html.Label("From")
                </label>
                @Html.TextBox("startDate", "{0:dd/MMM/yyyy}", htmlAttributes: new
                {
                    @class = "form-control dtPicker statement",
                    required = "required",
                    placeholder="Enter begining Date",
                    id = "start_date"
                })

            </div>
            <div class="end_date">
                <label>
                    @Html.Label("To")
                </label><br />
                @Html.TextBox("endDate", "{0:dd/MMM/yyyy}", htmlAttributes: new
           {
               @class = "form-control dtPicker statement",
               required = "required",
               placeholder="Enter end Date",
               id = "end_date"
               //@Value=@DateTime.Now
           })
            </div>
            <div class="search_button">
                <label>@Html.Label("")</label>
                @*<button id="process_receipt" class="btn btn-deep-orange" value="Process" type="button">ss</button>*@

                <div></div>
                <p>
                    <input class="btn btn-lg  btn-deep-orange" type="button" value="Generate"
                           id="generate_statement" />

                </p>


            </div>
            <hr style="clear:both;font-size:large" />

        </div>


        <div class="bootstrap-admin-panel-content   statement-table" style="height:auto">

            <table class="table1 table table-striped" id="summary_statement_deposit" style="position:relative;width:90%">

                <thead>
                    <tr style="color:blue">
                        <th>Type</th>
                        <th>Receipt Date</th>
                        <th>Amount Received</th>
                        <th>*Running Balance</th>
                    </tr>
                    <tr class="product">
                        <td>
                            <div>Deposit</div>
                        </td>
                        <td>
                            <div style="position:absolute;right:0" data-toggle="modal" data-target="#deposit_statement">
                                <button id="detailButton_form" class="btn btn-deep-orange">Deposit Details</button>
                            </div>
                        </td>
                    </tr>
                    @*<tr class="collapse out product" id="collapseme" data-toggle="collapse"><td><div>Should be collapsed</div></td></tr>*@
                </thead>
            </table>
            @*<br style="clear:both" />*@
            <table class="table2 table table-striped" id="summary_statement_savings" style="position:relative;width:90%">
                <thead>
                    <tr style="color:blue">
                        <th>Type</th>
                        <th>Receipt Date</th>
                        <th>Amount Received</th>
                        <th>*Running Balance</th>
                    </tr>
                    <tr class="product" data-toggle="collapse">
                        <td>
                            Savings
                        </td>
                    </tr>
                </thead>
            </table>
            <table class="table3 table table-striped" id="summary_statement_sharecapital" style="position:relative;width:90%">
                <thead>
                    <tr style="color:blue">
                        <th>Type</th>
                        <th>Receipt Date</th>
                        <th>Amount Received</th>
                        <th>*Running Balance</th>
                    </tr>
                    <tr class="product" data-toggle="collapse">
                        <td>
                            Share Capital
                        </td>
                    </tr>

                </thead>


            </table>
            <table class="table4 table table-striped" id="summary_statement_loans" style="position:relative;width:90%">

                <thead>
                    <tr style="color:blue">
                        <th>Type</th>
                        <th>Issued</th>
                        <th>Receipt Date</th>
                        <th>Amount Received</th>
                        <th>Principal</th>
                        <th>Interest</th>
                        <th>*Running Balance</th>
                    </tr>
                    <tr class="product">
                        <td>
                            Loan
                        </td>
                    </tr>
                </thead>
            </table>

        </div>


    </fieldset>

    <!--Modal-->
    <div class="modal fade" id="deposit_statement" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <div>
                            @Html.Partial("_MemberGeneralProfile", Model)

                        </div>
                        <div></div>
                        <ul></ul>
                        <h4 class="modal-title w-100 font-weight-bold">Deposit Statement</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">


                        <table class="table3 table table-striped" id="summary_statement_deposit_detailed" style="position:relative">

                            <thead>
                                <tr style="color:blue">
                                    <th>Receipt Date</th>
                                    <th>Narration</th>
                                    <th>Payment Mode</th>
                                    <th>Amount Received</th>
                                    <th>*Running Balance</th>
                                </tr>
                            </thead>
                            <tbody></tbody>


                        </table>


                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button id="printButton_form" class="btn btn-deep-orange">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal Form-->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!--search the dropdown using select 2-->
<script type="text/javascript">
    $('#member').select2();
    //$("#member").chosen({ no_results_text: "oops no record found matching the name:  " });

</script>
<script type="text/javascript">
    $(".dtPicker").datepicker({ dateFormat: 'dd/mm/yy' });
</script>
<!--validate start date and end date -->
<script type="text/javascript">
    function validateTwoDates() {
        var startDate = $('#start_date').val();
        var endDate = $('#end_date').val();
        var datevalue = $.trim($('#end_date').val()).length > 0;

        if ((startDate > endDate) & (datevalue)) {
            alert('Start Date cannot be greater than the End date!')

            //assign the end date to start date
            $('#end_date').val(startDate);
        }
    }
</script>
<script type="text/javascript">
    $('.dtPicker').each(function () {

        $(this).on('change', function () {
            validateTwoDates()

        })
    })
</script>
<!--loop to check if some fields are empty-->
<script type="text/javascript">
    function checkEmptyFields() {

        var anyFieldIsEmpty = $(".statement").filter(function () {
            return $.trim(this.value).length === 0;
        }).length > 0;

        if (anyFieldIsEmpty) {
            alert("Fill all the necessary fields");
            return false;
        } else {
            return true;
        }


    }
</script>
<script type="text/javascript">
    $('#generate_statement').click(function () {
        if (checkEmptyFields()) {
            generateStatement();
            $('.statement-table').show();

        }
    });
</script>
<!--get the results when clicked-->


<script type="text/javascript">
    function generateStatement() {

        //CLEAR THE TABLE FIRST
        $('.table >tbody>tr').detach();

        var member_number = $('#member').val();
        var firstDate = $('#start_date').val();
        var secondDate = $('#end_date').val();

        const url = 'http://localhost:1079/memberbalances/getSummary_statement?';

        $.getJSON(url, { member_number, firstDate, secondDate }, function (data) {

            $.each(data, function (key, entry) {

                var date = (entry[2].Value)
                var d = /\/Date\((\d*)\)\//.exec(date);
                date = new Date(+d[1]).toLocaleDateString('en-GB');



                let product = entry[0].Value;
                let Issued = entry[1].Value;
                let receipt_date = date;
                let amount_received = entry[3].Value;
                let principal = entry[4].Value;
                let interest = entry[5].Value;
                let Running_Balance = entry[6].Value;

                if (product == 'Deposit') {

                    $('#summary_statement_deposit').append('<tr><td>' + '' + '</td><td>' + receipt_date + '</td>+' +
                        '<td>' + amount_received + '</td><td >' + Running_Balance + '</td></tr>');


                }
                else if (product == 'Savings') {


                    $('#summary_statement_savings').append('<tr><td>' + '' + '</td><td>' + receipt_date + '</td>+' +
                        '<td>' + amount_received + '</td><td>' + Running_Balance + '</td></tr>');
                }
                else if (product == 'Share Capital') {
                    $('#summary_statement_sharecapital').append('<tr><td>' + '' + '</td><td>' + receipt_date + '</td>+' +
                        '<td>' + amount_received + '</td><td>' + Running_Balance + '</td></tr>');
                }
                else

                    $('#summary_statement_loans').append('<tr><td>' + '' + '<td>' + Issued + '</td><td>' + receipt_date + '</td>+' +
                        '<td>' + amount_received + '</td><td>' + principal + '</td><td>' + interest + '</td><td>' + Running_Balance + '</td></tr>');


            }


            )

        })
    }
</script>
<script type="text/javascript">
    //datepickers
    $(".dtPicker ").each(function () {
        $(this).DisablePastingAndEdit();
    })

</script>
<script type="text/javascript">
    $('.statement-table').hide();
</script>

<!--get details of the member contribution -->
<script type="text/javascript">
    $(document).ready(function () {
        //$.noConflict();
        jQuery('#detailButton_form').on('click', function () {
            var member_number = $('#member').val();
            get_member_sacco_profile();
            getDepositContribution(member_number);
    })
       

    })
</script>
<script type="text/javascript">
    function get_member_sacco_profile(member_number) {
        //get selected member
        var memberno = $('#member').val();

        const url = 'http://localhost:1079/loanapplication/get_member_sacco_profile/?member_number=' + memberno;
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {

                //console.log(entry);
                //alert(JSON.stringify(entry[0].Key))
                //alert(JSON.stringify(entry[1].Key))
                //alert(JSON.stringify(entry[2].Key))
                //alert(JSON.stringify(entry[3].Key))




                let TotalDeposit = JSON.stringify(entry[0].Value)

                let LoanCount = JSON.stringify(entry[1].Value)

                let FreeDeposit = JSON.stringify(entry[2].Value)

                let company = JSON.stringify(entry[3].Value)

                let LoanBalance = JSON.stringify(entry[4].Value)

                let fullname = (entry[5].Value)


                //get table data cells
                var loancountcell = document.getElementById("loancount");
                var totaldepositcell = document.getElementById("totaldeposit");
                var loanbalancecell = document.getElementById("outstandingloan");
                var freedepositcell = document.getElementById("freedeposit");
                var companycell = document.getElementById("company");
                var fullnameCell = document.getElementById("name");


                //append the results to table
                loancountcell.innerHTML = LoanCount;
                totaldepositcell.innerHTML = TotalDeposit;
                loanbalancecell.innerHTML = LoanBalance;
                freedepositcell.innerHTML = FreeDeposit;
                fullnameCell.innerHTML = fullname;

                //remove quotation marks
                company = company.slice(1, company.length - 1)
                companycell.innerHTML = company;



            });
        });
        return false;

    }
</script>
<script type="text/javascript">
    function getDepositContribution() {
        $('#summary_statement_deposit_detailed >tbody>tr').detach();

        var member_number = $('#member').val();
        var firstDate = $('#start_date').val();
        var secondDate = $('#end_date').val();
        const url = 'http://localhost:1079/memberbalances/getDeposit_Statement';

        $.getJSON(url, { member_number, firstDate, secondDate }, function (data) {

            $.each(data, function (key, entry) {

                let receipt_date = entry[0].Value;
                let description = entry[1].Value;
                let payment_mode = entry[2].Value;
                let amount = entry[3].Value;
                let total = entry[4].Value;

                receipt_date = (entry[0].Value)
                var d = /\/Date\((\d*)\)\//.exec(receipt_date);
                receipt_date = new Date(+d[1]).toLocaleDateString('en-GB');
                $('#summary_statement_deposit_detailed').append('<tr><td>' + receipt_date + '</td><td>' + description + '</td><td>' + payment_mode + '</td><td>' + amount + '</td><td>' + total + '</td></tr>');

            })
        })

    }
</script>
<!--data tables-->



